.u-btn{
	.db;.pointer;.x;
}

.u-btn-blue(a){
	color:#fff;
	background-color: #0064cd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #049cdb), color-stop(100%, #0064cd));
	background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
	background-image: linear-gradient(top, #049cdb, #0064cd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border: 1px solid #0064cd;
	&:hover{
		background-color:lighten(#0064cd, 8%);
	}
}

.u-btn-blue(b){
	background-color:#0084ff;
	color:#fff;
	&:hover{
		background-color:lighten(#0084ff,10%);
	}
}

.u-btn-gray(a){
	cursor: pointer;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(25%, #fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#fff, #fff 25%, #e6e6e6);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #fff), to(#e6e6e6));
	background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	
	padding: 5px 14px 6px;
	margin: 0;

	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);

	border: 1px solid #ccc;
	border-bottom-color: #bbb;

	transition: .1s linear background-image;
	overflow: visible;
	
	color: #444;
}

.u-btn-gray(b){
	cursor: pointer;
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	padding: 5px 14px 6px;
	margin: 0;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	color: #333;
	font-size: 13px;
	line-height: normal;
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition: 0.1s linear background-image;
	-moz-transition: 0.1s linear background-image;
	-ms-transition: 0.1s linear background-image;
	-o-transition: 0.1s linear background-image;
	transition: 0.1s linear background-image;
	overflow: visible;

	&:hover,&:focus{
		background-color:#eee;
		outline: 0;
		box-shadow:0 0 2px #00ccff;
	}
}

.u-btn-gray(c){
	background-color: #e6e6e6;
	background-repeat: no-repeat;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), color-stop(25%, #fff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#fff, #fff 25%, #e6e6e6);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(25%, #fff), to(#e6e6e6));
	background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	text-shadow: 0 1px 1px rgba(255,255,255,0.75);
	border-bottom-color: #bbb;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
	-webkit-transition: .1s linear background-image;
	transition: .1s linear background-image;
}


.u-btn-green(a){
	.db;.full(x);.x;
	border-radius:3px;
	color:#fff;
	background-color:#40ab15;
	&:hover{
		background-color:#45b917;
		color:#fff;
	}
}