.blue1 {
    background-color: #fafdff;
    border-color: #cceafe;
    color: #049abf;
}
.blue2 {
    background-color: #e3f5ff;
    border-color: saturate(#c9eafd, 50%);
    color: #049abf;
}

.important{
	.bold;color:#ff0000;
}
