

.tips(yel){
	border: 1px solid #f0ea8e;
  	background-color: #fffddf;
}

.tips(grays){
	color: #dd0055;
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 3px;
	box-shadow: 0 0 1px #eee inset;
}

.tips(warning){
	.tips(yel);
	padding: 5px 10px;
	a{
		color:@bluex;text-decoration:underline;
		&:hover{color:#d05;}
	}
	i{
		background:url('@{url}icon/icon-report-16.png') no-repeat 0 0;.size(16px);
		.dbi;
		vertical-align: -3px;margin-right: 4px;
	}
}