

.tips(yel){
	border: 1px solid #f0ea8e;
  	background-color: #fffddf;
}

.tips(grays){
	color: #dd0055;
	border: 1px solid #ddd;
	background: #fafafa;
	border-radius: 3px;
	box-shadow: 0 0 1px #eee inset;
}