<!-- jx3pve:分类导航 -->
<h2>分类导航<a class="u-btn-pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=92" target="_blank">快速发布</a></h2>
<ul class="m-face-sort">
    <li><a class="woman" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=212"><i></i>御姐<em>woman</em></a></li>
    <li><a class="girl" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=213"><i></i>萝莉<em>girl</em></a></li>
    <li><a class="man" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=211"><i></i>成男<em>man</em></a></li>
    <li><a class="boy" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=214"><i></i>正太<em>boy</em></a></li>
</ul>

<h2>作者作品搜索</h2>
<div class="m-face-search m-pvx-search">
    <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&fid=92&filter=sortid&sortid=15">
        <input type="text" name="searchoption[101][value]" size="15" class="px vm" value="">
        <button type="submit" class="u-button-search" name="searchsortsubmit">搜索</button>
    </form>
    <div class="hot">
        <h3>热搜：</h3>
        <!--{block/1272}-->
    </div>
</div>

<!-- jx3pve:帮助文档 -->
<h2>帮助文档<a class="u-btn-pub2" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=2&extra=" target="_blank"><i></i>分享</a></h2>
<div class="m-face-help m-pvx-help">
    <!--{block/1273}-->
</div>

<!-- jx3pve:帮助文档 -->
<h2>主编推荐<a class="more" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=digest&digest=1" target="_blank">更多</a></h2>
<div class="m-face-recommond m-pvx-imglist-1">
    <!--{block/1397}-->
</div>

<!-- jx3pve:任务中心 -->
<h2>任务奖励<a class="more" href="http://www.jx3pve.com/home.php?mod=task" target="_blank">更多</a></h2>
<div class="m-face-tasklist m-pvx-tasklist">
    <!--{block/1275}-->
</div>

<!-- jx3pve:主编互动 -->
<h2>主编互动</h2>
<div class="m-face-zhubian m-pvx-zhubian">
    <!--{block/1410}-->
</div>