<div class="m-face-list">
	<ul>
		[loop]
		<li>
			<a class="short" href="{subject_url}">
				<span class="img"><img src="{faceshot_value}" alt=""></span>
				<em class="author">作者：{faceauthor_value}</em>
				<em class="counts">{facedown_downloads}</em>
				<i class="shark"></i>
				<i class="u-face-mark"></i>
			</a>
			<span class="info">
				<span class="item"><em>作者：</em><span>{faceauthor_value}</span></span>
				<span class="item"><em>脸型简介：</em><span>{face_intro_value}</span></span>
				<span class="item"><em>发布时间：</em><span>{dateline}</span></span>
				<span class="item"><em>下载次数：</em><span>{facedown_downloads}</span></span>
				<span class="item"><em>多角度：</em></span>
				<span class="minipic">
					<i class="img"><img src="{face_shot1_value}"></i>
					<i class="img"><img src="{face_shot2_value}"></i>
					<i class="img"><img src="{face_shot3_value}"></i>
				</span>
				<a class="u-btn-facedown" href="{subject_url}">查看详情</a>
			</span>
			<em class="control">{modcheck}</em>
		</li>
		[/loop]
	</ul>
</div>


<div class="face-list-primary">
	<ul>
	[loop]
		<li>
			<a class="face-short" href="{subject_url}"><span><img src="{faceshot_value}" alt=""></span></a>
			<div class="info">
				<a class="btn-down" href="{facedown_value}">下载数据</a>
				<p class="details">
					<span>脸型作者：{faceauthor_value}</span>
					<span>下载次数：{facedown_downloads}</>
				</p>
			</div>
		</li>
	[/loop]
	</ul>
</div>



<div class="m-face-view">
	<a class="m-short" href="{subject_url}">
		<span class="img"><img src="{faceshot_value}" alt=""></span>
		<i class="shark"></i>
		<i class="u-face-mark"></i>
	</a>
	<div class="m-ct">
		<div class="m-details">
			<div class="m-info">
				<p class="item"><em>作者：</em><span>{faceauthor_value}</span></p>
				<p class="item"><em>微博：</em><span class="u-face-weibo">{author_wb_value}</span></p>
				<p class="item intro"><em>脸型简介：</em><span>{face_intro_value}</span></p>
			</div>
			<div class="m-down">
				<a class="u-btn-facedown" href="{facedown_value}">点击下载</a>
				<span class="counts"><em>下载次数：</em><span>{facedown_downloads}</span></span>
				<div class="m-share">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
				</div>
			</div>
		</div>
		<div class="m-extend">
			<h3 class="m-more">多角度：</h3>
			<ul class="minipic">
				<li class="img">
					<span>正面影像</span>
					<img src="{face_shot1_value}">
				</li>
				<li class="img">
					<span>侧面影像</span>
					<img src="{face_shot2_value}">
				</li>
				<li class="img">
					<span>俯视影像</span>
					<img src="{face_shot3_value}">
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="face-view-primary">
	<div class="face_img"><img src="{faceshot_value}"></div>
	<div class="face_info">
		<ul>
			<li><span>脸型作者：</span>{faceauthor_value}</li>
			<li><span>所在区服：</span>{fuwuqi_value}</li>
			<li><span>下载次数：</span>{facedown_downloads}</li>
			<li><span>数据下载：</span><a href="{facedown_value}" class="face_btn">下载脸型数据</a></li>
			<li class="face_share"><span>分享扩散：</span><div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script></li>
		</ul>
		<div class="face_intro">
		<h3>作者说明：</h3>
		{face_intro_value}
		</div>
	</div>
</div>