<table>
<tr>
	<th>BOSS</th>
	<th>团队</th>
	<th>时间</th>
</tr>
[loop]
<tr>
	<td><a class="boss" href="{subject_url}">{wujiaboss_value}</a></td>
	<td><a class="team" href="{fburl_value}">{raidname_value}</a></td>
	<td><span class="time">{toptime_value}</span></td>
</tr>
[/loop]
</table>