<div class="macro-info-primary">

	<div class="macro-info-base">
		<ul>
			<li><span>作者名称:</span>{macro_author_value}</li>
			<li><span>适用心法:</span>{macro_role_value}</li>
			<li><span>更新时间:</span><em id="u-post-lastupdate"></em></li>
			<li><span>辅助工具:</span><a id="macro_tools" href="{macro_tool_value}" class="down" target="_blank">点击查看</a></li>
		</ul>
	</div>

	<div class="important">
		<h3>简介说明 <span>!important</span></h3>
		<div class="content">
			{macro_ac_value}
		</div>
		<div class="bdsharebuttonbox macro-share">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
			<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</div>

	<div class="role-info-1 role-info">
		<h3>奇穴方案</h3>
		<div class="content">
			{macro_qx_value}
		</div>
	</div>

	<div class="role-info-2 role-info">
		<h3>秘籍搭配</h3>
		<div class="content">
			{macro_mj_value}
		</div>
	</div>

	<div class="role-info-3 role-info">
		<h3>急速推荐</h3>
		<div class="content">
			{macro_js_value}
		</div>
	</div>

	<div class="macro-format-tips">请使用IE9以上浏览器，或<a href="http://rj.baidu.com/soft/detail/14744.html?ald" target="_blank">Chrome</a> / <a href="http://chrome.360.cn/" target="_blank">360极速浏览器</a>等现代浏览器阅览本站，以免部分功能失效或异常。</div>

	<div class="macro-alone macro-frag">
		<h3>一段宏</h3>
		<div id="macro-ct1" class="macro-ct">
			{macro_ct1_value}
		</div>
	</div>

	<div class="macro-more macro-frag">
		<h3>多段宏</h3>
		<span id="macro-copy-tips">绿色部分为注释说明,请勿复制到宏中</span>
		<div id="macro-ct2" class="macro-ct">
			{macro_ct2_value}
		</div>
	</div>

	<div class="role-info-4 role-info">
		<h3>配装建议</h3>
		<div class="content">
			{macro_pz_value}
		</div>
	</div>

	<div class="role-info-5 role-info">
		<h3>更新日志</h3>
		<div class="content">
			{macro_log_value}
		</div>
	</div>

	<div class="role-info-6 role-info">
		<h3>更多说明</h3>
	</div>

</div>
	