<div class="m-raid-primary-1 m-raid-v2primary">
	<!-- logo -->
	<div class="raidlogo">
		<img class="logo" src='{raidlogo_value}' width="180px" height="100px">
		<i class="verif"><span>{vanfon_verify}</span></i>
		<!-- 短消息留言 -->
		<a href=""></a>
	</div>
	<!-- 字段 -->
	<div class="m-details">
		<ul>
			<li><span>团队名称</span>{raidname_value}</li>
			<li><span>服务器</span>{fuwuqi_value}</li>
			<li><span>团队性质</span>{raidnature_value}</li>
			<li><span>团队类型</span>{raidsex_value}</li>
			<li><span>开团日</span>{raidtime_value}</li>
			<li><span>时间段</span>{raidtimefull_value}</li>
			<li><span>YY频道</span>{raidyy_value}</li>
			<li><span>联系YY</span>{baotuan4_value}</li>
		</ul>
	</div>
	<!-- 简要介绍 -->
	<div class="m-intro">
		<h2>团队简介</h2>
		<p class="words">
			<!-- 团长等，创建时间，主力成员及相关成就作品，GS要求 -->
		</p>
		<p class="control">
			<a class="edit" href=""></a>
			<a class="magic" href=""></a>
		</p>
	</div>
	<!-- 收藏与举报 -->
	<div class="m-fav">
		<a class="fav" href=""></a>
		<a class="report" href=""></a>
	</div>
	<!-- 分享 -->
	<div class="m-share">
		
	</div>
	<input id="u-raid-banner" type="hidden" value="{raidbanner_value}">
</div>

<div class="m-raid-primary-2 m-raid-v2primary">
	<!-- 团队活动 -->
	<div class="m-activity">
		
	</div>
</div>

<div class="m-raid-primary-3 m-raid-v2primary">
	<!-- 团队福利 -->
	<div class="m-lucky">
		
	</div>
</div>

<div class="m-raid-primary-4 m-raid-v2primary">
	<!-- 团队宣言 -->
	<div class="m-raidac">
		
	</div>
	<!-- 团队合影 -->
	<div class="m-photo">
		
	</div>
</div>

<div class="m-raid-primary-5 m-raid-v2primary">
	<!-- 团长成绩 -->
	<div class="m-raidscore">
		
	</div>
</div>

<div class="m-raid-primary-6 m-raid-v2primary">
	<!-- 用户评价 -->
	<div class="m-raidcmt">
		
	</div>
</div>