团队列表
<div class="m-raid-list">
	<ul>
	[loop]
		<li class="m-raid-unit m-raid-unit-team">
			<span class="raidlogo">
				<img class="logo" src="{raidlogo_value}" alt="{raidname_value}"/>
				<i class="verif"><span>{author_verify}</span></i>
				<i class="sex"><span>{raidnature_value}</span></i>
				<i class="e-mask mask mask-top"></i>
				<i class="e-mask mask mask-bottom"></i>
				<em class="mask-name">{raidname_value}</em>
			</span>
			<span class="raidinfo">
				<span class="tr"><span class="name">{raidname_value}</span></span>
				<span class="tr"><span class="key">{fuwuqi_value}</span></span>
				<span class="tr"><em class="label">团队简介：</em><span class="key">{raidintro_value}</span></span>
			</span>
			<a class="link" href="{subject_url}" target="_blank"></a>
			<span class="control">{modcheck}</span>
		</li>
		[/loop]
	</ul>
</div>


个人列表
<div class="m-raid-list">
	<ul>
	[loop]
		<li class="m-raid-unit m-raid-unit-person">
			<span class="author">
				<img src="http://www.jx3pve.com/uc_server/avatar.php?uid={authorid}&size=middle" width="80px" height="80px"/>
				<i class="verif"><span>{author_verify}</span></i>
			</span>
			<span class="personinfo">
				<span class="tr"><span class="name">{author}</span></span>
				<span class="tr"><span class="key">{fuwuqi_value}</span></span>
				<span class="tr"><em class="label">可选职业：</em><span class="key">{myrole_value}</span></span>
			</span>
			<a class="link" href="{subject_url}" target="_blank"></a>
			<span class="control">{modcheck}</span>
		</li>
	[/loop]
	</ul>
</div>

团队单页
<div class="m-raid-vprimary">
	<div class="logo">
		<img src='{raidlogo_value}' width="180px" height="100px">
	</div>
	<div class="details">
		<ul>
			<li><span>团队名称</span>{raidname_value}</li>
			<li><span>服务器</span>{fuwuqi_value}</li>
			<li><span>团队性质</span>{raidnature_value}</li>
			<li><span>开团时间</span>{raidtime_value}</li>
			<li><span>YY频道</span>{raidyy_value}</li>
			<li><span>联系方式</span>{baotuan4_value}</li>
		</ul>
	</div>
	<input id="u-raid-banner" type="hidden" value="{raidbanner_value}">
</div>


个人单页
<div class="m-raid-vprimary">
	<div class="logo">
		<img src="http://static.jx3pve.com/uc_server/avatar.php?uid={authorid}&size=middle" width="80px" height="80px" class="avt"/>
	</div>
	<div class="details">
		<ul>
			<li><span>服务器</span>{fuwuqi_value}</li>
			<li><span>期望时间段</span>{mytime_value}</li>
			<li><span>可选职业</span>{myrole_value}</li>
			<li><span>联系房时</span>{baotuan4_value}</li>
		</ul>
	</div>
</div>