<div class="tool-info-primary">
	<ul class="tool-info-primary-list">
		[loop]
		<li>
			<div class="title"><a href="{subject_url}">{subject}</a></div>
			<ul class="meta">
				<li class="type">{toolscat_value}</li>
				<li><span>作者</span>{chajian2311_value}</li>
				<li><span>更新日期</span>{chajian2511_value}</li>
				<li><span>查看次数</span>{views}</li>
				<li><span>回复次数</span>{replies}</li>
			</ul>
			<div class="des">
				{tool_function_value}
			</div>
			<div class="more"><a class="gray-btn" href="{subject_url}">{subject}</a></div>
		</li>
		[/loop]
	</ul>
</div>