<div class="pve-primary">
	
	<!-- 标题 -->
	<div class="m-til">
		<h2><i></i>关键词导航</h2>
		<span class="folder" id="pve-primary-tg"><i>-</i><em>折叠</em></span>
	</div>

	<!-- 展开内容 -->
	<div class="m-ct" id="pve-primary-ct">

		<!-- 罗盘 -->
		<div class="m-compass">
			
			<!-- 职业改动·红尘宝典 -->
			<div class="top">
				<h3>职业改动：</h3>
				<!--{block/1022}-->
			</div>

			<!-- 关键词 -->
			<div class="key">
				<ul id="pve-primary-key">
					<li><a href="javascript:void(0)">最新热门</a></li>
					<li><a href="javascript:void(0)">基础入门</a></li>
					<li><a href="javascript:void(0)">高级进阶</a></li>
					<li><a href="javascript:void(0)">基础属性</a></li>
					<li><a href="javascript:void(0)">技能详解</a></li>
					<li><a href="javascript:void(0)">奇穴详解</a></li>
					<li><a href="javascript:void(0)">秘籍搭配</a></li>
					<li><a href="javascript:void(0)">配装方案</a></li>
					<li><a href="javascript:void(0)">附魔宝石</a></li>
					<li><a href="javascript:void(0)">小药合剂</a></li>
					<li><a href="javascript:void(0)">洗炼淬炼</a></li>
					<li><a href="javascript:void(0)">副本实践</a></li>
					<li><a href="javascript:void(0)">试炼之地</a></li>
					<li><a href="javascript:void(0)">插件工具</a></li>
					<li><a href="javascript:void(0)">职业宏</a></li>
					<li><a href="javascript:void(0)">其他</a></li>
				</ul>
			</div>

			<!-- 推荐文章 -->
			<div class="show">

				<!-- 当未选定职业时显示默认最新，并给关键词加上其余不可点颜色 Help -->
				<div class="listbox index">
					<div class="list">
						测试默认
					</div>
				</div>

				<!-- 当选定某个职业时，取出rq + key > 对应第某个职业的第N个关键词列表 -->

				<!-- 七秀 -->
				<div class="listbox qx">
					<div class="list list-hot"><!--{block/1023}--></div>
					<div class="list list-first"><!--{block/1024}--></div>
					<div class="list list-adv"><!--{block/1025}--></div>
					<div class="list list-base"><!--{block/1026}--></div>
					<div class="list list-skill"><!--{block/1027}--></div>
					<div class="list list-qixue"><!--{block/1028}--></div>
					<div class="list list-miji"><!--{block/1029}--></div>
					<div class="list list-peizhuang"><!--{block/1030}--></div>
					<div class="list list-fumobaoshi"><!--{block/1031}--></div>
					<div class="list list-xiaoyao"><!--{block/1032}--></div>
					<div class="list list-xlcl"><!--{block/1033}--></div>
					<div class="list list-raid"><!--{block/1034}--></div>
					<div class="list list-shilian"><!--{block/1035}--></div>
					<div class="list list-tool"><!--{block/1036}--></div>
					<div class="list list-macro"><!--{block/1037}--></div>
					<div class="list list-other"><!--{block/1038}--></div>
				</div>

				<!-- 万花 -->
				<div class="listbox wh">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 五毒 -->
				<div class="listbox wd">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 天策 -->
				<div class="listbox tc">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 明教 -->
				<div class="listbox mj">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 少林 -->
				<div class="listbox sl">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 苍云 -->
				<div class="listbox cyun">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 纯阳 -->
				<div class="listbox cy">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 唐门 -->
				<div class="listbox tm">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 藏剑 -->
				<div class="listbox cj">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 丐帮 -->
				<div class="listbox gb">
					<div class="list list-hot"></div>
					<div class="list list-first"></div>
					<div class="list list-adv"></div>
					<div class="list list-base"></div>
					<div class="list list-skill"></div>
					<div class="list list-qixue"></div>
					<div class="list list-miji"></div>
					<div class="list list-peizhuang"></div>
					<div class="list list-fumobaoshi"></div>
					<div class="list list-xiaoyao"></div>
					<div class="list list-xlcl"></div>
					
					
					<div class="list list-raid"></div>
					<div class="list list-shilian"></div>
					<div class="list list-tool"></div>
					<div class="list list-macro"></div>
					
					<div class="list list-other"></div>
				</div>

				<!-- 通用，通用时同第一个关闭其他 -->
				<div class="listbox ty">
					<div class="list"></div>
				</div>
				
			</div>

		</div>

		<!-- 侧边栏 -->
		<div class="m-sidebar">
			
			<div class="authorbox default">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>总编：</em>
							<!--{block/1233}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1041}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="til">特邀作者</span>
					<span class="more">
						<!--{block/1042}-->
					</span>
				</div>
			</div>

			<div class="authorbox qx">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1017}-->
						</span>
						<span>
							<em>主编寄语：<!--{block/1039}--></em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1040}-->
					</span>
				</div>
			</div>

			<div class="authorbox wh">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox wd">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox tc">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox mj">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox sl">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox cyun">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox cy">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox tm">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox cj">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox gb">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="authorbox ty">
				<div class="author">
					<i class="logo"></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<a href="#">慧亦</a></span>
						<span>
							<em>主编寄语：</em>
							
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						
					</span>
				</div>
			</div>

			<div class="btn">
				<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" class="pus" target="_blank" title="推荐的作品只需要提交作品名称、地址和作者即可，站内站外地址均可">推荐作品</a>
				<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=384" class="pub" target="_blank" title="在站内发布或转载作品">发布作品</a>
			</div>

		</div>

	</div>

</div>

<!-- jx3pve:banner-middle -->
<div class="pve-banner">
	<!--{block/1018}-->
</div>

