<div class="pve-primary">
	
	<!-- 标题 -->
	<div class="m-til">
		<h2><i></i>推荐导航</h2>
		<span class="folder" id="pve-primary-tg"><i>-</i><em>折叠</em></span>
	</div>

	<!-- 展开内容 -->
	<div class="m-ct" id="pve-primary-ct">

		<!-- 罗盘 -->
		<div class="m-compass">
			
			<!-- 职业改动·红尘宝典 -->
			<div class="top">
				<h3>职业改动：</h3>
				<!--{block/1022}-->
			</div>

			<!-- 推荐文章 -->
			<div class="show">
				<div class="boxwp">

				<!-- 当未选定职业时显示默认最新，并给关键词加上其余不可点颜色 Help -->
				<!--{if !$_GET['typeid']}-->
				<div class="listbox index" style="display:block">
					<div class="list">
						<!--{block/1236}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 七秀 -->
				<!--{if $_GET['typeid']==335}-->
				<div class="listbox qx">
					<div class="list rolebox bx">
						<h3><span>冰心诀</span></h3>
						<!--{block/954}-->
					</div>
					<div class="list rolebox ys">
						<h3><span>云裳心经</span></h3>
						<!--{block/973}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 万花 -->
				<!--{if $_GET['typeid']==336}-->
				<div class="listbox wh">
					<div class="list rolebox hj">
						<h3><span>花间游</span></h3>
						<!--{block/955}-->
					</div>
					<div class="list rolebox lj">
						<h3><span>离经易道</span></h3>
						<!--{block/972}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 五毒 -->
				<!--{if $_GET['typeid']==337}-->
				<div class="listbox wd">
					<div class="list rolebox dj">
						<h3><span>毒经</span></h3>
						<!--{block/957}-->
					</div>
					<div class="list rolebox nd">
						<h3><span>补天心经</span></h3>
						<!--{block/971}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 天策 -->
				<!--{if $_GET['typeid']==338}-->
				<div class="listbox tc">
					<div class="list rolebox ax">
						<h3><span>傲血战意</span></h3>
						<!--{block/970}-->
					</div>
					<div class="list rolebox tl">
						<h3><span>铁牢律</span></h3>
						<!--{block/958}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 明教 -->
				<!--{if $_GET['typeid']==339}-->
				<div class="listbox mj">
					<div class="list rolebox fy">
						<h3><span>焚影圣决</span></h3>
						<!--{block/969}-->
					</div>
					<div class="list rolebox mz">
						<h3><span>明尊琉璃体</span></h3>
						<!--{block/959}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 少林 -->
				<!--{if $_GET['typeid']==340}-->
				<div class="listbox sl">
					<div class="list rolebox yj">
						<h3><span>易筋经</span></h3>
						<!--{block/960}-->
					</div>
					<div class="list rolebox xs">
						<h3><span>洗髓经</span></h3>
						<!--{block/968}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 苍云 -->
				<!--{if $_GET['typeid']==341}-->
				<div class="listbox cyun">
					<div class="list rolebox fs">
						<h3><span>分山劲</span></h3>
						<!--{block/965}-->
					</div>
					<div class="list rolebox tg">
						<h3><span>铁骨衣</span></h3>
						<!--{block/974}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 纯阳 -->
				<!--{if $_GET['typeid']==342}-->
				<div class="listbox cy">
					<div class="list rolebox qc">
						<h3><span>紫霞功</span></h3>
						<!--{block/967}-->
					</div>
					<div class="list rolebox jc">
						<h3><span>太虚剑意</span></h3>
						<!--{block/961}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 唐门 -->
				<!--{if $_GET['typeid']==343}-->
				<div class="listbox tm">
					<div class="list rolebox tm">
						<h3><span>天罗诡道</span></h3>
						<!--{block/966}-->
					</div>
					<div class="list rolebox jy">
						<h3><span>惊羽决</span></h3>
						<!--{block/962}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 藏剑 -->
				<!--{if $_GET['typeid']==344}-->
				<div class="listbox cj">
					<div class="list cj">
						<h3><span>藏剑</span></h3>
						<!--{block/963}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 丐帮 -->
				<!--{if $_GET['typeid']==345}-->
				<div class="listbox gb">
					<div class="list gb">
						<h3><span>丐帮</span></h3>
						<!--{block/964}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 长歌 -->
				<!--{if $_GET['typeid']==349}-->
				<div class="listbox cgm">
					<div class="list rolebox mw">
						<h3><span>莫问</span></h3>
						<!--{block/1422}-->
					</div>
					<div class="list rolebox xz">
						<h3><span>相知</span></h3>
						<!--{block/1423}-->
					</div>
				</div>
				<!--{/if}-->

				<!-- 通用 -->
				<!--{if $_GET['typeid']==346}-->
				<div class="listbox ty">
					<div class="list ty">
						<h3><span>通用</span></h3>
						<!--{block/1235}-->
					</div>
				</div>
				<!--{/if}-->

				</div>				
			</div>

		</div>

		<!-- 侧边栏 -->
		<div class="m-sidebar">
			
			<!--{if !$_GET['typeid']}-->
			<div class="authorbox default" style="display:block">
				<div class="author">
					<i class="logo"><!--{block/1260}--></i>
					<p class="text">
						<span>
							<em>总编：</em>
							<!--{block/1233}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1041}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="til">特邀作者</span>
					<span class="more">
						<!--{block/1042}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==335}-->
			<div class="authorbox qx">
				<div class="author">
					<i class="logo"><!--{block/1248}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1017}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1039}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1040}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==336}-->
			<div class="authorbox wh">
				<div class="author">
					<i class="logo"><!--{block/1249}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1046}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1047}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1048}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==337}-->
			<div class="authorbox wd">
				<div class="author">
					<i class="logo"><!--{block/1250}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1065}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1066}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1064}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==338}-->
			<div class="authorbox tc">
				<div class="author">
					<i class="logo"><!--{block/1251}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1061}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1062}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1063}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==339}-->
			<div class="authorbox mj">
				<div class="author">
					<i class="logo"><!--{block/1252}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1052}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1053}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1054}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==340}-->
			<div class="authorbox sl">
				<div class="author">
					<i class="logo"><!--{block/1253}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1043}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1044}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1239}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==341}-->
			<div class="authorbox cyun">
				<div class="author">
					<i class="logo"><!--{block/1254}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1067}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1068}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1069}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==342}-->
			<div class="authorbox cy">
				<div class="author">
					<i class="logo"><!--{block/1255}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1049}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1050}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1051}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==343}-->
			<div class="authorbox tm">
				<div class="author">
					<i class="logo"><!--{block/1256}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1058}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1059}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1060}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==344}-->
			<div class="authorbox cj">
				<div class="author">
					<i class="logo"><!--{block/1257}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1055}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1056}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1057}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==345}-->
			<div class="authorbox gb">
				<div class="author">
					<i class="logo"><!--{block/1258}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1070}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1071}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1072}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<!--{if $_GET['typeid']==346}-->
			<div class="authorbox ty">
				<div class="author">
					<i class="logo"><!--{block/1259}--></i>
					<p class="text">
						<span>
							<em>主编：</em>
							<!--{block/1237}-->
						</span>
						<span>
							<em>主编寄语：</em>
							<!--{block/1238}-->
						</span>
					</p>
				</div>
				<div class="extend">
					<span class="title">特邀作者</span>
					<span class="more">
						<!--{block/1240}-->
					</span>
				</div>
			</div>
			<!--{/if}-->

			<div class="btn">
				<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" class="pus" target="_blank" title="推荐的作品只需要提交作品名称、地址和作者即可，站内站外地址均可">推荐作品</a>
				<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=384" class="pub" target="_blank" title="在站内发布或转载作品">发布作品</a>
			</div>

		</div>

	</div>

</div>
