<!-- jx3pve:职业导航 -->
<div class="m-role-nav">
	<ul>
		<li class="ty"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=346&orderby=lastedit"><i></i>通用</a></li>
		<li class="qx"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=335&orderby=lastedit"><i></i>七秀</a></li>
		<li class="sl"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=340&orderby=lastedit"><i></i>少林</a></li>
		<li class="wh"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=336&orderby=lastedit"><i></i>万花</a></li>
		<li class="cy"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=342&orderby=lastedit"><i></i>纯阳</a></li>
		<li class="wd"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=337&orderby=lastedit"><i></i>五毒</a></li>
		<li class="tm"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=343&orderby=lastedit"><i></i>唐门</a></li>
		<li class="tc"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=338&orderby=lastedit"><i></i>天策</a></li>
		<li class="cj"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=344&orderby=lastedit"><i></i>藏剑</a></li>
		<li class="mj"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=339&orderby=lastedit"><i></i>明教</a></li>
		<li class="gb"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=345&orderby=lastedit"><i></i>丐帮</a></li>
		<li class="cyun"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=341&orderby=lastedit"><i></i>苍云</a></li>
		<li class="cgm"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=384&filter=typeid&typeid=349&orderby=lastedit"><i></i>长歌</a></li>
	</ul>
</div>

<!-- jx3pve:名词解释 -->
<h2>名词解释</h2>
<div class="m-role-glossary m-define">
	<!--{block/1019}-->
</div>

<!-- jx3pve:常用工具 -->
<h2>常用工具</h2>
<div class="m-role-tool m-downlist">
	<!--{block/1020}-->
</div>

<!-- jx3pve:基本理论 -->
<h2>基本理论</h2>
<div class="m-role-basic m-alist">
	<!--{block/1021}-->
</div>

<!-- jx3pve:任务 -->
<h2>任务奖励<a class="more" href="http://www.jx3pve.com/home.php?mod=task" target="_blank"></a></h2>
<div class="m-role-task m-tasklist">
	<!--{block/1291}-->
</div>