<!-- jx3pve:心法导航 -->
<div class="m-macro-nav">
	<ul>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=1&page=1&orderby=lastedit"><i class="ty" ></i>通用</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=2&page=1&orderby=lastedit"><i class="bx" ></i>冰心</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=3&page=1&orderby=lastedit"><i class="hj"></i>花间</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=4&page=1&orderby=lastedit"><i class="dj"></i>毒经</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=5&page=1&orderby=lastedit"><i class="axzy"></i>傲血</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=6&page=1&orderby=lastedit"><i class="fysj" ></i>焚影</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=7&page=1&orderby=lastedit"><i class="yj" ></i>易筋</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=8&page=1&orderby=lastedit"><i class="qc"></i>紫霞</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=9&page=1&orderby=lastedit"><i class="jc" ></i>太虚</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=10&page=1&orderby=lastedit"><i class="tl" ></i>天罗</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=11&page=1&orderby=lastedit"><i class="jy" ></i>惊羽</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=12&page=1&orderby=lastedit"><i class="cj"  ></i>藏剑</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=13&page=1&orderby=lastedit"><i class="gb" ></i>丐帮</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=14&page=1&orderby=lastedit"><i class="cyj" ></i>分山</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=15&page=1&orderby=lastedit"><i class="tll"></i>铁牢</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=16&page=1&orderby=lastedit"><i class="mjt"></i>明尊</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=18&page=1&orderby=lastedit"><i class="xs"  ></i>洗髓</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=17&page=1&orderby=lastedit"><i class="tgy"></i>铁骨</a></li>
	</ul>
</div>

<!-- jx3pve:宏作者作品搜索 -->
<h2>宏作者作品</h2>
<div class="m-macro-search">
	<form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=294&amp;filter=sortid&amp;sortid=18">
	    <input type="text" name="searchoption[180][value]" size="15" class="px vm" value="">
	    <button type="submit" class="u-btn-macrosearch" name="searchsortsubmit"><em>搜索</em></button>
	</form>
</div>

<!-- jx3pve:宏辅助 -->
<h2>辅助工具</h2>
<div class="m-macro-tool m-downlist">
	<ul>
		<li><a href="http://www.jx3pve.com/jx3/tools/keypress/"  target="_blank">按键辅助</a></li>
		<li><a href="http://www.jx3pve.com/cloud" target="_blank">超级宏（参考用）</a></li>
	</ul>
</div>

<!-- jx3pve:宏文档 -->
<h2>帮助文档</h2>
<div class="m-macro-help m-alist">
	<!--{block/1232}-->
</div>

<div class="m-ad-sidebar">
	<!--{ad/custom_2}-->
</div>