.pg_guide{
	#fwin_nav{
		#postbtn.xg1{
			background: #ccc;
			border: 1px solid #999;
			color: #888 !important;
		}
	}
	.tl .th td, .tl .th th{
		height:auto;
	}
	.tl .th{
		border-bottom:none;
		.r(24px);
	}
}

.user-guide-main{
	.w(@wp);.auto(x);

	.user-guide-content{
		margin-left:140px;
		#ct{
			.w(auto);
			padding:10px 0;
		}
	}

}

.pg_guide{
	#threadlist{
	}
}


