.user-os-header{

	padding:10px 0;

	.m-banner{
		
	}

	.user-os-profile{
		.pr;

		border-bottom:1px dotted #ddd;

		.m-govip{
			.z(2);
			.pa;right:20px;top:20px;
			padding:2px 10px 2px 5px;
			border: 1px solid #ccc;
			.u-btn-gray(c);
			a{
				background: url('@{url}user/vip2.gif') no-repeat 0 0;
				padding-left:30px;height:26px;.db;line-height:26px;
			}
		}

		.base-info{
			background-color:#f2f2f2;height:54px;padding:10px;border-radius:8px;.clearfix;.pr;
			.useravt{
				.fl;margin-right:10px;
				a{.db;height:54px;}
				img{width:48px;height:48px;border-radius:4px;padding:2px;background-color:#fff;border:1px solid #ddd;}
			}
			.username{
				b{.fz(16px,1.5);}
				i{color:@yel;.fz(12px,2.5);}
				a{color:@bluex;&:hover{color:#cc0000;border-bottom:1px dotted #ddd;}}
			}
			.usermail{
				text-indent:24px;
				&.novalidate{background:url('@{url}user/mail_inactive.png') no-repeat 65px 0;}
				&.validate{background:url('@{url}user/mail_active.png') no-repeat 65px 0;}
			}
		}

		.extend-info{
			.clearfix;padding:10px 0;letter-spacing:1px;

			li{
				.fl;.dbi;.y;.nobreak;height:28px;line-height:28px;margin-right:80px;
				label{background-color:#f2f2f2;border-radius:3px;padding: 5px 8px;}
			}

			.cre{
				label{}//letter-spacing:4px;
				span{.bold;color:#ff0000;}
			}

			.usergroup{
				.vm{
					vertical-align: -4px;
					margin-left:3px;
				}
			}

			.verf{
				label{}//letter-spacing:4px;
				span{.dbi;}
				img{margin-right:2px;}
			}
		}
	}
}