
//我的动态
.user-active-me{
	margin:20px 0;font-size:12px;
	padding:10px;
	border:1px solid #ddd !important;border-radius:6px;
	transition:background 0.3s ease-in-out;
	&:hover{background-color:#f2f2f2  !important;}

	table{width:100%;}
	th{.none;}
	td{h3{.none;}}
	#mood_mystatus{color:#777 !important;line-height:2;}
	#moodfm{
		.moodfm_input{
			width:680px;background:none;border:1px solid #ddd;border-radius:4px;
			textarea{width:98%;margin:0 auto;.db;padding:5px;}
		}
		.moodfm_btn{
				background:none;padding:0 0 0 10px;
			button{
				opacity:1;background:none;border:none;
				.u-btn-blue(b);
				.fz(18px,62px);
				border-radius:3px;height:62px;width:88px;
				//box-shadow:0 0 4px #666;
				font-family:'微软雅黑';letter-spacing:5px;
			}
		}
	}
}

//其他动态
.user-active{}
