//论坛样式版
.pg_space,.pg_follow{
	#uhd{

		//个人中心头像所在block
		width:@wp;margin:0 auto;
		margin-top: 10px;
	}
}

//个人资料
.u_profile{
	line-height:1.5;
	h2.mbn{
		.xw0{
			margin-left:5px;
			color:@yel;
		}
	}
	.pf_l li{
		line-height:2;
		  width: 30%;
  margin-right: 20px;
		.nobreak;
	}
}
.pg_space{
	.ct1{
		margin-bottom:20px;
	}
	#delform{
		.th{

		}
	}
}




//空间样式版
#space{
	#toptb{line-height:29px;}
}
//空间布局
#nv_home{

	//去掉中央边框
	.ct2_a, .ct3_a{border:none;background:none;}

	//与分页拉开间距
	.xld{margin-bottom:10px;}

	//头像设置
	.tfm{
		h2.xs2{
			.fz(12px,2) !important;border-bottom:1px dashed #ddd;margin-bottom:10px;.bold;
		}
	}
} 