.pg_task{
	.ct2_a{
		.ptm{
			p.xg2{
				a{.color(@bluex,#c00);}
			}
		}
		.bbda{
			div{
				a{.color(@bluex,#c00);}
			}
		}
	}
	.m-user-task-tips{
		.tips(grays);
		padding:2px 5px;
	}
}
//任务图标
.m-task-icon{
	.w(auto) !important;.h(auto) !important;
	max-width:64px;
	max-height:64px;
	.db;.auto(x);
}