.user-os-wechat{
	#pt{
		.w(@wp);.auto(x);
		padding:5px 0;
		.z{
			padding-left:10px;
		}
	}

	.flb{
		background-color:@basecolor;
		padding:5px 10px;
		em{color:#fff;}
		span{.none;}
		margin-bottom:20px;
	}

	.f_c{
		a{.color(@bluex);}
		a:hover{text-decoration:underline;}
	}
}