.zHome{
	.slideshow,.slidebar{
		text-shadow:none;
	}
} 
.zHomeFocusH2{
	a{
		.fz(12px,2);
	}
}

.zHomeFocusH1{
	.x;
	a{
		.fz(16px,2);
	}
}

/*
.index-container{
	overflow:hidden;
	background-color:#f7f7f7;
	padding:20px 0;



}

.m-index-slider{
	.fl;.size(400px,250px);
	.clip;
	margin-right:20px;
}

.m-index-news{
	.fl;.size(420px,250px);
	.clip;
	margin-right:20px;
	
	.m-h1{
		.x;.bold;
		a{.fz(16px,2);}
	}

	.m-h2{
		ul{}
		li{}
		a{
			.db;
			.fz(13px,2.2);
		}
	}


}
.m-index-happy{
	.fl;.size(320px,250px);

	.btngroup{
		.clearfix;
		a{.db;}
	}
	.wx{
		.fl;.db;
		img{.db;}
	}
	.forum{
		.fl;
		.size(180px,48px);
		.fzlh(16px,48px);.x;
		background-color:#fff;
		border:1px solid #ddd;
		border-radius:4px;
	}
	.top{
		.fl;
	}

}*/