.m-tool{
	.w(480px);.fl;
	.fz(12px,28px);
	ul{
		.clearfix;margin-bottom:5px;
	}
	h3{
		.fl;
		min-width: 58px;
		margin-right:10px;.x;
		background-color:#f2f2f2;.r(1px);padding:0 5px;
	}
	li{.fl;margin-right:15px;}
	a{
		
	}
}
.m-hottool{
	.fl;.pr;
	.size(260px,200px);.clip;
	margin-right:10px;
	img{.size(260px,200px);}
	.swiper-container{
		.full;
	}
	.swiper-pagination{
		.pa;.lb(0,5px);.x;
		.w(100%);
		.swiper-pagination-switch{
			.dbi;
			.size(8px);.r(8px);
			background-color:#0084ff;
			margin:0 2px;
			.pointer;
		}
		.swiper-active-switch{
			background-color:#fff;
		}
	}
}
.m-newtool{
	.w(398px);.fr;
	background-color:#f9f9f9;
	padding:5px;.r(4px);
	border:1px solid #ddd;
}