.index-container{
	overflow:hidden;
	padding-bottom:10px;
	background-color:#f2f2f2;
	.color(#666,#444,@bluex);
}

//通用
.m-index-block{
	margin-bottom:20px;
	.clearfix;

	.wp{
		border:1px solid #eee;
		box-shadow:0 0 4px #eee;
		.r(4px);
		.clearfix;
	}

	.m-subtil{
		.fz(15px,36px);.bold;
		.clearfix;
		//padding-left:5px;
		//border-bottom:1px solid #ddd;
		//padding-bottom:6px;
		//margin-bottom:6px;
		background-color:#444;
		color:#eee;
		padding:0 10px;
		.r(4px 4px 0 0);
		.til{
			.fl;
		}
		//i{.dbi;.size(24px);.y(top);margin-right:5px;.tm(.8);}
		.more{
			.dbi;.fr;.size(40px,12px);.indent;
			margin-top:11px;
			background:url('@{url}icon/more2.png') no-repeat 0 0;
			&:hover{
				background-position:0 -46px;
			}
		}
		.channel{
			.fl;
			margin-left:20px;
		}
		.misc{
			.fr;
			li{
				&:after{
					content:'╱';
					margin-left:10px;
				}
				&:last-child:after{
					.none;
				}
			}
		}
		.channel,.misc{
			//.dbi;.y(top);margin-left:30px;
			.clearfix;
			li{
				.fl;margin:0;padding:0;margin-right:10px;
				.fzlh(12px,36px);
			}
			a{}
			.color(#eee,#ccc,@blue);
			.normal;
		}
	}

	.m-index-subblock{
		.clearfix;
		background-color:#fff;
		//.r(4px);
		padding:10px;
	}
}
.m-index-list-a{
	ul li{
		a{
			transition:0.1s ease-in-out;
			.db;padding:3px 0 4px 0;
			.fz(12px,20px);
			.nobreak;.pr;
			em{
				transition:0.1s ease-in-out;
				.pa;.rt(0,0);
				color:#999;padding:0 10px;
				background-color:#f7f7f7;
			}
			&:hover{
				em{
					color:@yel;
					background-color:#eee;
				}
			}
		}
	}
}
.m-index-list-b{
	li{
		&:hover{
			background-color:#f7f7f7;
			em{color:@yel;}
		}
	}
	a{
		.db;.fz(12px,27px);
		.nobreak;.pr;
		em{
			.pa;.rt(0,0);
			color:#999;
			img{.dbi;.fr;.size(24px);.r(24px);margin-left:5px;}
		}
	}
}
.m-index-list-c{
	a{
		padding:4px 12px 4px 2px;.db;
		.fz(12px,23px);
		img{.fl;.size(24px);}
		span{.dbi;.fl;background-color:#f2f2f2;padding:0 5px;margin-left:5px;.r(2px);color:#777;margin-right:5px;}
		em{.fr;color:#b5b5b5;}
		&:hover{
			background-color:#f9f9f9;
			span{
				background-color:@yel;color:#fff;
			}
		}
	}
}
