
.m-index-bbs{
	.m-bbs,.m-share{
		.w(50%);.fl;
		ul{
			padding:0 10px;
		}
		li{
		}
		a{
			padding:4px 0;.db;
			.fz(12px,24px);
			img{.fl;.size(24px);}
			span{.dbi;.fl;background-color:#f2f2f2;padding:0 5px;margin-left:5px;.r(2px);color:#777;margin-right:5px;}
			em{.fr;color:#999;}
		}
	}
}
.m-copyright{
	.x;
	.fz(12px,2);
	border:2px solid #c00;
}

.m-links{
	.fz(12px,2);
	h3,ul{.fl;}
	h3{
		.bold;margin-right:20px;
	}
	ul{
		li{.fl;margin-right:20px;}
	}
}