.c-author{
	.w(160px);padding:0 20px;
	//头像
	.avatar{
		.db;.auto(x);
		.size(120px);.r(120px);
		img{.full;.r(120px);}
		padding:5px;
		border:1px solid #eee;
		&:hover{
			animation:rotateRound .6s ease-in-out;
		}
	}
	//用户名
	.name{
		.db;.x;
		.fz(12px,30px);
	}

	//在线状态
	.isonline{
		//.db;.x;
		i{
			.dbi;.size(8px);
			border-radius: 2px;
			box-shadow: 0 0 2px #eee;
			margin-right:5px;
		}
		em{.none;}
		.u-isonline-1{
			background: #eee;
			border: 1px solid #ccc;
		}
		.u-isonline-2{
			background: #53BB58;
			border: 1px solid #28AE3E;
		}
	}

	//联系方式
	.contact{
		margin-bottom:8px;
		.x;
		i{
			.dbi;.size(16px);margin-right:3px;.y(-3px);
		}
		a{
			.dbi;
		}
		.u-follow{
			margin-right:10px;
			i{
				background:url('@{urls}common/flw_ico.png') no-repeat 0 0;  
			}
		}
		.u-pm{
			i{
				background:url('@{url}icon/pmto.gif') no-repeat 0 0;
			}
		}
	}

	//认证
	.verif{
		.db;.x;
		margin-bottom:5px;
	}
	//用户组ID
	.usergroup{
		margin-bottom:5px;
		.auto(x);
		em{.none;}
	}

	//用户组图标、勋章
	.mixinfo{
		.group{
			.none;
			.x;
			margin-bottom:5px;
		}
		.medal{
			margin:20px 0 15px 0;
			border: 1px solid #eee;
			padding: 5px;
			border-radius: 6px;
			background: #f7f7f7;
			box-shadow: 0 0 2px #eee inset;
  			max-height:240px;
  			overflow:hidden;
			img{margin-right:2px;}
		}
	}

	//DIY扩展信息，帮会团队等
	.diyinfo{
		padding:5px;
		.fz(12px,1.8);
		.game{
			li{
				em{color:#888;}
				span{color:#555;}
			}
		}
		.nic{
			em{color:#888;}
			span{color:#555;}
		}
	}


	//只看作者
	.only{
		.u-btn-blue(b);
		.db;.size(120px,28px);line-height:28px;
		border-radius:4px;.x;
		.auto(x);
	}

	//跳转楼层
	.goto{
		.none;
	}

	//用户操作
	.manage{
		margin:10px 0;
		background-color:#f2f2f2;
		border-radius:2px;
		padding:5px 10px;
	}
}

