.c-replyer{
	.lh(24px);.r(24px);
	background-color:#eee;
	padding:2px 10px;
	.clearfix;
	.avatar{
		.fl;margin-right:5px;
		img{
			.size(24px);.r(24px);
		}
	}
	.name{
		.fl;margin-right:5px;
	}
	.verif{
		.fl;margin-right:5px;
	}
	.usergroup{
		.fl;margin-right:5px;
		margin-top:(24px - 16px) / 2;
	}
	.time{
		.fl;color:#666;
		em{
			margin-right:3px;
			color:#777;
			text-transform: lowercase;
		}
	}
	.floor{
		.fr;
		margin-left:5px;
	}
	.edit,.append{
		.fr;
		margin-left:8px;
		i{
			.w(17px);
			.dbi;.y(top);.h(24px);margin-right:3px;
			background:url('@{url}custom/edit.gif') no-repeat 0 center;
		}
	}
	.manage{
		.fr;
		.color(#888,#888,#c00);
	}
}