.c-star{
	#p_btn{
		a{
			background: none;
			margin:0;
			padding:0;
		}
		i{
			margin:0;
			padding:0;
			.db;.size(32px);
			background-image:url('@{url}custom/m-star.png');
			background-repeat:no-repeat;
		}
		.fav{
			i{background-position:-198px 0;}
			&:hover i{
				background-position:-231px 0;
			}
		}
		.zan{
			i{background-position:-66px 0;}
			&:hover i{
				background-position:-99px 0;
			}
		}
		.cai{
			i{background-position:-132px 0;}
			&:hover i{
				background-position:-165px 0;
			}
		}
		.rate{
			i{background-position:0 0;}
			&:hover i{
				background-position:-33px 0;
			}
		}
	}
}