.c-wall{
	.clearfix;
	li{
		.fl;margin-right:12px;
		margin-bottom:12px;
		.r(4px);
		background-color:#fff;
		border:1px solid #ddd;
		padding:5px;
	}
	a{
		.db;.pr;
		max-width:268px;
		img{
			.db;
			.full(x);
		}
		.mask{
			.pa;.lt(0,0);.full;
			.tb(0,0,0,.5);.none;
		}
		em{
			.x;.color(#fff);
			.fzlh(13px,20px);
			.ct(y,20px);.size(100%,20px);
			left:0;.none;
		}
		&:hover{
			.mask,em{
				.db;
				animation:fadeIn 0.3s ease-in-out forwards;
			}
		}
	}
}