.u-list-type1{
	li{
		a{
			.db;
			.fzlh(12px,26px);
			.pr;
			border-bottom:1px dotted #ddd;
			i{
				.pa;.rt(0,0);
				.db;.w(120px);.nobreak;
				img{.size(24px);.r(24px);.y;margin-left:5px;}
				.color(#777);
				.x(right);
			}
			em{
				.db;.fl;
				.color(#999);
				margin-right:10px;
			}
			&:hover{
				background-color:#f8f8f8;
				i{color:#c00;}
				em{color:@yel;}
			}
		}
	}
}