//折叠展开除主楼以外楼层
.u-msg-posttips{
	margin:10px 0;
	.fzlh(12px,26px);
	i{
		background:url('@{url}icon/add.gif') no-repeat 0 0;
		.dbi;.size(13px);.y(-2px);margin-right:5px;
		&.on{
			background:url('@{url}icon/desc.gif') no-repeat 0 0;
		}
	}
	background: #f7f7f7;
	border: 1px solid #eee;
	.x;
	color:#888;
	.pointer;
	&:hover{
		background-color:#f6f6f6;
		border:1px solid #ddd;
		color:@bluex;
	}
}

//回复灌水提醒
.u-msg-replytips{
	background: #f2f2f2;
	padding: 5px 10px;
	line-height: 2;
	letter-spacing: 0.2px;
	border-radius:3px;
	b{
		.bold;
		color:#f00;
	}
	.u-vip{
		color: #F7A309;
  		font-weight: bold;
	}
}

.u-msg-replytip{
	border:1px solid #eee;
	border-radius:3px;
	.size(100%,60px);
}