.w-category-nav{
	.pr;.clearfix;
	border:none;
	padding:0 45px 0 0;margin:0;
	//border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	.fzlh(12px,28px);

	.cat{
		.w(90px);.fl;margin-right:10px;
		border-right: 1px solid #ddd;
		background: #f7f7f7;
		.indent(10px);
		span{padding:0 5px;color:#777;}
	}

	//普通
	li{
		padding:0;
		margin:0 8px 0 0;
		a{
			.db;
			.color(#555,#333);
			//border:1px solid #ddd;
			border:none !important;
			//border-radius:3px;
			transition:background-color 0.1s ease-in-out;
			margin:0;
			.fzlh(12px,28px);
			padding:0 5px;
			//隐藏数目
			.num{
				.none;
			}
		}
		&.xw1 a,&.a a,a:hover{
			color:#333;
			border-color:#ccc;
			background-color:#f2f2f2 !important;
		}
		&.xw1 a,&.a a{
			box-shadow:0 0 2px #ddd inset;
		}
	}
	.u-all{

	}
	.u-type{

	}
	.u-sort{

	}
	.divding{
		.none;
	}

}
