.w-filter-tg{
	background:url('@{url}icon/scf.gif') no-repeat 10px center;
	padding-left:20px;
	.lh(30px);
	font-weight: bold;
	//border: 1px solid #ddd;
	border-radius: 3px;
	padding: 0 10px 0 30px;
	//background-color: #f7f7f7;
	&.on{
		background-color:#eee;
		color:#d05;
		box-shadow: 0 0 2px #ddd inset;
	}
	&:hover{color:#444;}
}

.w-filter{
	//.none;
	&.open{
		.db;
		//animation:open 0.2s ease-in-out forwards;
	}
}

.w-filter-box{
	.pr;
}

.w-filter-font{
	.fzlh(12px,28px);
	border-bottom:1px solid #ddd;
	border-top:1px solid #ddd;
	.fzlh(12px,28px);
	.clearfix;
	.til{
		.fl;
		.w(90px);margin-right:10px;
		border-right: 1px solid #ddd;
			background: #f7f7f7;
			.indent(10px);
		span{padding:0 5px;color:#777;}
	}
	.item{
		.fl;
	}
	.label{
		.fl;padding:0 5px;
		.pointer;
		margin-right:8px;
		user-select:none;
		&:hover,&.on{
			background-color:#f2f2f2;
		}
		&.on{
			.bold;
		}
	}
	.value{
		.none;
		.pa;.lt(0,30px);.z(5);
		
		background: #f7f7f7;
		padding: 5px 10px;
		border: 1px solid #ccc;
		margin-top: 5px;
		border-radius: 2px;
		
		ul{
			.clearfix;
		}
		li{
			.fl;
			padding:0 5px;
			margin-right:10px;
			.color(#555,#555,#c00);
			&.a a{
				color:#c00;.bold;
			}
		}

	}
}

//表单类型总是放在侧边栏
.w-filter-form{
	.none;
}