.w-hotstar{
	.indent;
	.dbi;.h(14px);.y;
	background-repeat:no-repeat;
	background-position:0 0;
	&.w-hotstar-1{
		.w(15px);
		background-image: url('@{url}custom/star/star1.png');
	}
	&.w-hotstar-2{
		.w(34px);
		background-image: url('@{url}custom/star/star2.png');
	}
	&.w-hotstar-3{
		.w(51px);
		background-image: url('@{url}custom/star/star3.png');
	}
	&.w-hotstar-4{
		.w(68px);
		background-image: url('@{url}custom/star/star4.png');
	}
	&.w-hotstar-5{
		.w(85px);
		background-image: url('@{url}custom/star/star5.png');
	}
}