.w-index-tg{
	i{
		background:url('@{url}icon/add.gif') no-repeat 0 0;
		.dbi;.size(13px);.y(-2px);margin-right:5px;
	}
	&.on i{
		background:url('@{url}icon/desc.gif') no-repeat 0 0;
	}
	.fzlh(12px,24px);color:@bluex;.x;.pointer;
	margin:10px 0;

	background: #f7f7f7;
	border: 1px solid #eee;
	&:hover{
		background-color:#f6f6f6;
		border:1px solid #ddd;
	}
	user-select:none;
}
.w-index-list{
}