.w-lastedit-th{
	.lh(28px);
	border-bottom: 1px dotted #ccc;
	padding-top: 5px;
	ul{
		.clearfix;
		li{
			&.update{
				.fl;.w(110px);.x;
				.color-tips{
					background:url('@{url}icon/faq.gif') no-repeat 0 0;
					.dbi;.size(13px);.y(-2px);margin-left:3px;
				}
			}
			&.til{
				.fl;padding-left:100px;
			}
			&.author{
				.fr;
				padding-right:12px;
			}
		}
	}
}