//翻页公共
.w-pages{
	
}


//顶部翻页隐藏
.w-pages-top{
	padding-bottom:0  !important;
	border-bottom:none !important;
}

//底部翻页
.w-pages-bottom{

}

//底部下一页按钮
.u-pages-next{
	.u-btn-gray(a);
	.fz(13px,20px);
	.db;.x;
	margin-bottom:10px;
}

//翻页旁发布按钮
.w-pages{
	.u-btn-publish,.u-btn-ask{
		.fzlh(13px,32px);
		.db;.size(120px,32px);.x;
		border-radius: 2px;
		.fl;
	}
	.u-btn-publish{
		.u-btn-blue(b);
		img{.none;}
	}
	.u-btn-ask{
		background-color:#40AB15;
		color:#fff;
		&:hover{
			background-color:lighten(#40AB15,3%);
		}
	}
	.pg,.pgb{
		margin:2px 0 !important;
	}
}

