.u-weibo{
	.none;
}
.u-weibo-win{
	.dbi;.y;
	.size(64px,24px);
}


.u-imgorigin{
	.pointer;
}
.u-imgorigin-fix{
	.pf;.lt(50%,50%);
	.z(800);
	padding:8px;
	background-color:#fff;
	border:1px solid #ccc;
	box-shadow: 0 0 5px #555;
	.r(3px);
	max-width:90%;
	max-height:90%;
}

.fixpage{
	.full;.clip;
}