/*
 * Project: 用户中心 / 邀请码
 * HTML: template/$skin/common/buyinvitecode.htm
 * PHP: source/module/misc/misc_buyinvitecode.php
 * Style: user/invitecode.less
 * Description: user / invitecode
 * Creat: iRuxu 2015.6.28
 * Update : iRuxu 2015.6.28
 */


.invitecode-box{
	padding:30px 0;

	.invitecode-container{
		border-radius: 8px;
		border: 1px solid #CDCDCD;
		background: #FFF;

		.invitecode-header{
			/*.lh(40px);*/
			border-radius:8px 8px 0 0;
		}

		.invitecode-content{
			//顶部公告
			.u-msg-ac{
				line-height: 2;
				border-radius: 4px;
				border-style: solid;
				padding: 8px 10px;
				margin-bottom:3px;
				text-align: center;
				letter-spacing:1px;
				background-color:#F2FAFD;
				border:1px solid #c7ebff;
				color:#049abf;
				b{
					.bold;color:#f00;
				}
			}
			//接收邮件提醒
			.u-msg-email{
				margin-left: 10px;
		  		text-decoration: underline;
			}
			//支付方式
			.user-pay-tencent{
			}
			.user-pay-alipay{
				.u-alipay-tips{
					margin-top:15px;
				}
			}
			//购买成功
			.invitecode-success{
				//代码文本域
				.invitecode-codebox{
					background: #f2f2f2;
					border: 1px solid #ddd;
					font-size: 24px;
					font-family: Consolas;
					line-height: 40px;
					height: 40px;
					color: #4D9342;
					padding: 10px;
					border-radius: 4px;
					margin: 10px 0;
				}
				//复制代码
				.copy-code{
					a{.color(#777,@basecolor);}
				}
				//邮箱
				.u-msg-success{
					.fz(16px);
					.xi1{
						font-family: Arial;
						.bold;
					}
				}
			}
			//按钮
			.u-btn-ok{
				.size(160px,40px);
				.fz(16px,40px);
				font-family: '微软雅黑';
				letter-spacing: 1px;
				.u-btn-blue(a);
				//transition:.2s ease-in-out;
			}
		}
	}

	.copy-code{.none;}
}

#fwin_content_showqcode{
	.c{
		table{.full(x);}
		.x;
	}
}