.pg_invite{
	.bm_c{
		.fz(13px,2);
		.pn{
			border:none;
			.lh(28px);
			strong{line-height:28px;}
			.x;
		}
		.pn.z{
			background:#ddd;
			&:hover{
				background-color:#ccc;
			}
			color:#fff !important;
		}
		.pnc.z{
			.u-btn-blue(b) !important;
		}
	}
}