<!--{template common/header}-->
<!--[name]{副本栏目}[/name]-->

<style id="diy_style" type="text/css"></style>
<div class="zFB">

	<div class="zFBMain">
	
		<div class="zFBNews">
		<!--{block/903}-->
		<!--[diy=diy1020]--><div id="diy1020" class="area"></div><!--[/diy]-->
		</div>
		
		<div class="zFBContent">
		
			<div class="zFBLeft">
			
				<div class="zFBLeft-90">
					<ul>
						<li><a class="zFBCmm" href="http://www.jx3pve.com/topic-cmm.html" title="春明门" target="_blank"></a></li>
						<li><a class="zFBQhl" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=35" title="秦皇陵" target="_blank"></a></li>
						<li><a class="zFBFxdxc" href="http://www.jx3pve.com/fb/fxdxc" title="风雪稻香村" target="_blank"></a></li>
						<li><a class="zFBMjmd" href="http://www.jx3pve.com/fb/mjmd" title="墨家密殿" target="_blank"></a></li>
						<li><a class="zFBXztc" href="http://www.jx3pve.com/fb/xuezhan" title="血战天策" target="_blank"></a></li>
						<li><a class="zFBDmg" href="http://www.jx3pve.com/fb/dmg" title="大明宫" target="_blank"></a></li>
						<li><a class="zFBZbjxk" href="http://www.jx3pve.com/fb/jxk" title="战宝军械库" target="_blank"></a></li>
					</ul>
				</div>
				
				<div class="zFBLeft-80">
					<ul>
						<li><a class="zFBNzhg" href="http://www.jx3pve.com/fb/hg" title="南诏皇宫" target="_blank"></a></li>
						<li><a class="zFBHztm" href="http://www.jx3pve.com/fb/hz" title="会战唐门" target="_blank"></a></li>
						<li><a class="zFBCghyl" href="http://www.jx3pve.com/fb/cghyl" title="持国回忆录" target="_blank"></a></li>
						<li><a class="zFBZld" href="http://www.jx3pve.com/fb/zld" title="烛龙殿" target="_blank"></a></li>
						<li><a class="zFBLyz" href="http://www.jx3pve.com/fb/lyz" title="龙渊泽" target="_blank"></a></li>
						<li><a class="zFBDhsd" href="http://www.jx3pve.com/fb/dh" title="荻花圣殿" target="_blank"></a></li>
						<li><a class="zFBDhdk" href="http://www.jx3pve.com/fb/dhdk" title="荻花洞窟" target="_blank"></a></li>
					</ul>
				</div>
				
				<div class="zFBLeft-70">
					<ul>
						<li><a class="zFBDhhs" href="http://www.jx3pve.com/fb/dhhs" title="荻花后山" target="_blank"></a></li>
						<li><a class="zFBCgtwd" href="http://www.jx3pve.com/fb/cg" title="持国天王殿" target="_blank"></a></li>
						<li><a class="zFBGzswyj" href="http://www.jx3pve.com/fb/gz" title="宫中神武遗迹" target="_blank"></a></li>
						<li><a class="zFBZbjl" href="http://www.jx3pve.com/fb/zb" title="战宝珈蓝" target="_blank"></a></li>
					</ul>
				</div>
	
			</div>
			
			<div class="zFBRight">
				
				<div class="zFBTime">
				
					<div class="zFBDate">
					
						<ul>
						
							<li class="zFBDate1"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/1.png"></li>
							<li class="zFBDate2"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/2.png"></li>
							<li class="zFBDate3"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/3.png"></li>
							<li class="zFBDate4"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/4.png"></li>
							<li class="zFBDate5"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/5.png"></li>
							<li class="zFBDate6"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/6.png"></li>
							<li class="zFBDate7"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/7.png"></li>
							<li class="zFBDate8"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/8.png"></li>
							<li class="zFBDate9"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/9.png"></li>
							<li class="zFBDate10"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/10.png"></li>
							<li class="zFBDate11"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/11.png"></li>
							<li class="zFBDate12"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/12.png"></li>
							<li class="zFBDate13"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/13.png"></li>
							<li class="zFBDate14"><img src="http://static.jx3pve.com/cssjsimg/fb/zlp/14.png"></li>
							
						</ul>
					
					</div>
				
				</div>
				
			</div>
			
			<div class="clear"></div>
			
		</div>

	</div>
</div>

<!--{template common/footer}-->