<!--[name]{更新器迷你首页}[/name]-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>剑三蘑菇 - 超级宏官网 - 更新器迷你首页</title>
<meta name="keywords" content="更新器迷你首页" />
<meta name="description" content="更新器迷你首页,《剑网3》超级宏官网" />
<meta name="author" content="ShadowSky" />
<meta name="copyright" content="ShadowSky.cn" />
<link rel="stylesheet" href="http://www.yylmacro.com/cssjsimg/mini.css" type="text/css"/>
</head>
<body>

<!--{ad/text/wp a_t}-->
<div id="mini-index">
<ul class="mini-menu">
	<li><a href="http://www.yylmacro.com" target="_blank">官方首页</a>  | </li>
	<li><a href="http://www.yylmacro.com/news/" target="_blank">焦点头条</a>  | </li>
	<li><a href="http://www.yylmacro.com/forum-2-1.html" target="_blank">官方论坛</a></li>
	<div class="clear"></div>
</ul>
<div class="mini-hot"><!--{block/226}--></div>
<ul class="mini-cat">
	<h1>超 级 宏</h1>
	<li id="mini-item1"><a href="http://www.yylmacro.com/download" target="_blank">最新下载</a></li>
	<li id="mini-item2"><a href="http://www.yylmacro.com/yylmacro" target="_blank">云端宏库</a></li>
	<li id="mini-item3"><a href="http://www.yylmacro.com/help" target="_blank">使用帮助</a></li>
	<li id="mini-item4"><a href="http://www.yylmacro.com/study/documents" target="_blank">写宏教程</a></li>
	<li id="mini-item5"><a href="http://www.yylmacro.com/forum-85-1.html" target="_blank">最新教程</a></li>
	<li id="mini-item6"><a href="http://www.yylmacro.com/thread-3074-1-1.html" target="_blank">可视化编辑器</a></li>
	<li id="mini-item7"><a href="http://www.yylmacro.com/interface/notepad" target="_blank">Notepad++扩展</a></li>
	<li id="mini-item8"><a href="http://www.yylmacro.com/wp-admin/" target="_blank">发布超级宏</a></li>
	<li id="mini-item10"><a href="http://www.yylmacro.com/thread-2840-1-1.html" target="_blank">功能建议</a></li>
	<div class="clear"></div>
</ul>
<ul class="mini-cat">
	<h1>插 件 库</h1>
	<li id="mini-item11"><a href="http://www.yylmacro.com/interface" target="_blank">插件云库</a></li>
	<li id="mini-item12"><a href="http://www.yylmacro.com/interface/help1" target="_blank">使用帮助</a></li>
	<li id="mini-item13"><a href="http://www.yylmacro.com/forum-79-1.html" target="_blank">施法条皮肤</a></li>
	<li id="mini-item14"><a href="http://www.yylmacro.com/study" target="_blank">插件教学</a></li>
	<li id="mini-item15"><a href="http://www.yylmacro.com/forum-86-1.html" target="_blank">团队监控专栏</a></li>
	<li id="mini-item16"><a href="http://www.yylmacro.com/addon/pbaddon/" target="_blank">发布插件</a></li>
	<li id="mini-item17"><a href="http://www.yylmacro.com/forum.php?mod=post&action=newthread&fid=79" target="_blank">发布读条皮肤</a></li>
	<li id="mini-item18"><a href="http://www.yylmacro.com/home.php?mod=spacecp&ac=profile&op=verify&vid=5" target="_blank">作者签约</a></li>
	<li id="mini-item18"><a href="http://www.yylmacro.com/thread-2839-1-1.html" target="_blank">插件需求</a></li>
	<div class="clear"></div>
</ul>
<ul class="mini-cat">
	<h1>分类信息</h1>
	<li id="mini-item19"><a href="http://www.yylmacro.com/forum-67-1.html" target="_blank">今日开团</a></li>
	<li id="mini-item20"><a href="http://www.yylmacro.com/forum-80-1.html" target="_blank">团队评价</a></li>
	<li id="mini-item21"><a href="http://www.yylmacro.com/forum-82-1.html" target="_blank">交易信息</a></li>
	<li id="mini-item22"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=37" target="_blank">血战天策</a></li>
	<li id="mini-item23"><a href="http://www.yylmacro.com/home.php?mod=spacecp&ac=profile&op=verify" target="_blank">团队认证</a></li>
	<li id="mini-item24"><a href="http://www.yylmacro.com/home.php?mod=spacecp&ac=profile&op=verify&vid=2" target="_blank">团长认证</a></li>
	<li id="mini-item25"><a href="http://www.yylmacro.com/home.php?mod=spacecp&ac=profile&op=verify&vid=3" target="_blank">美女指挥认证</a></li>
	<li id="mini-item26"><a href="http://www.yylmacro.com/home.php?mod=spacecp&ac=profile&op=verify&vid=4" target="_blank">玩家认证</a></li>
	<div class="clear"></div>
</ul>
<ul class="mini-cat">
	<h1>职业专栏</h1>
	<li id="mini-item27"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=4" target="_blank">七秀</a></li>
	<li id="mini-item28"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=6" target="_blank">万花</a></li>
	<li id="mini-item29"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=5" target="_blank">五毒</a></li>
	<li id="mini-item30"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=7" target="_blank">天策</a></li>
	<li id="mini-item31"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=8" target="_blank">少林</a></li>
	<li id="mini-item32"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=9" target="_blank">明教</a></li>
	<li id="mini-item33"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=10" target="_blank">纯阳</a></li>
	<li id="mini-item34"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=11" target="_blank">唐门</a></li>
	<li id="mini-item35"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=12" target="_blank">藏剑</a></li>
	<li id="mini-item36"><a href="http://www.yylmacro.com/portal.php?mod=list&catid=13" target="_blank">丐帮</a></li>
	<div class="clear"></div>
</ul>
<div id="mini-banner"><!--{block/228}--></div>
</div>
<div style="display:none;">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000192850'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1000192850' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F8282e4e4e51d1c7a18baf048c656d7dd' type='text/javascript'%3E%3C/script%3E"));
</script></div>

</body>
</html>