<!--{template common/header}-->
<!--[name]{血战天策·索引}[/name]-->
<!--{eval $list = array();}-->
<!--{eval $wheresql = category_get_wheresql($cat);}-->
<!--{eval $list = category_get_list($cat, $wheresql, $page);}-->

<!--{ad/text/wp a_t}-->
<style id="diy_style" type="text/css"></style>
<div id="page" class="yz-page fb-xz">
		<div id="fbuser"><!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]--></div>
		<!--{ad/subnavbanner/a_mu}-->
		
		<div id="wp" class="wp">

<div class="trans-ct">
	<div class="trans-ct-ct">
	<ul class="xz-navpage">
		<h1><a href="http://www.jx3pve.com" title="剑网3PVE·血战天策"> </a></h1>	
		<li class="xz-navpage-item1"><a href="http://www.jx3pve.com/fb/xuezhan/xishuyun/" title="席庶云"> </a></li>
		<li class="xz-navpage-item2"><a href="http://www.jx3pve.com/fb/xuezhan/gushoutiancefu/"  title="固守天策府"> </a></li>
		<li class="xz-navpage-item3"><a href="http://www.jx3pve.com/fb/xuezhan/caoyanlie/"  title="曹炎烈"> </a></li>
		<li class="xz-navpage-item4"><a href="http://www.jx3pve.com/fb/xuezhan/qingzhuimuchang/"  title="青骓牧场"> </a></li>
		<li class="xz-navpage-item5"><a href="http://www.jx3pve.com/fb/xuezhan/leilang/"  title="沙叱博"> </a></li>
		<li class="xz-navpage-item6"><a href="http://www.jx3pve.com/fb/xuezhan/alishinacongli/"  title="阿史那从礼"> </a></li>
		<li class="xz-navpage-item7"><a href="http://www.jx3pve.com/fb/xuezhan/heichiyuanyou/"  title="黑齿元祐"> </a></li>
		<li class="xz-navpage-item8"><a href="http://www.jx3pve.com/fb/xuezhan/sumansha/"  title="苏曼莎"> </a></li>
		<li class="xz-navpage-item9"><a href="http://www.jx3pve.com/fb/xuezhan/linghushang/"  title="令狐伤"> </a></li>
		<div class="clear"></div>
	</ul>			
	</div>
	<!--[diy=diycontentbottom]--><div id="diycontentbottom" class="area"></div><!--[/diy]-->
</div>

<div class="wp mtn">
	<!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
</div>

</div>
</div>

<!--{template common/footer}-->