<div id="comment" class="bm portal-cmt">
	<div class="bm_h cl">
		<!--{if $data[commentnum]}--><a href="$common_url" class="xi2 fr">{lang view_all_comments}(<em id="_commentnum">$data[commentnum]</em>)</a><!--{/if}-->
		<h3 class="portal-pbcmt">发表评论</h3>
	</div>
	<div id="comment_ul" class="bm_c">
		<!--{if !$data[htmlmade]}-->
			<form id="cform" name="cform" action="$form_url" method="post" autocomplete="off">
				<div class="portal-cmtavt">
				<a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=jx3" title="{lang myos}"><img class="portal-cmtavt-me" src="http://www.jx3pve.com/uc_server/avatar.php?uid=$_G[uid]&size=big" /></a>
				<span><a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=usergroup&do=list">$_G[groupicon]</a></span>
				</div>
				<div class="tedt portal-cmtbox">
					<div class="area">
						<textarea name="message" class="portal-cmtarea" rows="3" class="pt" id="message" onkeydown="ctrlEnter(event, 'commentsubmit_btn');"></textarea>
					</div>
				</div>
				<div class="clear"></div>
				<!--{if $secqaacheck || $seccodecheck}-->
					<!--{block sectpl}--><sec> <span id="sec<hash>" onclick="showMenu(this.id);"><sec></span><div id="sec<hash>_menu" class="p_pop p_opt" style="display:none"><sec></div><!--{/block}-->
					<div class="mtm"><!--{subtemplate common/seccheck}--></div>
				<!--{/if}-->
				<!--{if !empty($topicid) }-->
					<input type="hidden" name="referer" value="$topicurl#comment" />
					<input type="hidden" name="topicid" value="$topicid">
				<!--{else}-->
					<input type="hidden" name="portal_referer" value="$viewurl#comment">
					<input type="hidden" name="referer" value="$viewurl#comment" />
					<input type="hidden" name="id" value="$data[id]" />
					<input type="hidden" name="idtype" value="$data[idtype]" />
					<input type="hidden" name="aid" value="$aid">
				<!--{/if}-->
				<input type="hidden" name="formhash" value="{FORMHASH}">
				<input type="hidden" name="replysubmit" value="true">
				<input type="hidden" name="commentsubmit" value="true" />
				<p class="ptn">
				<button type="submit" name="commentsubmit_btn" id="commentsubmit_btn" value="true" class="portal-cmbt">  </button>
				<div class="clear"></div>
				</p>
			</form>
		<!--{/if}-->
		
		<!--{loop $commentlist $comment}-->
		<!--{template portal/comment_li}-->
		<!--{if !empty($aimgs[$comment[cid]])}-->
			<script type="text/javascript" reload="1">aimgcount[{$comment[cid]}] = [<!--{echo implode(',', $aimgs[$comment[cid]]);}-->];attachimgshow($comment[cid]);</script>
		<!--{/if}-->
		<!--{/loop}-->
		<!--{if !empty($pricount)}-->
			<p class="mtn mbn y">{lang hide_portal_comment}</p>
		<!--{/if}-->
		<!--{if $data[commentnum]}--><p class="ptm pbm"><a href="$common_url" class="xi2">{lang view_all_comments}(<em id="_commentnum">$data[commentnum]</em>)</a></p><!--{/if}-->
		
	</div>
</div>