<!--{template common/header}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets"></div>
<div class="zPropsx">
<div class="zProps_main">

<p style="text-align:center;">关注微信号“<span class="redtips">jx3love</span>”或“剑网3米”<br/>- 获取剑三第一手技术资料 -</p>
<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->