<!--{template common/header}-->

<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>

		
<div class="oldfb">
	<div class="oldfb-sidebar">
	<div class="oldfb-sd"><!--[diy=diy823]--><div id="diy823" class="area"></div><!--[/diy]--></div>
	<div class="oldfb-fbnav"><!--{block/556}--><div class="clear"></div></div>
	<div class="oldfb-dl"><!--[diy=diy821]--><div id="diy821" class="area"></div><!--[/diy]--></div>
	</div>

	<div class="oldfb-content">
		<div class="oldfb-author"><!--[diy=diy822]--><div id="diy822" class="area"></div><!--[/diy]--></div>

		<div class="oldfb-primary">
			<div class="clear"></div>
			<!--[diy=diypage]--><div id="diypage" class="area"></div><!--[/diy]-->
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="clear"></div>
	<div class="oldfb-cmt">
			<!--{if $topic['allowcomment']==1}-->
				{eval
					$data = &$topic;
					$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
					$form_url = "portal.php?mod=portalcp&ac=comment";
					$commentlist = portaltopicgetcomment($topicid);	}
				<!--{template portal/portal_comment}-->
			<!--{/if}-->
	</div>
	<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>

</div>
<!--{template common/footer}-->