<!--{template common/header}-->
<link rel="stylesheet" href="http://css.jx3pve.com/css/sdk/jx3gold.css" type="text/css"/>

<div class="sdk-container">
	<div class="sdk-sidebar">
		<!--{template jx3pve/c_sdk_sidebar}-->
	</div>
	<div class="sdk-main">
		<div class="sdk-header">
			<h1>剑网3全区全服实时金价表</h1>
			<div class="m-ac"><!--{block/1303}--></div>
			<div class="m-mode" id="pricemode">
				<label for="price1" class="price price-1"><input type="radio" id="price1" name="pricemode" value="1" checked="checked" disabled/><i></i><span>一元模式</span></label>
				<label for="price2" class="price price-2"><input type="radio" id="price2" name="pricemode" value="2" disabled/><i></i><span>百元模式</span></label>
			</div>
		</div>
		<div class="sdk-content">
			<table class="table">
				<tbody id="jx3gold">
					<tr class="th">
						<th>
							<em>服务器</em>
						</th>
						<th>
							<em class="til">5173</em> 
							<span>最低</span>
							<span>平均</span>
							<span>最高</span>
						</th>
						<th>
							<em class="til">UU898</em>
							<span>最低</span>
							<span>平均</span>
							<span>最高</span>
						</th>
						<th>
							<em class="til">PK200</em>
							<span>最低</span>
							<span>平均</span>
							<span>最高</span>
						</th>
						<th>
							参考均价
						</th>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="sdk-aside">
			<div class="m-compare"><!-- 对比优劣 --></div>
			<div class="m-comment">
			</div>
		</div>
		<div class="sdk-footer">
			<p class="m-warning"><!--{block/1304}--></p>
			<p class="m-copyright"></p>
		</div>
	</div>
</div>

<script src="http://js.jx3pve.com/js/sdk/jx3gold.js"></script>

<!--{template common/footer}-->

