<!--{template common/header}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets"></div>
<div class="bpsx">
<div class="bps_main">

	<ul class="bps_sort">
		<div class="bps_tt"></div>

		<li>
			<h1>DPS工具</h1>
			<div><!--{block/925}--></div>
		</li>
		<li>
			<h1>理论教学</h1>
			<div><!--{block/926}--></div>
		</li>
		<li>
			<h1>通用拾遗</h1>
			<div><!--{block/927}--></div>
		</li>
	<div class="clear"></div>
	</ul>
	


	<ul class="bps_mp">
		<li id="bps_qx" name="bps_qx">
			<h1>七秀坊 <span id="bps_chat">[交流YY群：12925723]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span>
			</h1>
			<div><!--{block/928}--><div class="clear"></div></div>
		</li>
		<li id="bps_wh" name="bps_wh">
			<h1>万花谷 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/929}--><div class="clear"></div></div>
		</li>
		<li id="bps_wd" name="bps_wd">
			<h1>五毒教 <span id="bps_chat">[交流YY群：11352365]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/930}--><div class="clear"></div></div>
		</li>
		<li id="bps_tc" name="bps_tc">
			<h1>天策府 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/931}--><div class="clear"></div></div>
		</li>
		<li id="bps_mj" name="bps_mj">
			<h1>光明顶 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/932}--><div class="clear"></div></div>
		</li>
		<li id="bps_sl" name="bps_sl">
			<h1>少林寺 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/933}--><div class="clear"></div></div>
		</li>
		<li id="bps_cy" name="bps_cy">
			<h1>纯阳宫 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/934}--><div class="clear"></div></div>
		</li>
		<li id="bps_tm" name="bps_tm">
			<h1>唐家堡 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/935}--><div class="clear"></div></div>
		</li>
		<li id="bps_cj" name="bps_cj">
			<h1>藏剑山庄 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/936}--><div class="clear"></div></div>
		</li>
		<li id="bps_gb" name="bps_gb">
			<h1>君山岛 <span id="bps_chat">[交流YY群：1447204]</span>
			<span id="bps_info">
			<a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="http://www.jx3pve.com/forum-87-1.html" target="_blank" title="查看更多">+更多</a> 
			 </span></h1>
			<div><!--{block/937}--><div class="clear"></div></div>
		</li>
		<li id="bps_cay" name="bps_cay">
			<h1>苍云</h1>
			<div><!--{block/938}--><div class="clear"></div></div>
		</li>
	</ul>






<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->