<!--{template common/header}-->
		
<style id="diy_style" type="text/css"></style>
<div class="zHome">

	<div class="zHomePage">
		
		<div class="zHomeMain">
		
			<div class="zHomeTop">
				<div class="zHTopLeft">
					<div class="zHomeLogo"><a href="http://www.jx3pve.com"></a></div>
			
					<div class="zHomeWinxin">
						<img src="http://static.jx3pve.com/cssjsimg/jx3pve/index/2014/i_wx128.png" />
						<p>关注微信公众号&emsp;<span class="redtips">jx3love</span></p>
					</div>
				</div>
			
				<div class="zHTopCenter">
					<div class="zHomeFocus">
						<div class="zHomeFocusH1"><!--{block/517}--></div>
						<div class="zHomeFocusH2"><!--{block/518}--></div>
					</div>
				</div>
			
				<div class="zHTopRight"><!--{block/902}--></div>
				
				<div class="clear"></div>
				
			</div>
		
			<div class="zHSegmentation"></div>
		
			<div class="zHomePage1">
				<h2 class="zHPage1H2"></h2>
				<div class="zHPage1">
					<div class="zHomeBps">
						<ul>
							<li><a class="zHBpsYS" href="http://www.jx3pve.com/bps" target="_blank">云裳心经</a></li>
							<li><a class="zHBpsBX" href="http://www.jx3pve.com/bps" target="_blank">冰心诀</a></li>
							<li><a class="zHBpsLJ" href="http://www.jx3pve.com/bps" target="_blank">离经易道</a></li>
							<li><a class="zHBpsHJ" href="http://www.jx3pve.com/bps" target="_blank">花间游</a></li>
							<li><a class="zHBpsBT" href="http://www.jx3pve.com/bps" target="_blank">补天心经</a></li>
							<li><a class="zHBpsDJ" href="http://www.jx3pve.com/bps" target="_blank">毒经</a></li>
							<li><a class="zHBpsTC" href="http://www.jx3pve.com/bps" target="_blank">铁牢律</a></li>
							<li><a class="zHBpsAX" href="http://www.jx3pve.com/bps" target="_blank">傲血战意</a></li>
							<li><a class="zHBpsXS" href="http://www.jx3pve.com/bps" target="_blank">洗髓经</a></li>
							<li><a class="zHBpsYJ" href="http://www.jx3pve.com/bps" target="_blank">易筋经</a></li>
							<li><a class="zHBpsMZ" href="http://www.jx3pve.com/bps" target="_blank">明尊琉璃体</a></li>
							<li><a class="zHBpsFY" href="http://www.jx3pve.com/bps" target="_blank">焚影圣诀</a></li>
							<li><a class="zHBpsQC" href="http://www.jx3pve.com/bps" target="_blank">紫霞功</a></li>
							<li><a class="zHBpsJC" href="http://www.jx3pve.com/bps" target="_blank">太虚剑意</a></li>
							<li><a class="zHBpsTL" href="http://www.jx3pve.com/bps" target="_blank">天罗诡道</a></li>
							<li><a class="zHBpsJY" href="http://www.jx3pve.com/bps" target="_blank">惊羽诀</a></li>
							<li><a class="zHBpsCJ" href="http://www.jx3pve.com/bps" target="_blank">藏剑山庄</a></li>
							<li><a class="zHBpsGB" href="http://www.jx3pve.com/bps" target="_blank">丐帮</a></li>
							<div class="clear"></div>
						</ul>
					</div>
				
					<div class="zHomeTools">
						<ul>
							<li><a class="zHTools1" href="http://www.jx3pve.com/portal.php?mod=view&aid=930" target="_blank"><span class="zHToolsCH">圆桌理论</span><span class="zHToolsEN">Roundtable theory</span></a></li>
							<li><p class="zHToolsCH">装备手册</p>
								<a class="zHTools2" href="http://www.jx3pve.com/portal.php?mod=view&aid=931" target="_blank">精炼</a>
								<a class="zHTools2" href="http://www.jx3pve.com/portal.php?mod=view&aid=932" target="_blank">镶嵌</a>
								<a class="zHTools2" href="http://www.jx3pve.com/portal.php?mod=view&aid=933" target="_blank">洗炼</a>
								<a class="zHTools2" href="#" target="_blank">分值</a>
								<a class="zHTools2" href="http://www.jx3pve.com/portal.php?mod=view&aid=934" target="_blank">淬炼</a>
								<div class="clear"></div>
							</li>
							<li><a class="zHTools3" href="http://jx3dps.sinaapp.com/" target="_blank"><span class="zHToolsCH">模拟配装</span><span class="zHToolsEN">Analog fitted</span></a></li>
							<li><a class="zHTools4" href="http://www.jx3pve.com/interface" target="_blank"><span class="zHToolsCH">预期计算</span><span class="zHToolsEN">Calculate the expected DPS</span></a><a class="zHTools4DIY" href="http://www.jx3pve.com/forum.php?mod=viewthread&tid=4186" target="_blank"></a></li>
							<li><a class="zHTools5" href="http://www.jx3pve.com/exam" target="_blank"><span class="zHToolsCH">在线题库</span><span class="zHToolsEN">JX3 Online Exam</span></a></li>
						</ul>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			
			<div class="zHSegmentation"></div>
			
			<div class="zHomePage2">
				<div class="zHPage2H2">
					<ul>
						<li><a class="zHTDFind" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67" target="_blank">找团</a></li>
						<li><a class="zHTDRecruit" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13" target="_blank">招人</a></li>
						<div class="clear"></div>
					</ul>
				</div>
				
				<div class="zHPage2">
					
					<div class="zHRaiders"><!--{block/903}--></div>
					
					<div class="zHomeFb">
						<ul>
							<li><a  class="zHomeFbItem1" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=49" target="_blank"></a></li>
							<li><a  class="zHomeFbItem2" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=35" target="_blank"></a></li>
							<li><a  class="zHomeFbItem3" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=38" target="_blank"></a></li>
							<li><a  class="zHomeFbItem4" href="http://www.jx3pve.com/fb/xuezhan/" target="_blank"></a></li>
						</ul>
					</div>
					<div class="clear"></div>
					
				</div>
				
			</div>

			<div class="zHSegmentation"></div>
			
			<div class="zHomePage3">
				<div class="zHPage3H2"></div>
				
				<div class="zHomePVX">
					
					<div class="zHPvx">
						<ul>
							<li><a class="zHPvxFace" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92" target="_blank"></a><span>捏脸</span></li>
							<li><a class="zHPvxPet" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=283" target="_blank"></a><span>宠物</span></li>
							<li><a class="zHPvxProps" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=55" target="_blank"></a><span>道具</span></li>
							<li><a class="zHPvxClothes" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=53" target="_blank"></a><span>外观</span></li>
							<li><a class="zHPvxVideo" href="http://www.jx3pve.com/plugin.php?id=smart_video" target="_blank"></a><span>视频</span></li>
							<li><a class="zHPvxMusic" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=54" target="_blank"></a><span>音乐</span></li>
							<li><a class="zHPvxStory" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=52" target="_blank"></a><span>故事</span></li>
							<li><a class="zHPvxSkill" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=56" target="_blank"></a><span>专业</span></li>
							<div class="clear"></div>
						</ul>
					</div>
					
					<div class="zHMagazine">
						<h1>剑三猛回头</h1>
						<div class="zHMagazineList"><!--{block/904}--></div>
					</div>
					<div class="clear"></div>
				</div>
				
			</div>
			
			<div class="zHSegmentation"></div>
			
			<div class="zHomePage4">
				<div class="zHPage4H2">
					<div class="zHPage4H2Biz"></div>
				</div>
			
				<div class="zTraCommodity">
					<ul>
						<li><a class="zCom1" href="#" target="_blank">游戏币</a></li>
						<li><a class="zCom2" href="#" target="_blank">橙武号</a></li>
						<li><a class="zCom3" href="#" target="_blank">不语项链</a></li>
						<li><a class="zCom4" href="#" target="_blank">千重系列</a></li>
						<li><a class="zCom5" href="#" target="_blank">不绑定玄晶</a></li>
						<li><a class="zCom6" href="#" target="_blank">玄晶瑰石</a></li>
						<li><a class="zCom7" href="#" target="_blank">普通瑰石</a></li>
						<li><a class="zCom8" href="#" target="_blank">帮会家园</a></li>
						<li><a class="zCom9" href="#" target="_blank">五彩石</a></li>
						<li><a class="zCom10" href="#" target="_blank">宝箱</a></li>
						<li><a class="zCom11" href="#" target="_blank">坐骑</a></li>
						<li><a class="zCom12" href="#" target="_blank">其他装备</a></li>
						<li><a class="zCom14" href="#" target="_blank">激活码</a></li>
						<li><a class="zCom17" href="#" target="_blank">通宝点卡</a></li>
						<li><a class="zCom13" href="#" target="_blank">游戏账号</a></li>
						<li><a class="zCom16" href="#" target="_blank">代练信息</a></li>
						<li><a class="zCom18" href="#" target="_blank">玩家手工服务</a></li>
						<li><a class="zCom19" href="#" target="_blank">其他服务</a></li>
						<li><a class="zCom20" href="#" target="_blank"></a></li>
						<div class="clear"></div>
					</ul>
				</div>
			</div>
		</div>
			
	</div>

	</div>

	<div class="wp">
		<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
	</div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->

