<!--{template common/header}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets"></div>
<div class="about_page">
<div class="bbs_main">

<div class="star_hd">
<h1><a href="http://www.jx3pve.com/portal.php?mod=topic&topicid=13">关于</a><span>Contact US</span></h1>
<p><a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=f11d134259f732568faaf427d33ff5c5809162f66277a06e">联系我们</a></p>
</div>

<div class="star_sd">
 <!--{block/918}-->
</div>

<div id="ct" class="star_bbslist">
<!--{block/921}-->
<div class="clear"></div>
<!--{block/919}-->
<div class="clear"></div>
<!--{block/920}-->
</div>
<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>

<!--{template common/footer}-->