<!--{template common/header}-->

<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>

		
<div class="fbnav">

	<div class="fbnav-content">
		<div class="fbnav-primary">
			<div class="fbnav-qhl">
			<div class="fbnav-qhl-ct">
			<div class="fbnav-qhl-1 fbnav-qhl-item"><a class="fbnav-qhl-gl" href="http://www.jx3pve.com/fb/qhl/wj"></a><a  class="fbnav-qhl-nodata" href="#" target="_blank"></a></div>
			<div class="fbnav-qhl-2 fbnav-qhl-item"><a class="fbnav-qhl-gl" href="http://www.jx3pve.com/fb/qhl/sql"></a><a  class="fbnav-qhl-nodata" href="#" target="_blank"></a></div>
			<div class="fbnav-qhl-3 fbnav-qhl-item"><a class="fbnav-qhl-gl" href="http://www.jx3pve.com/fb/qhl/tx"></a><a  class="fbnav-qhl-nodata" href="#" target="_blank"></a></div>
			<div class="fbnav-qhl-4 fbnav-qhl-item"><a class="fbnav-qhl-gl" href="http://www.jx3pve.com/fb/qhl/lhs"></a><a  class="fbnav-qhl-nodata" href="#" target="_blank"></a></div>
			<div class="fbnav-qhl-5 fbnav-qhl-item"><a class="fbnav-qhl-gl" href="http://www.jx3pve.com/fb/qhl/als"></a><a  class="fbnav-qhl-nodata" href="#" target="_blank"></a></div>
			</div>
			<div class="clear"></div>
			<!--[diy=diypage]--><div id="diypage" class="area"></div><!--[/diy]-->
			<div class="clear"></div>
			</div>
		</div>
	</div>
	
	<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
</div>
<!--{template common/footer}-->