<!--{template common/header-test}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}index.css?{VERHASH}">
<style id="diy_style" type="text/css"> @import url(index.less); </style>
<div class="wrap layout1">

	<div class="main bg1">
		
		<div class="index wp">

			<div class="aside">
				<span class="index-logo"><a href="http://www.jx3pve.com"></a></span>
			</div>
		
			<div class="content">
				<div class="index-block1">
					<div class="index-first1">
						<h1><!--{block/517}--></h1>
						<h2><!--{block/518}--></h2>
					</div>
					<div class="index-first2">
						<span></span>
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="index-block2">
					<h2>资料与工具</h2>
					<ul>
							<li><a class="index-nx" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_qx" target="_blank">云裳心经</a></li>
							<li><a class="index-bx" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=2" target="_blank">冰心诀</a></li>
							<li><a class="index-nh" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_wh" target="_blank">离经易道</a></li>
							<li><a class="index-hj" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=3" target="_blank">花间游</a></li>
							<li><a class="index-nd" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_wd" target="_blank">补天心经</a></li>
							<li><a class="index-dj" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=4" target="_blank">毒经</a></li>
							<li><a class="index-tct" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_tc" target="_blank">铁牢律</a></li>
							<li><a class="index-ax" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=5" target="_blank">傲血战意</a></li>
							<li><a class="index-hst" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_sl" target="_blank">洗髓经</a></li>
							<li><a class="index-yj" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=7" target="_blank">易筋经</a></li>
							<li><a class="index-mjt" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=50#bps_mj" target="_blank">明尊琉璃体</a></li>
							<li><a class="index-fy" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=6" target="_blank">焚影圣诀</a></li>
							<li><a class="index-qc" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=8" target="_blank">紫霞功</a></li>
							<li><a class="index-jc" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=8" target="_blank">太虚剑意</a></li>
							<li><a class="index-tl" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=9" target="_blank">天罗诡道</a></li>
							<li><a class="index-jy" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=9" target="_blank">惊羽诀</a></li>
							<li><a class="index-cj" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=10" target="_blank">藏剑山庄</a></li>
							<li><a class="index-gb" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=11" target="_blank">丐帮</a></li>
							<li><a class="index-fs" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=12" target="_blank">分山劲</a></li>
							<li><a class="index-tgy" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&k_mp=12" target="_blank">铁骨衣</a></li>
					</ul>
					<ul>
							<li>
								<a class="index-ls1" href="http://www.jx3pve.com/portal.php?mod=view&aid=930" target="_blank">
									<span class="index-ch">圆桌理论</span>
									<span class="index-en">Roundtable theory</span>
								</a>
							</li>
							<li><p class="index-ch">装备手册</p>
								<a class="index-ls2" href="http://www.jx3pve.com/portal.php?mod=view&aid=931" target="_blank">精炼</a>
								<a class="index-ls2" href="http://www.jx3pve.com/portal.php?mod=view&aid=932" target="_blank">镶嵌</a>
								<a class="index-ls2" href="http://www.jx3pve.com/portal.php?mod=view&aid=933" target="_blank">洗炼</a>
								<a class="index-ls2" href="http://www.jx3pve.com/portal.php?mod=view&aid=936" target="_blank">分值</a>
								<a class="index-ls2" href="http://www.jx3pve.com/portal.php?mod=view&aid=934" target="_blank">淬炼<img src="http://static.jx3pve.com/cssjsimg/jx3pve/index/2014/new.gif" /></a>
							</li>
							<li>
								<a class="index-ls3" href="http://www.j3pz.com" target="_blank">
									<span class="zHToolsCH">模拟配装</span>
									<span class="index-en">Analog fitted</span>
								</a>
							</li>
							<li>
								<a class="index-ls4" href="http://jx3dps.com" target="_blank">
									<span class="index-ch">预期计算</span>
									<span class="index-en">Calculate the expected DPS</span>
								</a>
								<a class="index-ls4diy" href="http://www.jx3pve.com/forum.php?mod=viewthread&tid=4186" target="_blank"></a>
							</li>
							<li>
								<a class="index-ls5" href="http://www.jx3pve.com/exam" target="_blank">
									<span class="index-ch">在线题库</span>
									<span class="index-en">JX3 Online Exam</span><img src="http://static.jx3pve.com/cssjsimg/jx3pve/index/2014/new.gif" />
								</a>
							</li>
					</ul>
				</div>
				<div class="index-block3">
					<ul class="index-b3ul1">
						<h2>副本与团队</h2>
						<li><a class="index-find" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67" target="_blank">找团</a></li>
						<li><a class="index-recruit" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13" target="_blank">招人</a></li>
						<div class="clear"></div>
					</ul>
					<span><!--{block/903}--></span>
					<ul class="b3ul2">
							<li><a  class="index-item1" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=49" target="_blank"></a></li>
							<li><a  class="index-item2" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=35" target="_blank"></a></li>
							<li><a  class="index-item3" href="http://www.jx3pve.com/portal.php?mod=topic&topicid=38" target="_blank"></a></li>
							<li><a  class="index-item4" href="http://www.jx3pve.com/fb/xuezhan/" target="_blank"></a></li>
					</ul>
				</div>
				<div class="index-block4">
					<h2>休闲与娱乐</h2>
					<ul>
							<li><a class="index-face" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92" target="_blank"></a><span>捏脸</span></li>
							<li><a class="index-pet" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=283" target="_blank"></a><span>宠物</span></li>
							<li><a class="index-props" href="http://www.jx3pve.com/props" target="_blank"></a><span>道具</span></li>
							<li><a class="index-clothes" href="http://www.jx3pve.com/show" target="_blank"></a><span>外观</span></li>
							<li><a class="index-video" href="http://www.jx3pve.com/plugin.php?id=smart_video" target="_blank"></a><span>视频</span></li>
							<li><a class="index-music" href="http://www.jx3pve.com/music" target="_blank"></a><span>音乐</span></li>
							<li><a class="index-story" href="http://www.jx3pve.com/story" target="_blank"></a><span>故事</span></li>
							<li><a class="index-skill" href="http://www.jx3pve.com/skill" target="_blank"></a><span>专业</span></li>
					</ul>
				</div>
				<div class="index-block5">
					<ul class="index-b5ul1">
						<li>
							<h2>交易专区</h2>
						</li>
						<li>
							<a href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank"></a>
						</li>
					</ul>
					<ul class="index-b5ul2">
						<li><a class="index-com1" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">游戏币</a></li>
						<li><a class="index-com2" href="http://www.pk200.com/suoyou/4-0-0--1---0----56---" target="_blank">橙武号</a></li>
						<li><a class="index-com3" href="http://www.pk200.com/suoyou/4-0-0--5---0----49---" target="_blank">不语项链</a></li>
						<li><a class="index-com4" href="http://www.pk200.com/suoyou/4-0-0--5---0----50---" target="_blank">千重系列</a></li>
						<li><a class="index-com5" href="http://www.pk200.com/suoyou/4-0-0--5---0----47---" target="_blank">不绑定玄晶</a></li>
						<li><a class="index-com6" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">玄晶瑰石</a></li>
						<li><a class="index-com7" href="http://www.pk200.com/suoyou/4-0-0--5---0----53---" target="_blank">普通瑰石</a></li>
						<li><a class="index-com8" href="http://www.pk200.com/suoyou/4-0-0--6---0----52---" target="_blank">帮会家园</a></li>
						<li><a class="index-com9" href="http://www.pk200.com/suoyou/4-0-0--5---0----54---" target="_blank">五彩石</a></li>
						<li><a class="index-com10" href="http://www.pk200.com/suoyou/4-0-0--5---0----55---" target="_blank">宝箱</a></li>
						<li><a class="index-com11" href="http://www.pk200.com/suoyou/4-0-0--5---0----51---" target="_blank">坐骑</a></li>
						<li><a class="index-com12" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">其他装备</a></li>
						<li><a class="index-com14" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">激活码</a></li>
						<li><a class="index-com17" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">通宝点卡</a></li>
						<li><a class="index-com13" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">游戏账号</a></li>
						<li><a class="index-com16" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">代练信息</a></li>
						<li><a class="index-com18" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">玩家手工服务</a></li>
						<li><a class="index-com19" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank">其他服务</a></li>
						<li><a class="index-com20" href="http://www.pk200.com/jianxiaqingyuan/4----0---0-------" target="_blank"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>







<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}