<!--{template common/header-index}-->
		
<style id="diy_style" type="text/css"></style>
<div class="index">
	<div class="index-area1">
		<div class="index-area1-l">
		<div class="index-banner1"><!--{block/516}--></div>
		
		<div class="index-focus">
			
			<div class="index-focus-title"><span><a href="http://www.jx3pve.com/news/" target="_blank">查看更多&raquo;</a></span></div>
				<div class="index-focus-content">
					<span class="index-focus-time"><!--{block/520}--></span>
					<div class="index-focus-h1"><!--{block/517}--></div>
					<div class="clear"></div>
					<div class="index-focus-h2"><!--{block/518}--></div>
					<div class="index-focus-video"><!--{block/519}--></div>
					<div class="index-focus-h3"><!--{block/545}--></div>
					<div class="clear"></div>
				</div>
		</div>
		
		<div class="index-ganhuopu">
			<div class="index-ganhuopu-qc"><!--{block/521}--></div>
				<div class="index-ganhuopu-content">
					<div class="index-ganhuopu-newaddon"><!--{block/522}--></div>
					<div class="index-ganhuopu-newmacro"><!--{block/523}--></div>
					<div class="index-ganhuopu-macronav"><!--{block/524}--></div>
					<div class="clear"></div>
				</div>
		</div>
		
		</div>
		
		<div class="index-area1-r">
			<div class="index-ac"><!--{block/525}--></div>
			<div class="index-qcmenu"><!--{block/526}--></div>
			<div class="index-jx3pvebook"><!--{block/527}--></div>
			<div class="index-zhanji"><!--{block/528}--></div>
		</div>
		
		<div class="clear"></div>
	</div>

	<div class="index-area2">
	<div class="index-area1-l">
		<div class="index-bps"><!--{block/529}--></div>
	
		<div class="index-fbnav">
			<div class="index-fbnav-title">RAID NAVIGATION 副本大全<span class="index-more"><a href="http://www.jx3pve.com/fb"></a></span></div>
			<div class="index-fbnav-content"><!--{block/530}--></div>
		</div>
		
		<div class="index-snownav">
			<div class="index-snownav-title">SNOW SKINS 小雪读条<span class="index-more"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=79&filter=sortid&sortid=8"></a></span></div>
			<div class="index-snownav-content">
				<div class="index-newsnow"><!--{block/537}--><!--{block/531}--></div>
				<div class="index-misc">
					<div class="index-user"><!--{block/532}--></div>
					<div class="index-links"><!--{block/533}--></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

	</div>
	
	<div class="index-area1-r">
		<div class="index-bbs">
			<div class="index-bbs-title">论坛热帖<span class="index-more"><a href="http://www.jx3pve.com/bbs"></a></span></div>
			<div class="index-bbshot"><!--{block/534}--></div>
			<div class="index-bbs-list"><!--{block/535}--></div>
		</div>
		
		<div class="index-weixin"><!--{block/536}--></div>
	
	</div>
	<div class="clear"></div>
	</div>

<div class="wp">
	<!--[diy=diy1]--><div id="diy1" class="area"></div><!--[/diy]-->
</div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->
