<!--{template common/header}-->

<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>

		
<div class="fbnav">

	<div class="fbnav-content">
		<div class="fbnav-primary">
			<div class="clear"></div>
			<!--[diy=diypage]--><div id="diypage" class="area"></div><!--[/diy]-->
			<div class="clear"></div>
		</div>
	</div>
	
	<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
</div>
<!--{template common/footer}-->