<!--{template common/header}-->

<div class="index-container">
	<div class="wp">
		<div class="index-block index-block-0">
			
		</div>
		<div class="index-block index-block-1">
			<div class="m-index-slider">
				<!--{block/1313}-->
			</div>
			<div class="m-index-news">
				<div class="m-h1">
					<!--{block/517}-->
				</div>
				<div class="m-h2">
					<!--{block/518}-->
				</div>
			</div>
			<div class="m-index-happy">
				<div class="btngroup">
					<i class="wx"><img src="http://static.jx3pve.com/img/header/wx-128.png" alt=""></i>
					<a class="forum" href="http://www.jx3pve.com/bbs" target="_blank">进入论坛</a>
					<a class="top" href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank">推送头条</a>
					<a class="help" href="http://www.jx3pve.com/help" target="_blank">帮助手册</a>
					<a class="feedback" href="http://www.jx3pve.com/feedback" target="_blank">反馈建议</a>
				</div>
				
				<h2>不明觉厉</h2>
				<!--{block/1314}-->
			</div>
		</div>

		<div class="index-block index-block-2">
			<div class="index-subblock index-tools">
				<h2 class="m-til">
					<span>工具<em>Tools</em></span>
					<a class="more" href="http://www.jx3pve.com/tool" target="_blank">更多</a>
				</h2>
				<div class="m-common"></div>
				<div class="m-keys">
					<div class="keys">
						<h3>宏辅助</h3>

					</div>
					<div class="keys">
						<h3>职业辅助</h3>

					</div>
					<div class="keys">
						<h3>休闲常用</h3>
						
					</div>
					<div class="keys">
						<h3>节日辅助</h3>
						
					</div>
					<div class="keys">
						<h3>专业定制</h3>
						
					</div>
					<div class="keys">
						<h3>其他更多</h3>
						
					</div>
				</div>
			</div>
			<div class="index-subblock index-fam">
				<h2 class="m-til">
					<span>副本<em>Fam</em></span>
					<a class="more" href="http://www.jx3pve.com/tool" target="_blank">更多</a>
				</h2>
				<div class="m-famlist">
					
				</div>
				<div class="m-famzt">
					
				</div>
			</div>
			
		</div>

		<div class="index-block index-block-3">
			

			
		</div>


		<div class="index-block index-block-4">
			
		</div>
	</div>
</div>


<!--{template common/footer}