<!--{template common/header}-->
<link id="style_css" rel="stylesheet" type="text/css" href="{STATICURL}topic/t1/style.css?{VERHASH}">
<style id="diy_style" type="text/css"></style>
<div id="widgets"></div>
<div class="bpsx">
<div class="bps_main">

	<div class="bps-content">
		<h1>剑网3白皮书</h1>

		<ul class="bps_nav">
			<li>
				<h2>DPS工具</h2>
				<ul><!--{block/925}--></ul>
			</li>
			<li>
				<h2>理论教学</h2>
				<ul><!--{block/926}--></ul>
			</li>
			<li>
				<h2>通用拾遗</h2>
				<ul><!--{block/927}--></ul>
			</li>
		</ul>

		
		<div>
			<h3>七秀坊</h3>
			<span class="chat">[交流YY群：12925723]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=235" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="bx">冰心诀</span></h4>
			<!--{block/954}-->
			<h4><span class="ys">云裳心经</span></h4>
			<!--{block/973}-->
		</div>

		<div>
			<h3>万花谷</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=236" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="hj">花间游</span></h4>
			<!--{block/955}-->
			<h4><span class="nh">离经易道</span></h4>
			<!--{block/972}-->
		</div>
		<div>
			<h3>五毒教</h3>
			<span class="chat">[交流YY群：11352365]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=237" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="dj">毒经</span></h4>
			<!--{block/957}-->
			<h4><span class="nd">补天心经</span></h4>
			<!--{block/971}-->
		</div>
		<div>
			<h3>天策府</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=238" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="axzy">傲雪战意</span></h4>
			<!--{block/970}-->
			<h4><span class="tll">铁牢律</span></h4>
			<!--{block/958}-->
		</div>
		<div>
			<h3>光明顶</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=240" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="fysj">焚影圣决</span></h4>
			<!--{block/969}-->
			<h4><span class="mjt">明尊琉璃体</span></h4>
			<!--{block/959}-->
		</div>
		<div>
			<h3>少林寺</h3>
			<span class="chat">[交流YY群：12447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=239" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="yj">易筋经</span></h4>
			<!--{block/960}-->
			<h4><span class="xs">洗髓经</span></h4>
			<!--{block/968}-->
		</div>
		<div>
			<h3>纯阳宫</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=241" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="qc">紫霞功</span></h4>
			<!--{block/967}-->
			<h4><span class="jc">太虚剑意</span></h4>
			<!--{block/961}-->
		</div>
		<div>
			<h3>唐家堡</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=242" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="tl">天罗诡道</span></h4>
			<!--{block/966}-->
			<h4><span class="jy">惊羽决</span></h4>
			<!--{block/962}-->
		</div>
		<div>
			<h3>藏剑山庄</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=243" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="cj">藏剑</span></h4>
			<!--{block/963}-->
		</div>
		<div>
			<h3>君山岛</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=244" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="gb">丐帮</span></h4>
			<!--{block/964}-->
		</div>
		<div>
			<h3>苍云</h3>
			<span class="chat">[交流YY群：1447204]</span>
			<span class="info">
			<a href="portal.php?mod=portalcp&ac=article&catid=1&op=simple" target="_blank" title="补充更多优秀作品">+添加</a>
			<a href="forum.php?mod=post&action=newthread&fid=87&extra=" target="_blank" title="讨论与分享">+讨论</a> 
			<a href="forum.php?mod=forumdisplay&fid=87&filter=typeid&typeid=314" target="_blank" title="查看更多">+更多</a> <a class="toggle" title="折叠/展开" href="javascript:void(0)"></a> 
			 </span>
			<h4><span class="cyj">分山劲</span></h4>
			<!--{block/965}-->
			<h4><span class="tgy">铁骨衣</span></h4>
			<!--{block/974}-->
		</div>

	</div>

<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}