<!--{template common/header}-->
<div class="fb-container fb-jdqx fb-jdqx-2">
	<div class="wp">
		<!-- 头部 -->
		<div class="fb-header">
			<!-- [DEV]logo -->
			<div class="m-fb-logo">
				<a class="til" href="http://www.jx3pve.com/fb">阴山圣泉</a>
			</div>
			<!-- [DEV]boss导航 -->
			<div class="m-fb-nav">
				<ul>
					<li><a class="boss-1" href="http://www.jx3pve.com/fb/jdqx/1"><i class="boss"><i class="shark"></i></i><span>天泣林</span></a></li>
					<li><a class="boss-2 on" href="http://www.jx3pve.com/fb/jdqx/2"><i class="boss"><i class="shark"></i></i><span>阴山圣泉</span></a></li>
					<li><a class="boss-3" href="http://www.jx3pve.com/fb/jdqx/3"><i class="boss"><i class="shark"></i></i><span>引仙水榭</span></a></li>
					<li><a class="boss-4" href="http://www.jx3pve.com/fb/jdqx/4"><i class="boss"><i class="shark"></i></i><span>梵空禅院</span></a></li>
					<li><a class="boss-5" href="http://www.jx3pve.com/fb/jdqx/5"><i class="boss"><i class="shark"></i></i><span>徽山书院</span></a></li>
					<li><a class="goback goback-2" href="http://www.jx3pve.com/fb"><i class="sc"></i><span>返回专题导航</span></a></li>
				</ul>
			</div>
		</div>
		<!-- 侧边栏 -->
		<div class="fb-sidebar">
			<!-- 分享 -->
			<div class="m-fb-share">
				<h2>分享扩散</h2>
				<!--{block/1323}-->
			</div>
			<!-- [DEV]作者 -->
			<div class="m-fb-author">
				<h2>作者团队</h2>
				<!--{block/1424}-->
			</div>
		</div>
		<!-- 内容区 -->
		<div class="fb-content">
			<!-- [DEV]最新改动 -->
			<div class="m-fb-news m-block">
				<h2>视频攻略<i class="folder"></i></h2>
				<div class="m-ct">
					<!--{block/1429}-->
				</div>
			</div>
			<!-- [DEV]整理版攻略 -->
			<div class="m-fb-gl m-block">
				<h2>文字攻略<i class="folder"></i></h2>
				<div class="m-ct">
					<!--{block/1430}-->
				</div>
			</div>
			<!-- 娱乐相关 -->
			<div class="m-fb-fun m-block">
				<h2>扩展相关<span>独家周边放送</span><i class="folder"></i></h2>
				<div class="m-ct m-tabbox">
					<ul class="navbox">
						<li class="on">桌面壁纸</li>
						<li>副本成就</li>
					</ul>
					<div class="ctbox">
						<div class="ctbox-item"><!--{block/1416}--></div>
						<div class="ctbox-item" style="display:none"><!--{block/1425}--></div>
					</div>
				</div>
			</div>
			<!-- 评论 -->
			<div class="m-fb-cmt m-block" id="fb-cmt">
				<h2>讨论补充<span>来说两句吧</span><i class="folder"></i></h2>
				<div class="m-ct fb-comment">
					<!--{subtemplate jx3pve/c_sdk_cmt}-->
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-fb.js"></script>

<!--{template common/footer}-->