<!--{template common/header}-->
<div class="fb-container fb-index">
	<div class="wp">
		<!-- 头部 -->
		<div class="m-fb-inews">
			<a class="more" href="http://www.jx3pve.com/fam" target="_blank">更多&raquo;</a>
			<!--{block/903}-->
		</div>
		<!-- 副本列表 -->
		<div class="m-fb-iblock">
			<div class="iblock iblock-95">
				<!--{block/1380}-->
			</div>
			<div class="iblock iblock-90">
				<!--{block/1381}-->
			</div>
			<div class="iblock iblock-80">
				<!--{block/1382}-->
			</div>
			<div class="iblock iblock-70">
				<!--{block/1383}-->
			</div>
		</div>
		<!-- 资料片 -->
		<div class="m-fb-izlp">
			<ul>
				<!--{block/1384}-->
			</ul>
		</div>
	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-fb.js"></script>

<!--{template common/footer}-->