<!--{template common/header}-->
<div class="fb-container fb-zhuhu fb-zhuhu-3">
	<div class="wp">
		<!-- 头部 -->
		<div class="fb-header">
			<!-- [DEV]logo -->
			<div class="m-fb-logo">
				<a class="til" href="http://www.jx3pve.com/fb/zhuhu">逐虎驱狼</a>
				<span class="name">白陶<em>BAITAO</em></span>
			</div>
			<!-- [DEV]boss导航 -->
			<div class="m-fb-nav">
				<ul>
					<li><a class="goback goback-1" href="http://www.jx3pve.com/fb/zhuhu"><i class="sc"></i><span>逐虎驱狼</span></a></li>
					<li><a class="boss-1" href="http://www.jx3pve.com/fb/zhuhu/1"><i class="boss"><i class="shark"></i></i><span>三骑将</span></a></li>
					<li><a class="boss-2" href="http://www.jx3pve.com/fb/zhuhu/2"><i class="boss"><i class="shark"></i></i><span>安雨</span></a></li>
					<li><a class="boss-3 on" href="http://www.jx3pve.com/fb/zhuhu/3"><i class="boss"><i class="shark"></i></i><span>白陶</span></a></li>
					<li><a class="boss-4" href="http://www.jx3pve.com/fb/zhuhu/4"><i class="boss"><i class="shark"></i></i><span>史思明</span></a></li>
					<li><a class="goback goback-2" href="http://www.jx3pve.com/fb"><i class="sc"></i><span>返回专题导航</span></a></li>
				</ul>
			</div>
		</div>
		<!-- 侧边栏 -->
		<div class="fb-sidebar">
			<!-- [DEV]榜单 -->
			<div class="m-fb-toplist">
				<h2>全区服十甲排行<!--{block/1322}--></h2>
				<ul class="c-toplist">
					<!--{block/1320}-->
				</ul>
				<p class="m-tip"><!--{block/1412}--></p>
			</div>
			<!-- 分享 -->
			<div class="m-fb-share">
				<h2>分享扩散</h2>
				<!--{block/1323}-->
			</div>
			<!-- [DEV]作者 -->
			<div class="m-fb-author">
				<h2>作者团队</h2>
				<!--{block/1371}-->
			</div>
		</div>
		<!-- 内容区 -->
		<div class="fb-content">
			<!-- [DEV]最新改动 -->
			<div class="m-fb-news m-block">
				<h2>最新消息<span>最新改动、最新和谐后打法、最新进度汇报</span><i class="folder"></i></h2>
				<div class="m-ct">
					<div class="m-news">
						<div class="m-gaidong">
							<h3><i></i>一句话攻略<em class="edit" id="fb-goto-cmt"><i></i>我来补充</em></h3>
							<!--{block/1373}-->
						</div>
					</div>
					<div class="m-jieshuo">
						<h3><i></i>解说视频 <a class="more" href="http://www.jx3pve.com/fam" target="_blank">更多&raquo;</a></h3>
						<!--{block/1345}-->
					</div>
				</div>
			</div>
			<!-- [DEV]整理版攻略 -->
			<div class="m-fb-gl m-block">
				<h2>攻略摘要<span>独家整理版攻略、汇百家经典章节</span><i class="folder"></i></h2>
				<div class="m-ct m-tabbox">
					<ul class="navbox">
						<li class="on">25人挑战</li>
						<li>25人英雄</li>
						<li>10人挑战</li>
						<li>10人普通</li>
					</ul>
					<div class="ctbox">
						<div class="ctbox-item"><!--{block/1366}--></div>
						<div class="ctbox-item" style="display:none"><!--{block/1364}--></div>
						<div class="ctbox-item" style="display:none"><!--{block/1365}--></div>
						<div class="ctbox-item" style="display:none"><!--{block/1363}--></div>
					</div>
				</div>
			</div>
			<!-- [DEV]全部攻略 -->
			<div class="m-fb-allgl m-block">
				<h2>详细攻略<span>最全最细致攻略、团长亲笔、更多视角视频</span><i class="folder"></i></h2>
				<div class="m-ct">
					<!--{block/1378}-->
				</div>
				<a class="m-more" href="http://www.jx3pve.com/forum-369-1.html" target="_blank"><i></i>查看更多&raquo;</a>
			</div>
			<!-- 娱乐相关 -->
			<div class="m-fb-fun m-block">
				<h2>扩展相关<span>独家周边放送</span><i class="folder"></i></h2>
				<div class="m-ct m-tabbox">
					<ul class="navbox">
						<li class="on">副本成就</li>
						<li>桌面壁纸</li>
					</ul>
					<div class="ctbox">
						<div class="ctbox-item"><!--{block/1335}--></div>
						<div class="ctbox-item" style="display:none"><!--{block/1336}--></div>
					</div>
				</div>
			</div>
			<!-- 评论 -->
			<div class="m-fb-cmt m-block" id="fb-cmt">
				<h2>讨论补充<span>来说两句吧</span><i class="folder"></i></h2>
				<div class="m-ct fb-comment">
					<!--{subtemplate jx3pve/c_sdk_cmt}-->
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-fb.js"></script>

<!--{template common/footer}-->