.screen-s{
	/*@wp:1024px - 20px;
	@ct:@wp - 200px - 20px;
	min-width:1024px;
	.wp{
		.w(1024px - 20px);
		margin:0 10px;
	}

	.c-nav .nav-list li a{
		padding:25px 12px;
		font-size:14px;
		&.new{
			background: none;
		}
	}

	.w-pages .u-btn-ask,.w-pages .u-btn-reply{
		.none;
	}

	.pve-header{
		.banner{.none;}
	}

	.pve-content{
		.w(@ct);
	}

	.c-fli .m-header .pls, .pve-postbox #postlistreply .m-header .pls, .c-fli .m-header .c-fli-sidebar, .pve-postbox #postlistreply .m-header .c-fli-sidebar{
		.w(@ct - 60px);
	}

	.role-container .pve-primary .m-ct .m-sidebar{
		.none;
	}

	.edt{
		.bar .y{.none;}
	}*/

}