//头部
.pve-header{
	@lh:60px;
	.h(60px);
	padding-bottom:8px;margin-bottom:15px;
	.pr;
	border-bottom: 2px solid #555;

	.til{
		.fz(32px,@lh);
	}
	.des{
		.fz(18px,@lh);
		.color(#666);
	}
	.banner{
		.pa;.rt(0,0);
		.size(960px,60px);.clip;
	}
}