.pve-content{
	.u-btn-ask{
		.fl;
		display: block;
		width: 120px;
		.lh(32px);
		text-align: center;
		border-radius: 2px;
		background-color:#40AB15;
		color:#fff;
		&:hover{
			background-color:lighten(#40AB15,3%);
		}
	}
}