//侧边栏
.pve-sidebar{

	h2{
		.pr;
		.fzlh(13px,28px);
	  	margin: 10px 0;
		border-bottom: 1px dotted #ccc;

		//更多
		.more{
			.ct(y,12px);right:0;
			background:url('@{url}icon/more.png') no-repeat 0 0;
			.size(40px,12px);
			.indent;
			&:hover{
				background-position:0 -12px;
			}
		}

		//faq提示
		.u-tips-faq{
			background:url('@{url}icon/faq.gif') no-repeat 0 0;
			.dbi;.size(13px);.y(-2px);margin-left:3px;.indent;
		}

		//快速发布
		.u-btn-pub{
			.fr;.fz(12px,20px);
			background:url('@{url}icon/addbuddy.gif') no-repeat 0 center;
			padding:0 5px 0 20px;
		}

		//小发布
		.u-btn-pub2{
			.fr;.color(#999,@bluex);
			.normal;font-size:12px;
			i{
				background:url('@{url}icon/app_add.gif') no-repeat 0 0;
				.dbi;.size(12px);.y(-2px);margin-right:3px;
			}
		}
	}

	li{
		.color(#555,#555,#222);
		height:auto;
	}

	.m-pve-search{
		.vm{
			padding:5px;
			width: 60%;
			border: 1px solid #ddd;
			background: none;
			border-radius: 4px;
			box-shadow: 0 0 4px #ddd inset;
			background-color:#fff;
			&:focus,&:hover{
				box-shadow: 0 0 4px #0cf inset,0 0 2px #ddd;
			}
		}
		.u-button-search{
			.u-btn-gray(a);
			padding: 4px 14px 3px;
			.pr;
			top:2px;
			border-radius:3px;
		}
		.hot{
			.clearfix;
			padding:3px 5px;
			.fz(12px,2);

			h3{.bold;.di;}
			.module{
				.di;.break;
				ul{.clearfix;.di;}
				li{.di;margin:0;margin-right:10px;.h(auto);}
				a{.color(#444,@bluex);}
				a:hover{text-decoration:underline;}
			}
		}
	}

	.m-define{
		.clearfix;
		li{
			.fl;margin-right:10px;
			.dbi;padding: 2px 5px;
			background-color:#fff;
			border-radius: 4px;
			box-shadow: 0 0 2px #ddd inset;
			border: 1px solid #ccc;
			&:hover{
				background-color:#f2f2f2;
			}
		}
	}

	.m-downlist{
		ul{
			li{
				a{
					.db;.lh(28px);
					.indent(22px);
					background:url('@{url}icon/icon-down_12.png') no-repeat 0 center;
				}
			}
		}
	}

	.m-alist{
		ul{
			li{
				a{
					.db;.lh(28px);
					.indent(22px);
					background:url('@{url}icon/icon-arrow_8.png') no-repeat 2px center;
					transition:background 0.15s ease-in;
					&:hover{
		  				background-position:10px center;
					}
				}
			}
		}
	}

	.m-pve-sdad{
		.pr;
		.h(200px);
		margin-top:10px;
	}

	.m-tasklist{
		ul{padding:5px;}
		li{.fz(12px,28px);padding-left:24px;}
	}

}

//避免内容区过短fix插件Bug
.pve-content{
	min-height:1000px;
}