.pvx-header{
	.pvx-header-logo{
		.db;.w(600px);.h(200px);.auto(x);.indent;
		background:url('@{url}raid/raidlogo.png') no-repeat center center;
	}
	.pvx-header-nav{
		background:url('@{url}common/nav-bg-auto.png') no-repeat center top;
		.lh(51px);
		ul{
			.w(@wp - 100px);.auto(x);
			.clearfix;
			li{
				.fl;
				a{
					.db;padding-left:30px;.pr;
					.fz(14px);.color(#fff,#fff);
					.w(80px);.clip;
					@keyframes pvxHeaderOn{
					    from{
					    	transform:translateY(50%);
					    	opacity:0;
					    }
					    to{
					    	transform:translateY(0);
					    	opacity:1;
					    }
					}
					i{
						.db;.full;.pa;.lt(0,0);
						background:url('@{url}common/nav-on.png') no-repeat 0 60%;
						.none;
					}
					&.on,&:hover{
						text-shadow: 0 0 8px #f4d1e7;
						i{
							.db;
							animation:pvxHeaderOn 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}
}