.pvx-header{
	.pvx-header-logo{
		.db;.w(600px);.h(200px);.auto(x);.indent;
	}
	.pvx-header-nav{
		background:url('@{url}common/nav-bg-auto.png') no-repeat center top;
		.lh(51px);
		ul{
			.w(@wp - 100px);.auto(x);
			.clearfix;
			li{
				.fl;
				a{
					.db;padding-left:30px;.pr;
					.fz(14px);.color(#fff,#fff);
					.w(80px);.clip;
					i{
						.db;.full;.pa;.lt(0,0);
						background:url('@{url}common/nav-on.png') no-repeat 0 60%;
						.none;
					}
					@keyframes pvxHeaderOn{
					    from{
					    	transform:translateY(50%);
					    	opacity:0;
					    }
					    to{
					    	transform:translateY(0);
					    	opacity:1;
					    }
					}
					&.on,&:hover{
						text-shadow: 0 0 8px #f4d1e7;
						i{
							.db;
							animation:pvxHeaderOn 0.3s ease-in-out;
						}
					}
					&.pub{
						background:url('@{url}common/pubicon.png') no-repeat right 18%;
						//transition:background 0.3s ease-in-out;
						//padding-right:27px;
						&:hover,&.on{
							background: none;
						}
					}
				}
			}
		}
	}
}

.pvx-title{
	.m-title{
		.x;
		.fz(16px,2);
	}
	.m-info{
		.x;
		span{
			margin-right:10px;
			em{
				color:#666;
			}
		}
		.sort{
			
		}
		.author{
			.avt{.size(24px);border-radius:24px;.dbi;.y;}
			.name{}
		}
		.time{}
		.lastedit{}
		.views{}
	}
}