.pvx-title{
	.m-title{
		.x;
		.fz(16px,2);
	}
	.m-info{
		.x;
		span{
			margin-right:10px;
			em{
				color:#666;
			}
		}
		.sort{
			
		}
		.author{
			.avt{.size(24px);border-radius:24px;.dbi;.y;}
			.name{}
		}
		.time{}
		.lastedit{}
		.views{}
	}
}

.pvx-container{
	//.w-post-adminbar-top{.none;}	//上方管理操作条
}