.pvx-title{
	.m-title{
		.x;
		.fz(16px,2);
	}
	.m-info{
		.x;
		span{
			margin-right:10px;
			em{
				color:#666;
			}
		}
		.sort{
			
		}
		.author{
			.avt{.size(24px);border-radius:24px;.dbi;.y;}
			.name{}
		}
		.time{}
		.lastedit{}
		.views{}
	}
}

.pvx-postbox{

		#threadstamp img{
			.rt(0,-65px);
		}

		.banner{
			.size(100%,60px);
			border-radius:3px;
			.clip;
			margin-bottom:5px;
		}
		.m-cmt-title{
			.fz(18px);
			span{
				color:#ccc;
				text-transform:uppercase;
				padding:0 10px;
			}
			padding: 5px;
			border-bottom: 1px solid #eee;
		}

	.c-fli{
		margin-bottom:10px;
	}

	.c-fli-pvx-first{
		margin-bottom:10px;
	}

}

.pvx-container{
	//.w-post-adminbar-top{.none;}	//上方管理操作条
}

.c-fli-pvx-first{

	.clearfix;

	.m-author{
		.fr;
		border:1px solid #eee;
		.r(6px);
		padding:20px 0;
		background-color:#f7f7f7;
		.poster{
			.bold;
			.x;.color(#888);
			//border-bottom:1px solid #ddd;
			text-transform:uppercase;
			.upen;
		  	margin-bottom: 10px;
			padding-bottom: 10px;
		}
		.only{.none;}
		.medal{background-color:#fff;}
	}
	.c-panel{
		.clear;
	}
	.m-article{
		padding:10px;
	}
	.m-til{
		margin:20px 0 10px 0;
		&:before{
			.w(86%) !important;
		}
	}
}

.c-fli-pvx-normal{
	.c-replyer{
		.verif,.usergroup{
			.none;
		}
		.time{
			.fr;
		}
		.edit,.append{
			.fr;padding:0 5px;
		}
	}
}

.u-custombg{
	.none;
}

.adminHTML .w-post-adminbar{.db !important;}