.pvx-container{
	background-image: url('http://ww4.sinaimg.cn/large/bcc700eegw1eunybduf0vj21hc0m8dsf.jpg');
	background-repeat: no-repeat;
	background-color: #f2f2f2;
	background-position: center top;
	margin-top:1px;
	padding-bottom:40px;
}

.pvx-main{
	.w(@wp - 20px*2);padding:20px;
	.auto(x);
	margin-top:20px;
	background-color:#fff;
	border-radius:6px;
	.clearfix;
}

.pvx-sidebar{
	.fl;
	.w(280px);margin-right:20px;
}

.pvx-content{
	.fl;
	.w(@wp - 20px*2 - 280px - 20px);
}

.pvx-article{
	border:none;background:none;box-shadow:none;
}

.pvx-postbox{

}


.pvx-container{

	//默认总是隐藏的元素
	.w-post-adminbar-top	//上方管理操作条
	{.none;}
	

	.w-category-nav .xw1 a, .w-category-nav .xw1 a:hover{
		background-color:#f2f2f2;
		color:#555;
		.normal;
		border-color:#ddd;
	}
}