.pvx-container{

	//公共
	.c-fli-pvx{
		.m-author{}
		.m-content{
			.pcb{
				margin:0;
				//限制主题
				.locked{
					.tips(yel);
					strong{color:#f00;}
					.y a{.color(#888,#444);}
				}
			}
			.m-article{

			}
			.modact{
				.color(#888,#888,#666);
			}
		}
	}

	//主楼
	.c-fli-pvx-first{
		
		.m-til{
			.pr;
			h3{
				.dbi;
				width: 70px;
				.lh(24px);
				border-radius: 24px;
				background-color: #eee;
				text-align: center;
				color:#555;
			}
			&:before{
				content: '';
				.db;
				width: 90%;
				height: 1px;
				border-bottom: 1px dotted #ddd;
				position: absolute;
				right: 0;
				top: 10px;
			}
		}
	}

	//回复楼层
	.c-fli-pvx-normal{

		//内容高度
		.t_fsz{
			min-height:0;
		}
	}

}