.pvx-sidebar{

	h2{
		font-weight: bold;
		padding: 5px 0;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 5px;
		font-size:13px;
	}

	.w-sortnav{
		.w-sortnav-font{
			select{
				background: none;
				border: 1px solid #ddd;
				border-radius: 3px;
				box-shadow: 0 0 3px #ddd inset;
				padding: 4px;
			}
		}
		.row{
			.clearfix;
		}
		.itembox{
			ul{
				.clearfix;
				li{
					.fl;
					a{
						border:none;
					}
				}
			}
		}
	}

}