.pvx-sidebar{

	h2{
		font-weight: bold;
		padding: 5px 0;
		border-bottom: 1px dotted #ddd;
		margin-bottom: 5px;
		font-size:13px;
		color:#555;
		.pr;

		.more{
			.ct(y,12px);right:0;
			background:url('@{url}icon/more.png') no-repeat 0 0;
			.size(40px,12px);
			.indent;
			&:hover{
				background-position:0 -12px;
			}
		}
	}

	.module{
		li{
			.h(auto);margin:0;padding:0;
		}
	}

	.u-btn-pvxpub{
		.db;.lh(40px);.indent(45px);
		.u-btn-blue(b);
		.x(left);
		border-radius:3px;
		.bold;
		background-image:url('@{url}icon/addbuddy.gif');
		background-repeat:no-repeat;
		background-position: 15px center;
		span{
			text-transform:uppercase;
			margin-left:6px;.normal;
			color:#83D7FC;
		}
		margin-bottom:20px;
	}

	.w-sortnav{
		.w-sortnav-font{
			select{
				background: none;
				border: 1px solid #ddd;
				border-radius: 3px;
				box-shadow: 0 0 3px #ddd inset;
				padding: 4px;
			}
		}
		.row{
			.clearfix;
		}
		.itembox{
			ul{
				.clearfix;
				li{
					.fl;
					a{
						border:none;
					}
				}
			}
		}
	}

}