.bbs-ct{
	#postlist{
		//表格布局
		&.bm{
			border:none;
		}
		.ad{
			.pls,.plc{background:none;}
		}
		&>div{
			border-bottom:1px solid #cceafe;
		}
		.pls{
			background: #fafdff;border-rights: 1px solid #cceafe;
			.avatar{
				img{border:1px solid #ddd;box-shadow:0 0 4px #ddd;background:none;}
			}
			.pi{
				padding:2px 5px 5px 5px;
				height:auto;
				a.xw1{.db;}
			}
			.m-info{
				padding:0 20px;
				.nic{.none;}
			}
			.m-love{
				.none;
			}
		}
		.plc{
			.authi{
				.authicn{width:auto;}
			}
			.pob{
				.showmenu{
					.panel-list;
				}
			}
		}
	}
}