//jiebao·page
//-----------------------------------------------
.sort-12-container{
	
	background-image: url('http://ww2.sinaimg.cn/large/bcc700eegw1euz2798kt8j21hc0m87h5.jpg');

	.pvx-article{
		.w(720px);.auto(x);
	}

	.m-raid-primary-6{
		.none;
	}
}

//jiebao·list
//-----------------------------------------------
.m-jiebao-list{
	li{
		.pr;
		.fz(12px,28px);
		.color(#888,#555,@bluex);
		border-bottom:1px dotted #ddd;.clearfix;
		padding:0 10px;
		*{.db;}
		&:hover{
			background-color:#f7f7f7;
		}
		span{
			.w(20%);.fl;
			.h(28px);
		}
		&.th{
			.color(#fff);
			background-color:#0084ff;
			border-bottom:none;
		}
	}
	.control{
		.pa;.rt(0,10px);
		.w(10px);
	}
}

//jiebao·single
//-----------------------------------------------
.m-raid-jiebao{
	margin-bottom:40px;
	h2{font-size:12px;.pa;background-color:@basecolor;.z(2);line-height:22px;
		margin-left:20px;padding:0 5px;color:#fff;letter-spacing:1px;border-radius:3px;
	}
	ul{
		//border:1px solid #ddd;
		padding:14px 10px 10px 10px;
		//padding-top:14px;padding-bottom:10px;
		position: relative;top: 16px;margin-bottom: 30px;
		background-color:#fff;
		border-radius:6px;
		li{
			line-height:24px;padding:2px 8px;
			border-bottom:1px dotted #ddd;
			span{
				width:80px;.dbi;color:#777;
			}
			&.u-last{border-bottom:none;}
			a{.color(@bluex,#c00);}
		}
	}
	.fam-wujiaimg{
		padding:24px 10px 10px 20px;
		position: relative;top: 16px;
		background-color:#fff;
		border-radius:6px;
		.mijian{
			.db;
			img{
				.db;.auto(x);
				padding:5px;
				border:1px solid #ddd;
				max-width:100%;
			}
		}
	}
}
