.raid-container{

	.m-raid-nav{
		.x;
		margin-bottom:10px;
		a{
			.dbi;
			width: 200px;
			height: 40px;
			padding: 10px 10px;

			line-height: 20px;
			text-align: center;
			.bold;
			
			color: #fff;
			box-shadow: 0 0 3px #ccc;
			border-radius: 3px;
			
			span{
				.none;
			}
			em{
				.db;.normal;text-transform:uppercase;font-family:'Trebuchet MS';
			}

			background:#333;
			border: 1px solid #222;
			transition:0.06s ease-in;
			em{
				color:#ccc;
			}
			&:hover{
				background-color:#f00;
				border: 1px solid #c00;
				em{
					color:#EFB1B1;
				}
			}
		}

		.u-btn-raid{}
		.u-btn-per{}
		.u-btn-pub{}
	}

	.m-raid-mkp-tips{
		.x;color:#888;
	}

	.w-sortnav{
		li a:hover,li.a a{
			background-color:#fff !important;
			color:#555 !important;
			.normal  !important;
		}
	}

	.w-category-nav{
		li a{
			border: 1px solid #ccc;
  			background-color: #f2f2f2;
		}
		.xw1 a,.xw1 a:hover,li a:hover{
			background-color:#fff;
			border:1px solid #ccc;
			color:#555;
			.normal;
		}
	}

	.w-sortnav-font{
		.row{
			.pr;
			.itembox{
				margin-left:60px;
				li a{
					border-color:transparent;
				}
			}
		}
	}

	.w-sortnav-form{
		.row{
			.w(auto) !important;
			margin-right:5px;
		}
	}
}