.raid-container{
	.pve-sidebar{
		float:none;
		.w(auto);
	}
	.pve-content{
		.w(auto);
		float:none;
	}
	.pve-article{
		box-shadow:none;
		border:none;
		//.tb(255,255,255,0.8);
		background: none;
		padding:20px 0;
		#threadlist{
			background: none;
		}
	}
	.w-route{
		.none;
	}
}