.raid-container{
}

.u-verif{
	.pr;
	.verif{
		.pa;.lt(0,0);
		.db;.size(180px,100px);
		span{.none;}
	}
}
.u-verif-1{
	.verif{
		background:url('@{url}raid/verif/1.png') no-repeat 0 0;
	}
}
.u-verif-2{
	.verif{
		background:url('@{url}raid/verif/2.png') no-repeat 0 0;
	}
}
.u-verif-3{
	.verif{
		background:url('@{url}raid/verif/3.png') no-repeat 0 0;
	}
}
.u-verif-4{
	.verif{
		background:url('@{url}raid/verif/4.png') no-repeat 0 0;
	}
}
