//biz·page
//-----------------------------------------------
.sort-23-container{

	background-image:url('http://ww1.sinaimg.cn/large/bcc700eegw1ev1ib1qymyj21hc0m8na2.jpg');
	
	.pvx-article{
		.w(720px);.auto(x);
	}

	.m-raid-primary-6,.m-raid-primary-7{
		.none;
	}
}

//biz·list
//-----------------------------------------------
.m-raid-bizlist{
	ul{
		li{
			.fz(12px,28px);
			padding:0 5px;
			&.th{
				background-color:#0084ff;
				color:#fff;
			}
			a{
				.db;
				border-bottom:1px dotted #ddd;
				&:hover{
					background-color:#f7f7f7;
					color:@bluex;
				}
			}
			span{.dbi;.y(top);.lh(28px);}

			.type{.w(10%);}
			.fwq{.w(20%);}
			.fam{.w(20%);}
			.msg{.w(30%);}
			.contact{.w(15%);}
		}
	}
}


//biz·single
//-----------------------------------------------
.m-raid-biz{
	margin-bottom:40px;
	h2{font-size:12px;.pa;background-color:@basecolor;.z(2);line-height:22px;
		margin-left:20px;padding:0 5px;color:#fff;letter-spacing:1px;border-radius:3px;
	}
	ul{
		//border:1px solid #ddd;
		padding:14px 10px 10px 10px;
		//padding-top:14px;padding-bottom:10px;
		position: relative;top: 16px;margin-bottom: 30px;
		background-color:#fff;
		border-radius:6px;
		li{
			line-height:24px;padding:2px 8px;
			border-bottom:1px dotted #ddd;
			span{
				width:80px;.dbi;color:#777;
			}
			&.u-last{border-bottom:none;}
			a{.color(@bluex,#c00);}
		}
	}
}