.raid-container{

	.m-raid-primary{
		h2{
			font-size: 14px;
			background: #eee;
			padding: 0 10px;
			line-height: 2;
			border-radius: 20px;
			margin:10px 0;

			.more{
				.fr;
				.fz(12px);
			}
		}
		.m-raid-bizlist{
			margin-bottom:20px;
			.th{background-color:#049ABF;}
			.fz(12px,2);
			a{.fz(12px,2);}
		}
	}

}