.raid-container{
	//background: url("http://ww3.sinaimg.cn/large/bcc700eegw1eiaxxgb5byj21hc0le79q.jpg") #f9f9f9 no-repeat top center;

	/*.pve-header{
		.h(auto);
		border-bottom:none;
		margin-bottom:0;
		padding-bottom:0;
	}
	.pve-content{
		.w(auto);
		float:none;
	}
	.pve-article{
		box-shadow:none;
		border:none;
		.tb(255,255,255,0.8);
	}*/
}