.raid-viewpage{
	background-image: url('http://ww4.sinaimg.cn/large/bcc700eegw1eunybduf0vj21hc0m8dsf.jpg');
	background-repeat:no-repeat;
	background-color:#f2f2f2;
	background-position:center top;
	padding:0;
	transition:background 0.2s ease-in-out;
	
	.w-route{.none;}
	.pve-content{float:none;.w(auto);}
	.pve-article{background:none;border:none;box-shadow:none;}
	#postlist .vwthd .ts .m-count{.none;}
	.pve-header,.w-category-nav,.w-sortnav,.w-post-adminbar-top{.none;}
	.w-pages-bottom,#vfastpostform,.pve-fastpost,.u-msg-posttips{.none;}
	.pve-postbox>table{.none;}
	.c-fli .m-header{.none;}
	.m-extend,.m-panel,.m-misc{.none;}
	.u-pages-next{.none;}

	.pve-postbox{background:none;}
	.pve-article{padding:200px 0;.w(940px);.auto(x);}

	.t_fsz{
		padding:20px !important;
	}

	.m-title{
		.fz(13px,1.5);.bold;
		border-bottom:1px dotted #ddd;
		margin:0 0 5px 0;
		padding-bottom:5px;
	}

	#threadstamp{
		img{
			.rt(0,-120px);
		}
	}

}

