.raid-container{

	#threadlist{
		margin-top:10px;
	}

	.m-raid-index{
		.clear;
		h2{
			font-size: 14px;
			background: #eee;
			padding: 0 10px;
			line-height: 2;
			border-radius: 20px;
			margin:10px 0;

			.more{
				.fr;
				.fz(12px);
			}
		}
	}

	.pvx-postbox{
		#pl_top{.none;}
	}
	
	.w-index-tg{.none;}
	.w-index-list{.none;}

}