.raid-container{
	#postlist .vwthd .ts .m-count{.none;}

}

.raid-viewpage{
	.m-raid-mkp-tips{.none;}
}

.m-raid-vprimary{
	.fl;
	padding:20px 20px 20px 0;
	border-right:1px dotted #ccc;
	margin:10px 20px 20px 0;

	.logo{
		.auto(x);
		.x;
		.size(180px,100px);
		margin-bottom:10px;
	}
	.details{
		.auto(x);
		padding-left:10px;
		span{
			color:#999;
			margin-right:10px;
		}
		li{
			line-height:2;
		}
		margin-bottom:10px;
	}
}