.raid-container{

	.m-raid-topbanner{
		.h(185px);
		.back{
			.db;.size(400px,140px);
			.indent;
		}
	}

	.m-btn-group{
		.pa;.lb(107px,9px);
		a{
			.db;.size(100px,32px);line-height:32px;
			border-radius:3px;.x;
			color:#fff;
		}
		.u-btn-pubraid{
			margin-right:10px;.fl;
			background-color:#0084ff;
			&:hover{
				background-color:lighten(#0084ff,6%);
			}
		}
		.u-btn-verif{
			.fl;
			background-color:#E8BC0D;
			&:hover{
				background-color:lighten(#E8BC0D,6%);
			}
		}
	}

	.m-raid-mkp-tips{
		.db;
		.pa;.rb(20px,-90px);line-height:26px;
		padding:0 5px;
		.tips(grays);
		//.arrows(l,8px,#f2f2f2,1px,#ddd);
		//color:#777;
		background-color:#f2f2f2;
	}

		

	

}
