.raid-listpage{

	.pvx-article{

		.w-pages-top{
			margin-top:5px;
			.u-btn-pubraid{.none !important;}
		}

		.m-raid-filter{
			margin:5px 0;
		}
		.w-sortnav-form{
			.row{
				.w(auto) !important;
				.px{margin-right:5px;}
			}
		}
		.w-sortnav{
			margin-bottom:0;
		}
	}

}
.raid-container{
	.team-null{}
	.team-null-tips{
		.tips(warning);
		padding:15px 0;
		.x;color:#f00;.bold;
	}
}

