.raid-listpage,.raid-postpage{

	.pvx-sidebar{

		h2{line-height: 29px;margin-top: 2px;padding:0;}

		//快速发布
		.m-btn-raidpub{
			
		}

		//团队搜索
		.m-raid-sortnav{
			.itembox ul li{
				margin-right:3px;
			}
			.row{
				margin-bottom:5px;
			}
			.m-sex{
				.mkp{
					.pr;
					.m-raid-mkp-tips{
						.pa;.lt(-88px,-54px);
						.none;
						width: 200px;
						height: 33px;
						background: #eee;
						padding: 5px;
						border-radius: 3px;
						color:#d05;
						.arrow(b,6px,#eee);
						em{
							color:#666;
						}
					}
					&:hover{
						.m-raid-mkp-tips{
							.db;
						}
					}
				}
			}
			.w-sortnav-form{
				.clearfix;
				.row{
					.w(auto) !important;
					.px{.w(180px);}
					margin-bottom:5px;
				}
				.u-button-search{
					.fl;margin-left:5px;
					//.clear;
					//margin-top:5px;
				}
				.vm{
					.fl;
					.w(120px);
					padding:5px;
					border: 1px solid #ddd;
					background: none;
					border-radius: 4px;
					box-shadow: 0 0 4px #ddd inset;
					background-color:#fff;
					&:focus,&:hover{
						box-shadow: 0 0 4px #0cf inset,0 0 2px #ddd;
					}
				}
			}
			.m-sex,.m-progress,.m-week,.m-times{
				.none;
			}
		}
		.m-fwq{
			margin-bottom:5px;
			#raid_fuwuqi_select{
				.w(208px);
			}
			.raid-fuwuqi-tips{
				.clear;
				color:#666;border:1px solid #ddd;border-radius:3px;
				padding:2px 5px;
				margin-top:5px;
				.w(200px);
				i{
					.dbi;.size(18px);margin-right:2px;.y(-4px);
					background:url('@{url}icon/info_small.gif') no-repeat 0 0;
				}
				.none;
			}
			.raid-fuwuqi-list{
				ul{
					.clearfix;
					.none;
				}
				li{
					.pr;.fl;margin-right:20px;
					.color(#444,#444,@bluex);
					.fz(13px,2.5);
					a{
						.db;
						background:url('@{url}icon/ol.gif') no-repeat 0 center;
						padding-left:15px;
					}
					em{
						.db;.pa;.lb(0,110%);
						.none;
						.size(200px,auto);padding:5px;border-radius:3px;
						.tb(121, 215, 249,0.88);
						border:1px solid #0cf;
						.fz(12px,2);
					}
					&:hover{
						em{.db;}
					}
				}
			}
		}

		//推荐团长
		.m-raid-leader{
			margin-bottom:10px;
			ul{
				padding:5px 0;
				li{
					p{.w(80%);.auto(x);}
					a{color:#666;}
				}
			}
		}
		.m-raid-leader-tips{
			background:url('@{url}icon/faq.gif') no-repeat 0 0;
			.dbi;.size(13px);.y(-2px);margin-left:3px;.indent;
		}

		//最新捷报
		.m-raid-jiebao{
			.x;
			a,span{.db;}
			.boss{.color(#565656,#c00);}
			.team{.color(@bluex,#c00);}
			.time{color:#888;}

			table{
				.w(100%);
				th{background-color:#f8f8f8;}
				td,th{
					border:1px solid #ddd;
					line-height:2.2;
					padding:0 3px;
					.x;
				}
			}
		}
		.m-raid-jbpub{
			.fr;.color(#999,@bluex);
			.normal;font-size:12px;
			i{
				background:url('@{url}icon/app_add.gif') no-repeat 0 0;
				.dbi;.size(12px);.y(-2px);margin-right:3px;
			}
		}

	}
}