//认证页面
//template\default\home\spacecp_profile.htm
.c-verif-warning{
	.tbms{.none;}
	.tbms_r{.db;}
	.user-verf-ac{
		line-height:24px;
		padding: 10px 10px 10px 26px;margin-top:10px;
		border: 1px dashed #FF9A9A;
		background: url(http://static.jx3pve.com/static/image/common/notice.gif) no-repeat 10px 50%;
		p{font-weight:bold;color:#cc0000;}
		b{font-weight:bold;padding-left:24px;}
	}
}

//认证角标
.u-verif{
	.pr;
	.verif{
		.pa;.lt(0,0);
		.db;.size(180px,100px);
		span{.none;}
	}
}
.u-verif-1{
	.verif{
		background:url('@{url}raid/verif/1.png') no-repeat 0 0;
	}
}
.u-verif-2{
	.verif{
		background:url('@{url}raid/verif/2.png') no-repeat 0 0;
	}
}
.u-verif-3{
	.verif{
		background:url('@{url}raid/verif/3.png') no-repeat 0 0;
	}
}
.u-verif-4{
	.verif{
		background:url('@{url}raid/verif/4.png') no-repeat 0 0;
	}
}