<!--{template common/header}-->
<script src="http://js.jx3pve.com/js/page/page-index.js"></script>
<div class="index-container">
	<!--SLIDER-->
	<div class="m-index-block m-index-top">
		<div class="wp">
			<div class="m-index-slider">
				<div class="jx3pve-slider" id="jx3pve-slider">
					<!--{block/1496}-->
					<!--{block/1497}-->
				</div>
			</div>
		</div>
	</div>
	<!--FAM-->
	<div class="m-index-block">
		<div class="wp">
			<!--新鲜干货-->
			<div class="m-index-news">
				<h2 class="m-subtil">
					<span class="til">新鲜干货</span>
					<a class="more" title="查看更多" href="http://www.jx3pve.com/news/" target="_blank">更多</a>
					<ul class="misc"><!--{block/1493}--></ul>
				</h2>
				<div class="m-h2 m-index-list-a m-index-subblock">
					<!--{block/518}-->
				</div>
			</div>
			<div class="m-index-fam">
				<h2 class="m-subtil">
					<span class="til">秘境之旅</span>
					<a class="more" title="查看更多" href="http://www.jx3pve.com/fam" target="_blank">更多</a>
					<ul class="misc"><!--{block/1394}--></ul>
				</h2>
				<div class="m-index-subblock">
					<div class="m-fam m-index-list-a"><!--{block/903}--></div>
					<div class="m-fb">
						<!--{block/1385}-->
						<p class="more"><a href="http://www.jx3pve.com/fb" target="_blank">更多副本专题&raquo;</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--TOOL -->
	<div class="m-index-block">
		<div class="wp">
			<h2 class="m-subtil">
				<span class="til">常用工具</span>
				<ul class="channel"><!--{block/1504}--></ul>
				<a class="more" title="查看更多" href="http://www.jx3pve.com/tool" target="_blank">更多</a>
				<ul class="misc"><!--{block/1494}--></ul>
			</h2>
			<div class="m-index-subblock">
				<div class="m-hottool">
					<!--{block/1505}-->
				</div>
				<div class="m-tool">
					<ul>
						<h3>宏&nbsp;辅&nbsp;助</h3>
						<!--{block/1386}-->
					</ul>
					<ul>
						<h3>职业辅助</h3>
						<!--{block/1387}-->
					</ul>
					<ul>
						<h3>休闲辅助</h3>
						<!--{block/1388}-->
					</ul>
					<ul>
						<h3>节日辅助</h3>
						<!--{block/1389}-->
					</ul>
					<ul>
						<h3>其他更多</h3>
						<!--{block/1390}-->
					</ul>
					<ul>
						<h3>热门下载</h3>
						<!--{block/1391}-->
					</ul>
				</div>
				<div class="m-newtool m-index-list-c">
					<!--{block/1407}-->
				</div>
			</div>
		</div>
	</div>
	<!--ROLE & MACRO -->
	<div class="m-index-block">
		<div class="wp">
			<h2 class="m-subtil">
				<span class="til">职业宝典</span>
				<ul class="channel"><!--{block/1402}--></ul>
				<a class="more" title="查看更多" href="http://www.jx3pve.com/role" target="_blank">更多</a>
				<ul class="misc"><!--{block/1501}--></ul>
			</h2>
			<div class="m-index-subblock">
				<div class="m-macro">
					<div class="m-macro-nav">
						<ul>
							<li><a class="new" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=22&page=1&orderby=lastedit"><i class="mw"></i>莫问</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=2&page=1&orderby=lastedit"><i class="bx" ></i>冰心</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=3&page=1&orderby=lastedit"><i class="hj"></i>花间</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=4&page=1&orderby=lastedit"><i class="dj"></i>毒经</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=5&page=1&orderby=lastedit"><i class="axzy"></i>傲血</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=6&page=1&orderby=lastedit"><i class="fysj" ></i>焚影</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=7&page=1&orderby=lastedit"><i class="yj" ></i>易筋</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=8&page=1&orderby=lastedit"><i class="qc"></i>紫霞</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=9&page=1&orderby=lastedit"><i class="jc" ></i>太虚</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=10&page=1&orderby=lastedit"><i class="tl" ></i>天罗</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=11&page=1&orderby=lastedit"><i class="jy" ></i>惊羽</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=14&page=1&orderby=lastedit"><i class="cyj" ></i>分山</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=12&page=1&orderby=lastedit"><i class="cj"  ></i>藏剑</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&filter=sortid&sortid=18&searchsort=1&macro_role=13&page=1&orderby=lastedit"><i class="gb" ></i>丐帮</a></li>
							<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=294&orderby=lastedit"><i class="ty" ></i>全部</a></li>
						</ul>
					</div>
					<div class="m-macro-ct m-index-list-b">
						<!--{block/1395}-->
					</div>
				</div>
				<div class="m-role">
					<div class="m-role-ct m-index-list-b">
						<!--{block/1236}-->
					</div>
					<div class="m-role-ex">
						<ul class="m-role-tool"><!--{block/1502}--></ul>
						<div class="m-role-change">
							<h3 class="til">最新职业改动：</h3>
							<ul><!--{block/1022}--></ul>
						</div>
						<div class="m-role-banner">
							<!--{block/1503}-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 作者专栏 -->
	<div class="m-index-block none">
		<div class="wp">
			<div class="m-author">
				<h3 class="til">作者专栏</h3>
			</div>
			<!-- 待上线 -->
		</div>
	</div>
	<!--RAID-->
	<div class="m-index-block">
		<div class="wp">
			<h2 class="m-subtil">
				<span class="til">江湖传说</span>
				<ul class="channel"><!--{block/1499}--></ul>
				<a class="more" title="查看更多" href="http://www.jx3pve.com/raid" target="_blank">更多</a>
				<ul class="misc"><!--{block/1403}--></ul>
			</h2>
			<div class="m-index-subblock">
				<div class="m-jb">
					<!--{block/1013}-->
				</div>
				<div class="m-raid m-index-list-c">
					<!--{block/1406}-->
				</div>
			</div>
		</div>
	</div>
	<!-- 最新招募 -->
	<div class="m-index-block">
		<div class="wp">
			<div class="m-team">
				<h3 class="til">最新招募</h3>
				<!--{block/1500}-->
			</div>
		</div>
	</div>
	<!--PVX-->
	<div class="m-index-block">
		<div class="wp">
			<h2 class="m-subtil">
				<span class="til">休闲阁</span>
				<ul class="channel"><!--{block/1507}--></ul>
				<a class="more" title="查看更多" href="http://www.jx3pve.com/face" target="_blank">更多</a>
				<ul class="misc"><!--{block/1400}--></ul>
			</h2>
			<div class="m-index-store m-index-subblock">
				<div class="m-recommend">
					<!--{block/1398}-->
				</div>
				<div class="m-pvx m-index-list-a">
					<!--{block/1409}-->
				</div>
				<div class="m-channel">
					<!--{block/1399}-->
				</div>
			</div>
		</div>
	</div>
	<!--BBS-->
	<div class="m-index-block">
		<div class="wp">
			<h2 class="m-subtil">
				<span class="til">论坛交流</span>
				<ul class="channel"><!--{block/1508}--></ul>
				<a class="more" title="查看更多" href="http://www.jx3pve.com/bbs" target="_blank">更多</a>
				<ul class="misc"><!--{block/1506}--></ul>
			</h2>
			<div class="m-index-subblock m-index-bbs">
				<div class="m-share">
					<!--{block/1509}-->
				</div>
				<div class="m-bbs">
					<!--{block/1405}-->
				</div>
			</div>
		</div>
	</div>

	<div class="m-index-block">
		<div class="wp">
			<div class="m-index-subblock m-links">
				<h3>友情链接：</h3>
				<ul>
					<!--{block/1511}-->
				</ul>
			</div>
		</div>
	</div>

	<div class="m-index-block">
		<div class="wp">
			<div class="m-index-subblock m-copyright"><!--{block/1510}--></div>
		</div>
	</div>

</div>
<!--{template common/footer}-->