<!--{template common/header}-->
<script>
	//移动端部分页面开发完成后，如果用户使用手机访问了PC版的这个页面则跳到微信版去
	/*if( /Android|webOS| iPhone | iPod |BlackBerry|opera mini|opera mobile|appleWebkit.*mobile|mobile/i.test(navigator.userAgent) ) {
		window.location = 'wap.html';
	}*/
</script>
<script src="http://js.jx3pve.com/js/page/vip-pc.js"></script>
<div class="user-container user-container-vip">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href="./" class="nvhm" title="{lang homepage}">$_G['setting']['bbname']</a> <em>&rsaquo;</em>
			<a href="home.php">{lang useros}</a><em>&rsaquo;</em>
			<a href="./vip">会员中心</a>
		</div>
	</div>

	<div id="ct" class="ct2_a wp cl">
		<div class="mn">
			<div class="bm bw0">
				<!--{subtemplate home/vip_pc_nav}-->
			</div>
			<!--{subtemplate home/vip_pc}-->
		</div>
		<!--{subtemplate home/sidebar_l}-->
	</div>
</div>
<!--{template common/footer}-->