.fam-container{

	.m-fam-nav{
		ul li a:hover{
			background-color: #f9f9f9;
		}
	}

	.m-fam-zt,.m-fam-ztsd{
		a{
			transition:0.2s ease-in-out;
		}
		a:hover{
			-webkit-filter:brightness(120%);
		}
	}
	.m-fam-ztsd{
		a{
			.db;
			.size(200px,80px);
			background:url('@{url}fam/zt.png') no-repeat 0 0;
		}
	}

	.m-fam-search{//.none;
		.item{
			margin-bottom:4px;
			.label{
				.w(62px);.dbi;
			}
			.ps,.px{
				border: 1px solid #ddd;
				background-color:#fff !important;
				border-radius: 4px;
				box-shadow: 0 0 4px #ddd inset;
			}
		}
		.fam-name{
			.label{
				letter-spacing:2px;
			}
			.ps{
				.w(130px) !important;
			}
		}
		.boss-name{
			//暂时隐藏
			//.none;
			.px{
				.w(60%);
			}
		}
		.fam-search-button{
			padding-left:72px;
			.u-button-search{
				.u-btn-gray(c);
				border:1px solid #ccc;
				color:#555;
				padding: 3px 15px;
				border-radius:3px;
			}
		}
	}

	.m-fam-task{
		.u-list-1{
			background:url('@{url}medal/fam_3.gif') no-repeat 0 center;
		}
		.u-list-2{
			background:url('@{url}medal/fam_2.gif') no-repeat 0 center;
		}
		.u-list-3{
			background:url('@{url}medal/fam_1.gif') no-repeat 0 center;
		}
	}
}