.m-fam-zt{

	.m-fam-zttil{
		border-bottom: 1px dotted #ddd;
		margin-bottom: 10px;
		padding:0 10px;
		.pr;
		.til{
			font-size: 14px;
			font-weight: bold;
		}
		.news{
			.pa;.rt(0,0);
		}
	}

	.m-fam-ztlist{
		.u-list(a,286px,20px,3);
	}

	.m-fam-ztbox{
		.clearfix;
		.h(auto);
		transition:height 0.3s ease-in-out;
		li{
			width:286px;
			.fl;
			.pr;overflow:hidden;
			margin:0 20px 20px 0;
			a{
				.db;.pr;.clip;
				span{
					.db;.h(93px);
					img{width:100%;height:auto;}
				}
				&:after{
					content:'';
					.db;
					.size(100%,50%);
					.tb(255,255,255,0.4);
					.pa;.lt(0,-100%);
				}
				&:hover{
					&:after{
						.lt(0,0);
						transition:0.2s ease-in-out;
					}
				}
			}
			em{
				.db;.x;line-height:2;
			}
		}
	}

	.m-fam-ztbox-all{
		.none;
	}

	.m-fam-more{
		.x;
		background: #f7f7f7;
		padding: 5px;
		border-radius: 4px;
		border: 1px solid #ddd;
		.pointer;
		&:hover{
			background-color:#eee;
		}
	}
}
