.fam-primary{
	h2{font-size:12px;.pa;background-color:@basecolor;.z(2);line-height:22px;
		margin-left:20px;padding:0 5px;color:#fff;letter-spacing:1px;border-radius:3px;
	}
	ul{
		border:1px solid #ddd;padding-top:14px;
		position: relative;top: 16px;margin-bottom: 30px;
		li{
			line-height:24px;padding:2px 8px;
			border-bottom:1px dotted #ddd;
			span{
				width:80px;.dbi;color:#777;
			}
			&.u-last{border-bottom:none;}
			a{.color(@bluex,#c00);}
		}
	}
}