.m-fam-search{.none;
	.row{
		margin-bottom:8px;
		.label{
			.w(62px);.dbi;
		}
		.ps,.px{
			border: 1px solid #ddd;
			background-color:#fff !important;
			border-radius: 4px;
			box-shadow: 0 0 4px #ddd inset;
		}
	}
	.fam-name{
		.label{
			letter-spacing:2px;
		}
		.ps{
			.w(130px) !important;
		}
	}
	.boss-name{
		//暂时隐藏
		.none;
		.px{
			.w(60%);
		}
	}
	.fam-search-button{
		padding-left:72px;
		.u-button-search{
			.u-btn-gray(c);
			border:1px solid #ccc;
			color:#555;
			padding: 3px 15px;
			border-radius:3px;
		}
	}
}