.fam-container{
	.pve-sidebar{
		h2{
			.pr;
			.pub-btn{
				.pa;.rt(0,0);
				background-color:#555;
				color:#fff;
				display: block;
				padding: 0 6px;
				border-radius: 3px;
				line-height: 22px;
				&:hover{background-color:#333;}
			}
		}
	}

	.m-fam-nav{
		ul li a:hover{
			background-color: #f9f9f9;
		}
	}
}