.role-container{
	//js动态加载数据，默认添加一个最小高度，以防底部重叠
	.m-role-tool{
		//ul{min-height:178px;}
	}
	.m-role-basic{
		ul{min-height:210px;}
	}
	#postlist .vwthd .ts .m-count{
		.none;
	}
	.m-role-pubtips{
		.tips(warning);
		margin-bottom:10px;
		b{.bold;color:#f00;}
	}
	.m-role-task{
		.u-list-1{
			background:url('@{url}medal/role_1.gif') no-repeat 0 center;
		}
		.u-list-2{
			background:url('@{url}medal/role_2.gif') no-repeat 0 center;
		}
		.u-list-3{
			background:url('@{url}medal/role_3.gif') no-repeat 0 center;
		}
		.u-list-4{
			background:url('@{url}medal/role_4.gif') no-repeat 0 center;
		}
	}
}