.m-face-sort{
	margin-bottom:10px;
	.clearfix;
	li{
		.size(50%,32px);
		margin-bottom:10px;
		.fl;
		&:hover{
			background-color:#f7f7f7;
		}
		a{
			.db;.full;transition:0.2s ease-in-out;
			.fz(13px,32px);
			.bold;
			color:@bluex;
		}
		i{
			.dbi;.size(30px);.fl;margin-right:10px;
			background-color:#eee;
			background:url('@{url}face/facenav.png') #eee no-repeat 0 0;
			border:1px solid #eee;
		}
		em{
			.normal;
			color:#888;
			text-transform:uppercase;
			.fz(11px);
			margin-left:5px;
			font-family:'Trebuchet MS',Tahoma,"\5FAE\8F6F\96C5\9ED1";
		}
		.woman i{
			background-position:-105px 0;
		}
		.girl i{
			background-position:-70px 0;
		}
		.man i{
			background-position:-35px 0;
		}
		.boy i{
			background-position: 0 0;
		}
	}
}

.m-face-search{
	margin-bottom:10px;
}

.m-face-help{
	margin-bottom:15px;
}

.m-face-recommond{
	
}

.m-face-tasklist{
	margin-bottom:10px;
	.u-list-5297{background:url('@{url}medal/face_1.gif') no-repeat 0 center;}
	.u-list-4308{background:url('@{url}medal/face_2.gif') no-repeat 0 center;}
	.u-list-4672{background:url('@{url}medal/face_3.gif') no-repeat 0 center;}
}

.m-face-zhubian{
	padding:5px 0;
	.fzlh(12px,2);
	.avt{
		.fl;.db;margin-right:10px;
		img{.r(48px);padding:2px;border:1px solid #eee;}
	}
	span{}
	.sms{
		.db;
		i{.dbi;.y;background:url('@{url}icon/pmto.gif') no-repeat 0 0;.size(16px);}
	}
	.qgroup{.db;}
}