.m-face-sort{
	margin-bottom:10px;
	.clearfix;
	li{
		.size(50%,30px);
		margin-bottom:10px;
		.fl;
		a{
			.db;.full;transition:0.2s ease-in-out;
			.fz(13px,32px);
			.bold;
		}
		i{
			.dbi;.size(32px);.y;margin-right:10px;
			background-color:#eee;
			border:1px solid #eee;
		}
		em{
			.normal;
			color:#888;
			text-transform:uppercase;
			.fz(11px);
			margin-left:5px;
			font-family:'Trebuchet MS',Tahoma,"\5FAE\8F6F\96C5\9ED1";
		}
		.woman{
			//background:url('@{url}face/woman.png') no-repeat 0 0;
		}
		.girl{
			//background:url('@{url}face/girl.png') no-repeat 0 0;
		}
		.man{
			//background:url('@{url}face/man.png') no-repeat 0 0;
		}
		.boy{
			//background:url('@{url}face/boy.png') no-repeat 0 0;
		}
	}
}

.m-face-search{
	margin-bottom:10px;
}

.m-face-help{
	margin-bottom:15px;
}

.m-face-recommond{
	
}

.m-face-tasklist{
	.u-list-5297{background:url('@{url}medal/face_1.gif') no-repeat 0 center;}
	.u-list-4308{background:url('@{url}medal/face_2.gif') no-repeat 0 center;}
	.u-list-4672{background:url('@{url}medal/face_3.gif') no-repeat 0 center;}
}