.face-container{

	.m-face-nav{
		li{
			.size(200px,40px);
			margin-bottom:5px;
			a{
				.db;.full;transition:0.2s ease-in-out;
				.indent;
			}
			/*&.bg1{
				background:url('@{url}face/woman-1.png') no-repeat 0 0;
			}*/
			.woman{
				/*background:url('@{url}face/woman-1.png') no-repeat 0 0;
				&:hover{*/
					background:url('@{url}face/woman.png') no-repeat 0 0;
				//}
			}
			/*&.bg2{
				background:url('@{url}face/girl-1.png') no-repeat 0 0;
			}*/
			.girl{
				/*background:url('@{url}face/girl-1.png') no-repeat 0 0;
				&:hover{*/
					background:url('@{url}face/girl.png') no-repeat 0 0;
				//}
			}
			/*&.bg3{
				background:url('@{url}face/man-1.png') no-repeat 0 0;
			}*/
			.man{
				/*background:url('@{url}face/man-1.png') no-repeat 0 0;
				&:hover{*/
					background:url('@{url}face/man.png') no-repeat 0 0;
				//}
			}
			/*&.bg4{
				background:url('@{url}face/boy-1.png') no-repeat 0 0;
			}*/
			.boy{
				/*background:url('@{url}face/boy-1.png') no-repeat 0 0;
				&:hover{*/
					background:url('@{url}face/boy.png') no-repeat 0 0;
				//}
			}
		}
	}

	.m-face-search{
		.vm{
			padding:5px;
			width: 60%;
			border: 1px solid #ddd;
			background: none;
			border-radius: 4px;
			box-shadow: 0 0 4px #ddd inset;
			background-color:#fff;
			&:focus,&:hover{
				box-shadow: 0 0 4px #0cf inset,0 0 2px #ddd;
			}
		}
		.u-button-search{
			.u-btn-gray(a);
			padding: 4px 14px 3px;
			.pr;
			top:2px;
			border-radius:3px;
		}
		.hot{
			.clearfix;
			padding:3px 0;
			.fz(12px,2);

			h3{.bold;.fl;}
			.module{
				.fl;
				ul{.clearfix;}
				li{.fl;margin:0;margin-right:5px;}
				a:hover{text-decoration:underline;}
			}
		}
	}

	.m-face-help{}

	.m-face-recommond{
		ul li a{
			background: url('@{url}user/medal/medal31.gif') no-repeat 0 center;
		}
	}

	.m-face-toplist{
		ul li a{
			background: url('@{url}user/medal/face_3.gif') no-repeat 0 center;
		}
	}


















}