.m-face-view{
	padding:20px 0;
	.clearfix;
	.m-short{
		.db;.size(320px,420px);
		.clip;.pr;.fl;
		border:1px solid #917507;
		border-radius:4px;
		box-shadow: 0 0 4px #ccc;
		margin-right:20px;
		.img{
			.db;.x;
			img{
				max-width:100%;
				max-height:100%;
			}
		}
	}
	.m-ct{
		margin-left:340px;
	}
	.m-details{
		.clearfix;.clip;
		.h(138px);margin-bottom:10px;
	}
	.m-info{
		.w(576px - 210px - 20px);
		.fz(13px,2);.fl;
		padding:10px 0;
		.item{
			.db;
			em{color:#888;}
			span{color:#555;}
			.weibo{.none;}
		}
		.intro{
			.h(78px);.clip;
			span{font-size:12px;}
		}
	}

	.m-down{
		.fl;.w(210px);
		.u-btn-facedown{
			background:url('@{url}tool/btn-down-red.png') no-repeat 0 0;
			.size(210px,80px);
			.db;.indent;
		}
		.counts{
			.x;.db;
			span{color:#c00;}
		}
		.m-share{
			.w(140px);.auto(x);
		}
	}

	.m-extend{
		.m-more{
			border-bottom:1px dashed #ddd;
			border-top: 1px dashed #ddd;
			color: #999;
			font-weight: bold;
			padding:5px 0;
		}
		.minipic{
			.clearfix;
			li{
				.fl;margin-right:20px;
				span{.db;.x;line-height:2;margin:5px 0;color:#777;}
				img{.db;.size(160px,210px);border:1px solid #eee;}
			}
		}
	}





}