.m-face-list{
	@face-w:112px;
	@face-h:152px;

	margin-top:20px;
	.u-list(a,250px,45px,3);
	ul{
		.clearfix;
		li{
			.fl;
			margin-bottom:20px;
			.size(250px,164px);
			overflow:hidden;
		}
	}
	.short{
		.db;.fl;.pr;
		border:1px solid #eee;
		background-color:#f7f7f7;
		border-radius:3px;
		.shark();
		.img{
			.db;
			.size(@face-w,@face-h);
			margin:5px;
			overflow:hidden;
			img{
				.size(100%,auto);
			}
		}
		.mark{
			.db;.full;
			.pa;.lt(0,0);.z(2);
			em{.none;}
			&.mark-1{background:url('@{url}face/u-face-mark-1.png') no-repeat 0 0;}
			&.mark-2{background:url('@{url}face/u-face-mark-2.png') no-repeat 0 0;}
			&.mark-3{background:url('@{url}face/u-face-mark-3.png') no-repeat 0 0;}
		}
	}
	.info{
		.fl;.db;
		.size(250px - 124px - 22px,164px - 20px);
		overflow:hidden;
		padding:10px 10px 10px 12px;
		.fz(12px,2);
		span{
			.db;color:#555;
			em{color:#666;}
			.nobreak(clip);
		}
		.author{}
		.time{}
		.downloads{
			b{color:#c00;}
		}
		.round{
			.isround{
				.dbi;.y;margin-right:3px;
			}
			.isround.true{
				.size(14px,10px);
				background:url('@{url}icon/true.gif') no-repeat 0 0;
			}
			.isround.false{
				.size(12px,11px);
				background:url('@{url}icon/false.gif') no-repeat 0 0;
			}
			.u-face-round{.none;}
		}
		.down{
			.dbi;.size(16px,21px);.y;
			background:url('@{url}icon/down1.png') no-repeat 0 0;
		}
		.details{
			.db;line-height:24px;.indent(28px);
			.size(100px,24px);
			margin-top:15px;
			i{
				.none;
				font-family:Arial;
				font-size:8px;
				margin-left:3px;
			}
			background:url('@{url}common/details.png') no-repeat 0 0;
		}

	}
}