<div class="fam-primary" id="fam-primary">
	<h2>攻略信息</h2>
	<ul class="fam-fam-info">
		<li><span>副本年代</span>{fbtime_value}</li>
		<li><span>副本名称</span>{fbname_value}</li>
		<li class="u-last"><span>BOSS名称</span>{fbboss_value}</li>
	</ul>
	<h2>攻略提供</h2>
	<ul class="fam-raid-info">
		<li><span>服务器</span>{fuwuqi_value}</li>
		<li><span>团队名称</span>{raidname_value}</li>
		<li class="u-last"><span>团队招募</span><a href="{fburl_value}" id="e-fam-primary-raid-link" target="_blank">点击查看团队招募页</a></li>
	</ul>
</div>