<div class="m-fam-nav m-alist">
	<h2>攻略导航<a class="pub-btn"  href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=369&extra=page%3D1%26filter%3Dsortid%26sortid%3D20&sortid=20" target="_blank">发布</a></h2>
	<ul>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbname=2&orderby=dateline">夜守孤城</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbname=3&orderby=dateline">逐虎驱狼</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbname=4&orderby=dateline">秦皇陵</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbname=5&orderby=dateline">风雪稻香村</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbname=1&orderby=dateline">五人副本</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbtime=1&orderby=dateline">90年代</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbtime=2&orderby=dateline">80年代</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=20&searchsort=1&fbtime=3&orderby=dateline">70年代</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=author&orderby=dateline&sortid=20">全部</a></li>
	</ul>
</div>


<div class="m-fam-search">
	<h2>攻略搜索</h2>
    <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=369&amp;filter=sortid&amp;sortid=20">
        <input type="hidden" name="formhash" value="ac1413b8">
            <div class="row fam-name">
                <span class="label">副本名称:</span>
                <span class="itembox" id="select_fbname">
	                <select name="searchoption[211][value]" id="fbname" onchange="changeselectthreadsort(this.value, '211', 'search');" class="ps vm">
	                    <option value="0">请选择</option>
	                    <option value="1">五人副本 </option>
	                    <option value="2">夜守孤城 </option>
	                    <option value="3">逐虎驱狼 </option>
	                    <option value="4">秦皇陵 </option>
	                    <option value="5">风雪稻香村 </option>
	                    <option value="6">血战天策 </option>
	                    <option value="7">大明宫 </option>
	                    <option value="8">战宝军械库 </option>
	                    <option value="9">南诏皇宫 </option>
	                    <option value="10">会战唐门 </option>
	                    <option value="11">持国回忆录 </option>
	                    <option value="12">烛龙殿 </option>
	                    <option value="13">龙渊泽 </option>
	                    <option value="14">荻花圣殿 </option>
	                    <option value="15">荻花洞窟 </option>
	                    <option value="16">荻花后山 </option>
	                    <option value="17">持国天王殿 </option>
	                    <option value="18">宫中神武遗迹 </option>
	                    <option value="19">战宝珈蓝 </option>
	                </select>
					<input type="hidden" name="searchoption[211][type]" value="select">
                </span>
            </div>
            <div class="row boss-name">
                <span class="label">BOSS名称:</span>
                <input type="text" name="searchoption[212][value]" size="15" class="px vm" value="">
            </div>
            <div class="row fam-search-button"><button type="submit" class="u-button-search" name="searchsortsubmit"><em>搜索</em></button></div>
    </form>
</div>

<div class="m-fam-herald">
	<h2>最新捷报<a class="pub-btn"  href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=369&extra=page%3D1%26filter%3Dsortid%26sortid%3D20&sortid=12" target="_blank">发布</a></h2>
	<a class="all" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=369&filter=sortid&sortid=12">《查看历史五甲捷报》</a>
	<br/>
	<!-- 没有捷报 -->
	<span class="nothing">暂无新资料片角逐成绩</span>
	<!-- 最新捷报 -->
	<!--{block/1013}-->
</div>

<div class="m-fam-raid">
	<h2>团队招募<a class="pub-btn"  href="http://www.jx3pve.com/raid" target="_blank">全部</a></h2>
	<!--{block/897}-->
</div>

<div class="m-ad-sidebar">
	<!--{ad/custom_2}-->
</div>