@blue:#3361a7;
@top:44px;

html,body{
	.h(auto);
}

body{
	background-color:#f7f7f7;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif,'微软雅黑';
	.color(#555,#333,#c00);
	.fz(13px,1.8);
}

.footer{
	//.pf;.lb(0,30px);.z(999);
	.x;.w(100%);
	.fz(12px,2);
	.color(#888,#888,#888);
	.code{
		.size(80px);.auto(x);
		img{.full;}
	}
}
