.i-home-page{
	
}

.i-home-page{
	
	.m-tip{
		margin:20px auto;
	}

	.page{
		a{
			margin-right:5px;
		}
	}

	.userinfo{
		.user_box{
			li:last-child{
				border-bottom:none;
			}
		}
		.btn_exit{
			a{
				background:#c00;
				.x;color:#fff;
				.fzlh(12px,32px);
			}
		}
	}

	.pmbox{
		ul{}
		li{
			.fz(13px,2);
			.time{
				//color:#999;
				margin-left:3px;
			}
		}
	}
}

.myinfo_list{
	li{
		background: none;
		border:1px solid #eee;
		background-color:#fff;
		float:none;
		.w(auto);
	}
}