/*.i-nav,.header{
	//.pf;.lt(0,0);.z(999);
	//.w(100%);.h(38px);
	background-color:#fff;
	.hdc{
		//padding:0;background: none;
		.clearfix;
		h2{
			.fl;.size(140px,50px);
			padding-left:0;
			padding-right:0;
			background:url('@{url}m/logo.png') no-repeat center center;
			a{.db;.full;}
			img{.none !important;}
		}
		.user_fun{
			.fr;
		}
	}
}*/

.swiper-container {
    .size(100%,360px);
}

.i-index-page{
	padding-top:20px;

	.minibox{
		.color(#666,#666,#c00);
	}


	.oslist{
		.clearfix;
		.w(60px*4);
		.auto(x);

		li{
			.db;.fl;
			margin:8px;
		}
		li a{
			.db;
			.fz(12px,2);.x;
			.color(#666,#666);
			i{
				.db;.size(40px);.r(4px);
				background-repeat:no-repeat;
				background-position:0 0;
				background-size:100% 100%;
				box-shadow: 0 0 4px #ddd;
				border: 1px solid #ddd;
			}
		}
	}

	.news{
		margin:0 20px;
		h2{
			.fz(13px,2);
			border-bottom:1px solid #ddd;
			margin-bottom:5px;
			.bold;
			color:#1C2F84;
		}
		a{
			.db;.nobreak;
			.fz(12px,2);
			em{
				.none;
			}
		}
	}

	.oslist{
		.bbs i{background-image:url('@{url}m/15.png');}

		.macro i{background-image:url('@{url}m/12.png');}
		.tool i{background-image:url('@{url}m/2.png');}
		.role i{background-image:url('@{url}m/3.png');}
		.fam i{background-image:url('@{url}m/4.png');}

		.team i{background-image:url('@{url}m/1.png');}
		.member i{background-image:url('@{url}m/6.png');}
		
		.face i{background-image:url('@{url}m/17.png');}
		.book i{background-image:url('@{url}m/20.png');}
		.pet i{background-image:url('@{url}m/16.png');}
		.video i{background-image:url('@{url}m/21.png');}
		
		.feedback i{background-image:url('@{url}m/23.png');}

		.peizhuang i{background-image:url('@{url}m/tool/j3pz.png');background-color:#fff;}
	}

}


