.i-list-page{
}

.i-list-header{
	.back span{
		.fz(12px);
	}
}

.threadlist{
	margin:10px;
	ul{}
	li{
		background-color:#fff;
		box-shadow: 0 1px 2px #cacaca;
		margin-bottom:10px;
		border-bottom:none;
		border-radius:3px;
		a{
			.fz(13px,2);
		}
		.by{
			border-top: 1px solid #ececec;
		}
		.time{
			.pa;.rb(10px,10px);
			.fz(12px,1.6);color:#a5a5a5;
		}
		.num{
			background:url('@{url}m/icon2.png') no-repeat 0 -802px;
			background-size:30px auto;
			padding-left:30px;
		}
	}
}