.i-member-page{
	.i-header{
		background-color:#1B83D8;
		.color(#eee,#fff,#eee);

		.back{
			.pa;.lt(0,0);
			span{.fz(12px);}
		}
		.back i{
			border-color:#fff;
		}
		.m-title{
			.fz(14px);
		}
	}
}

.login_from{
	background: none;
	border:none;

	li{
		border-bottom:none;
	}
	.px{
		.fz(16px,2);
		background-color:#fff;
		.r(4px);
		border:1px solid #ddd;
		.w(100%) !important;
		padding:3px 10px;
		box-sizing: border-box;
	}
}

.i-register-page{
	.m-register-tips{
		.fz(12px,2);
		padding:0 10px;
		b{.bold;color:#077CDB;letter-spacing:0.5px;}
		em{.bold;color:#c00;}
	}
}

.i-login-page{
	.questionli .login_select{
		border:1px solid #ddd;
		border-radius:3px;
		padding:0 5px;
	}
}