//宏库
.macro-info-primary{

	.macro-info-base{
		border:1px solid #ddd;
		background-color:#f9f9f9;
		padding:5px;
		ul{
			li{
				border-bottom:1px dashed #ddd;
				&:last-child{
					border-bottom:none;
				}
				.u-weibo-win{
					.dbi;.y;
				}
				span{
					margin-right:5px;
				}
			}
		}
	}
	h3{padding:0 5px;.bold;}

	.important{
		margin:10px 0;
		h3{
			.u-btn-blue(b);
		}
		.content{
			border:1px solid #ddd;
			background-color:#f9f9f9;
			padding:5px;
		}
	}
	.role-info{
		margin-bottom:10px;
		h3{background-color:#f2f2f2;.r(3px);}
	}
	.macro-format-tips,#macro-copy-tips{
		.none;
	}
	.macro-frag{
		margin-bottom:10px;
		h3{
			.u-btn-blue(b);
		}
	}

}

//工具
.tool-info-primary{
	h3{padding:0 5px;.bold;}

	.tool-info-base{
		border:1px solid #ddd;
		background-color:#f9f9f9;
		padding:5px;
		ul{
			li{
				border-bottom:1px dashed #ddd;
				&:last-child{
					border-bottom:none;
				}
				span{
					margin-right:5px;
					color:#777;
				}
			}
		}
		.count{
			.none;
		}
	}
	.introduction{
		margin:10px 0;
		h3{
			.u-btn-blue(b);
		}
		.content{
			border:1px solid #ddd;
			background-color:#f9f9f9;
			padding:5px;
		}
	}

	.tool-info{
		margin-bottom:10px;
		h3{background-color:#f2f2f2;.r(3px);}
	}
}

//职业
.m-role-important{
	margin-bottom:10px;
	.m-title{
		.u-btn-blue(b);
		margin:0;
		padding:0 5px;.bold;
	}
	ul{
		border:1px solid #ddd;
		background-color:#f9f9f9;
		padding:5px;
	}
}

//副本
.fam-primary{
	h2{
		.u-btn-blue(b);
		margin:0;
		padding:0 5px;.bold;
	}
	ul{
		margin-bottom:10px;
		li{
			span{color:#777;margin-right:10px;}
		}
	}
}