//招募
.m-raid-team{
	margin-bottom:10px;
	.c-raidlogo{
		.x;
		border:1px solid #ddd;
		margin-bottom:10px;
	}
	.m-fav,.m-msg{
		.none;
	}
	.m-details{
		margin-bottom:10px;
		border:1px solid #ddd;
		background-color:#f9f9f9;
		padding:5px;
		ul{
			li{
				border-bottom:1px dashed #ddd;
				span{color:#777;margin-right:10px;}
				&:last-child{
					border-bottom:none;
				}
			}
		}
	}
	.m-intro{
		.m-control{.none;}
	}
	.m-title{
		background-color:#f2f2f2;.r(3px);
		padding:0 5px;
	}
}

//团员
.m-raid-yanyuan{
	.m-avt{.none;}

	.m-intro{
		.m-title{
			.u-btn-blue(b);
			padding:0 5px;
		}
		.words{
			border:1px solid #ddd;
			background-color:#f9f9f9;
			padding:5px;
		}
	}
}

//捏脸
.m-face-view{
	.m-short{
		img{
			.db;
		}
	}
	.m-info{
		margin:10px 0;
		background-color:#f9f9f9;
		padding:5px;
		border:1px solid #ddd;

		.m-down{
			.counts,.tips{
				.none;
			}
			.u-btn-facedown{
				.u-btn-blue(b);
				.size(120px,40px);
				.lh(40px);.db;.x;
				margin:5px 0;
			}
		}
		.m-share{
			.label{
				.none;
			}
		}
	}

	.m-extend{
		.minipic{
			img{.db;}
		}
	}
	.m-til{
		.u-btn-blue(b);
		padding:0 5px;
	}
}

//茶馆
.m-book-view{
	margin-bottom:10px;
	background-color:#f9f9f9;
	padding:5px;
	border:1px solid #ddd;
	.x;
	.e-book{
		.til,.layout,.mark{.none;}
	}
	.label{
		color:#777;
	}
	.weibo{.none;}
	.bookdown{
		#isdownload{.none;}
		.btn{
			.u-btn-blue(b);
			.size(120px,40px);
			.lh(40px);.db;.x;
			.auto(x);
		}
		.tips{
			.none;
		}
	}
}

//宠物
.pet-view-primary{
	.pet_info{
		h1{
			.fz(18px,36px);
			img{.y;}
			margin-bottom:10px;
		}
		ul{
			padding:5px;
			background-color:#f9f9f9;
			border:1px solid #ddd;
			li{
				border-bottom:1px dashed #ddd;
				span{color:#777;margin-right:10px;}
				&:last-child{
					border-bottom:none;
				}
			}
		}
		.pet_dw{
			.none;
		}
	}
}