.bg,.nav{background: none;}
.user_fun .on{
	background:url('@{url}m/arrow_top.png') no-repeat 50% 100%;
}
.user_fun li a, .nav .icon_edit a{
	background-image:url('@{url}m/icon.png');
}
a.blue:link, a.blue:visited, a.blue:hover {
  color: #3361a7;
}