.snow-primary{
	color:#555;line-height:24px;font-size:12px;.pr;
	div{margin-bottom:20px;}
	.span-mod(){.dbi;width:70px; height:24px; border-radius:24px;background-color:#eee;.x;}
	.snow-base{
		.clearfix;div{margin-bottom:0;}
		.information{
			.fl;width:75%;
			ul{
				li{
					@snow-table-height:36px;
					border-bottom:1px dotted #eee;height:@snow-table-height;line-height:@snow-table-height;
					span{.span-mod;.y;line-height:24px;margin-right:15px;}
				}
			}
		}
		.go{
			.fl;
			.download{
				a{
					.db;width:210px;height:80px;background-position:0 0;background-repeat:no-repeat;
					&.down1{background-image:url('@{url}tool/btn-down-red.png');}
					&.down2{background-image:url('@{url}tool/btn-down-black.png');}
				}
				em{
					.none;
				}
			}
		}
	}
	.Appearance{
		.pr;
		h3{
			color:#aba6a6;letter-spacing:1px;
			span{margin-left:10px;font-family:Verdana;}
		}
		.content{
			background:#f7f7f7;border-radius:4px;
			border:1px solid #ddd;
			margin:10px 0 0 0;
			padding:10px;
			img{height:100px;}
		}
		.snow-share{
			.pa;right:0;top:0;
		}
	}
	.snow-info{
		.pr;
		&:before{content:'';.db;width:88%;height:1px;background-color:#ddd;.pa;right:0;top:10px;}
		h3{
			.span-mod;
		}
		.content{
			.min-height(60);padding:10px;
		}
	}
}