.m-tool-nav{
	margin-bottom:20px;
	li{
		margin-bottom:5px;
		background-color:#fff;
		border:1px solid #ddd;
		border-radius:3px;
		padding:0 10px;
		a{
			.db;.full;
			&:hover{
				color:#049abf;
				transition:0.15s ease-in-out;
				//&:before{animation:goUp 0.3s ease-in;}
			}
			&:before{.iconfont;.y(-1px);font-size:18px;margin-right:10px;}
			&.key{&:before{content:'\e626';}}
			&.tool{&:before{content:'\e637';}}
			&.role{&:before{content:'\e604';}}
			&.plugin{&:before{content:'\e607';}}
			&.pbook{&:before{content:'\e638';}}
			&.book{&:before{content:'\e625';}}
		}
	}
}

.m-tool-search{
	.getanew{
		i{
			background:url('@{url}icon/doing.gif') no-repeat 0 0;
			.size(16px);.dbi;.y(top);margin-right:3px;
		}
		.fz(12px,16px);
		padding: 3px;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 0 1px #ddd inset;
		border: 1px solid #ddd;
	}
}

.m-tool-task{
	.u-list-1{background:url('@{url}medal/tool_1.gif') no-repeat 0 center;}
	.u-list-2{background:url('@{url}medal/tool_2.gif') no-repeat 0 center;}
}