//默认按钮样式
.pn,.pnc{
	background:none;
	.u-btn-blue(b);
	width: 120px;
	height: 28px;
	line-height: 28px;
	border: 1px solid #0084ff;
	border-radius: 4px;
}

.tb .o{
	background:none;
	.u-btn-blue(b);
	.size(100px,26px);line-height:28px;
	border: 1px solid #0084ff;
	border-radius: 4px;
}
.tb .o a{
	background:none;
	color:#fff;
	.full;line-height:26px;
	padding:0;.x;
}