.pg_portalcp{
	#block_selection{
		.mtm{
			table-layout:auto !important;
			td:last-child{
				width:220px !important;
				a{
					background: #0084ff;
					color: #fff;
					padding: 3px 10px;
					border-radius: 2px;
					margin-right: 5px;
					&:nth-child(2){
						background: #5DB20F;
					}
				}
			}
		}
	}
}

.w-post-adminbar{.none;}
.adminHTML .w-post-adminbar{.db;}