//管理
.w-post-adminbar{
	padding:5px 10px !important;
	margin-bottom:5px;
	background-color: #f2f2f2;
	border:1px solid #ddd;
	a{
		color:#555;
	}
}


//快速回复
#f_pst{
	.pls{
		background:none;border:none;
		.avatar{
			.size(118px);padding:5px;
			border:1px solid #ddd;
			margin-top:20px;
			img{
				/*padding:5px;border:1px solid #0099ff;
				border-radius:4px;*/
				background: none;
				.full;
				padding:0;
			}
		}
	}
	.plc{
		padding:15px;
		.cl{
			#fastsmiliesdiv{.none;}
		}
		.hasfsl{
			margin-right: 0;
		}
	}
	#fastpostsubmit{
		line-height: 2;
  		height: 28px;
	}
}

//表格布局
#postlist{
	&.bm{
		border:none;
	}
	.ad{
		.pls,.plc{background:none;}
	}
	.vwthd{
		//border-bottom:1px solid #555;
		.ts{
			.m-count{
				.db;.fl;
				background-color:#FF0057;
				color:#fff;
				  padding: 0 10px;
				  border-radius: 4px;
				  margin-right: 5px;
			}
		}
	}
}


//查看页隐藏分页
.pve-container{
	.w-post-adminbar{
		margin:10px 0 0 0;
	}
	.pls.ptn{
		.none;
	}
	.plc{
		padding:0;
		&.vwthd{
			padding:10px 0 !important;
		}
	}
	#postlist .plc .authi .authicn{
		.none;
	}
	.vwthd div.y{
		margin-right:0;
	}
}

//回帖奖励
#pl_top{
	border-top:1px solid #eee;
	.pls{background: none;border:none;}
}
