.typeoption{
	border:1px dotted #ddd;
	border-bottom:none;
	margin:10px 0;
	.cgtl{
		margin-bottom:0 !important;
		caption{
			.none;
		}
		th,td{
			border-bottom:1px dotted #ccc;
			padding:3px 10px;
		}
	}
	margin-bottom:20px;
}

/*background-color:#e3f5ff;
			border:1px solid #c9eafd;
			padding:20px;.pr;
			margin-bottom:10px;
			&:hover{
				.honey{.tm(1);}
			}

			.info-list{
				li{
					line-height:22px;height:22px;
					span{.dbi;width:60px;}
				}
			}*/