//面包屑
.pg_spacecp,.pg_portalcp,.pg_stat{
	#pt{
		.w(@wp);.auto(x);
		background: none;
		border: none;
		//border-bottom: 1px dotted #ddd;
		padding:5px 0;
	}
}
.pg_index,.pg_space,.pg_task,.pg_faq{
	#pt{
		.w(@wp);.auto(x);
		background: none;
		border: none;
		border-bottom: 1px dotted #ddd;
		padding:5px 0;
	}
}
