.typeoption{
	border:1px dotted #ddd;
	border-bottom:none;
	margin:10px 0;
	.cgtl{
		margin-bottom:0 !important;
		caption{
			.none;
		}
		th,td{
			border-bottom:1px dotted #ccc;
			padding:3px 10px;
		}
	}
	margin-bottom:20px;
}