//道具操作
.panel-list{
	padding:2px 10px;border-radius:4px;
	.u-btn-gray(b);

	&:before{
		content:'\e62f';
		.iconfont;
		color:rgb(255,51,153);
		.tm(0.3);
		transition:all 0.2s ease-in;
	}
	&:hover{&:before{color:@pink;} box-shadow:0 0 3px #ddd;}
	
	a{
		margin:0 4px;
		transition:all 0.3s ease-in;
		padding:0;
		&:hover{color:@pink;}
	}
}

.pg_stat .box{padding-bottom:20px;}