//顶部翻页隐藏
.w-pages-top{
	//.none;
	padding-bottom:0  !important;
	border-bottom:none !important;
}

//底部翻页
.w-pages-bottom{

}

//底部下一页按钮
.u-pages-next{
	.u-btn-gray(a);
	.fz(13px,20px);
	.db;.x;
	margin-bottom:10px;
}

//翻页旁发布按钮
.w-pages{
	.u-btn-publish{
		.db;.size(120px,32px);.x;
		border-radius: 2px;
		.u-btn-blue(b);
		span{
			.fz(14px,32px);
		}
		img{.none;}
	}
	.pg,.pgb{
		margin:2px 0 !important;
	}
}

