//充值页面
#nv_home{
	//积分页面顶部说明

	#addfundsform{
		//财付通
		.mbm{
			.none; //临时隐藏
			li input{margin-right:2px;}
		}
		//支付宝
		.mbw{
			.pr;width:auto !important;
			.vm{margin-right:2px;}
			//支付宝充值方式提示
			.user-cre-alitips{
				.pa;left:188px;top:0px;border-radius:3px;
				padding:10px;background-color:#C6FFB5;border:1px solid #66CC00;color:#555;box-shadow:0 0 3px #ddd;
				.arrows(l,10px,#C6FFB5,1px,#66CC00);
				span{color:#cc0000;.bold;}
			}
		}
	}

	//金额提示
	#paybox #desamount{color:#ff0000;font-weight:bold;}
	.chongzhitips{padding-top:5px ;color:#fc7e02;}

}

.c-buyform{

	.user-pay-alipay{
		margin-bottom:0 !important;
		.pr;
		ul{
			.clearfix;
			.w(180px);
			li{
				input{margin-right:8px !important;}
			}
		}
		.u-msg-alipay{
			.pa;.lt(180px,0);
			.w(480px);
			border-radius: 3px;
			padding: 10px;
			background-color: #c6ffb5;
			border: 1px solid #6c0;
			color: #555;
			box-shadow: 0 0 3px #ddd;
			.db;
			.arrows(l,6px,#c6ffb5,1px,#6c0);
			b{
				color: #c00;
		  		font-weight: bold;
			}
		}
	}

	.u-text-buynum{
		width:152px !important;
		border: 1px solid #ccc;
		border-radius: 3px;
		padding: 0 10px;
		.lh(26px);
	}
	.pns{
		.lh(26px);
	}

	.u-buy-tips{
		margin-top:10px;
		color:#F26C4F;
		line-height:20px;
	}
}

