/*
 * Project: 用户中心支付模块
 * Description: user / user-pay
 * Creat: iRuxu 2015.6.28
 * Update : iRuxu 2015.6.28
 */


//支付模块公共样式
.user-pay{
	ul li{
		input{margin-right:5px;}
		label{padding:2px;background-position:left center;}
	}
}

//财付通
.user-pay-tencent{
	.none;			//暂时隐藏财付通支付方式
}

//支付宝
.user-pay-alipay{
	//支付宝密码提醒
	.u-alipay-tips{
		border-radius: 3px;
		padding: 10px;
		background-color: #c6ffb5;
		border: 1px solid #6c0;
		color: #555;
		box-shadow: 0 0 3px #ddd;
		.pr;.db;
		.arrows(t,6px,#c6ffb5,1px,#6c0,10%);
		b{
			color: #c00;
	  		font-weight: bold;
		}
	}
}
