.vip-pc-container{

	padding: 0 10px;

	//块头
	.block{
		.clearfix;
		margin-bottom:10px;
	}

	//标题
	.vip-pc-title{
		line-height:28px;height:28px;background:#f2f2f2;border-radius:20px;
		padding-left:20px;color:#999;font-weight:normal;margin-bottom:10px;
		span{.fr;padding-right:20px;text-transform:uppercase;font-family:Trebuchet MS;letter-spacing:0.5px;}
	}

}

.vip-pc-header{
	img{.db;}
}

.vip-pc-status{


	.avt{
		.fl;.size(48px);
		padding:2px;border:1px solid #ddd;border-radius:4px;box-shadow:0 0 4px #ddd;
	}
	.profile{
		margin-left:68px;
		li{
			.fz(12px,2);
			img{.y;}
		}
		.counts{
			.dbi;.y(text-bottom);.size(16px);margin-right:5px;
			background:url('@{url}icon/viewpay.gif') no-repeat 0 0;
		}
	}
}

.vip-pc-buy{
	padding:0 20px;
	.m-title{
		.fz(13px,2.5);color:#777;
	}
	.m-days,.m-payway{
		.auto(x);
		.w(242px*3 - 20px);.clip;

		form{
			.w(242px*3);
			.db;.clearfix;
		}
		label{
			.db;.pointer;
			*{*cursor:pointer;}
			img{.db;}
			input{.none;}

			.size(220px,88px);
			border:1px solid #ddd;
			.r(3px);.fl;
			margin-right:20px;
			background-color:#f7f7f7;

			span{.db;.x;}
			.time{.db;.fz(24px,26px);}
			.credit{.db;.fz(14px,26px);color:#666;}

			&:hover,&.on{
				border-color:@yel;
				background-color:#fff;
			}
		}

		.tovevip-12month{
			.pr;
			i{text-decoration:line-through;margin-right:10px;}
			b{color:@green;.bold;}
			&:after{
				content:'';
				.db;.size(64px);.pa;.rt(0,0);
				background:url('@{url}vip/zhekou.png') no-repeat right top;
			}
		}
	}
	.m-days{
		margin-bottom:20px;
		label span{
			padding-top:20px;
		}
	}
	.m-tips{
		.fz(12px,16px);
		margin:15px 0;.x;
		.warning{
			.dbi;.size(16px);.y(top);margin-right:5px;
			background:url('@{url}icon/icon-report-16.png') no-repeat left center;
		}
		b{.color(#f00);.bold;}
		a{text-decoration:underline;.color(@bluex,@blue);}
		.skip{
			.color(#999,#777);
			text-decoration:none;
		}
	}
	.m-gobutton{
		.db;.size(280px,80px);
		margin:20px auto;
		color:#fff;
		border:none;
		background:#cc0000;
		.r(4px);
		.fz(24px,80px);
		&:hover{
			background:lighten(#c00,5%);
		}
	}
}

.vip-pc-intro{
	background:url("@{url}vip/nav-bg.png") no-repeat center top;
	height:109px;
}

.vip-pc-details{
	padding-right:240px;
	background:url("@{url}vip/mogubg.png") no-repeat right top;
	table{width:100%;}
	td{border:1px solid #ddd;padding:2px 5px;line-height:24px;color:#777;}
}