body{
    font-family:"\5FAE\8F6F\96C5\9ED1",Consolas,Arial,Helvetica,"\5B8B\4F53",sans-serif;
    color:@color;font-size:12px;
}
::selection{color:#fff;background-color:@bluex;}
a {color:#444;}
a:hover {color: @bluex;text-decoration: none;}
