//认证图标
.verf-raid{background:url('@{url}verif/raid.png') no-repeat 0 0;}
.verf-leader{background:url('@{url}verif/leader.png') no-repeat 0 0;}
.verf-girl{background:url('@{url}verif/girl.png') no-repeat 0 0;}
.verf-player{background:url('@{url}verif/player.png') no-repeat 0 0;}
.verf-author{background:url('@{url}verif/author.png') no-repeat 0 0;}


//用户组
.u-group{.size(84px,16px);.db;#u-usergroup-id{.none;}}
.u-group-1{background:url('@{url}group/u-group-1.png') no-repeat 0 0;}
.u-group-2{background:url('@{url}group/u-group-2.png') no-repeat 0 0;}
.u-group-3{background:url('@{url}group/u-group-3.png') no-repeat 0 0;}
.u-group-4{background:url('@{url}group/u-group-4.png') no-repeat 0 0;}
.u-group-5{background:url('@{url}group/u-group-5.png') no-repeat 0 0;}
.u-group-6{background:url('@{url}group/u-group-6.png') no-repeat 0 0;}
.u-group-7{background:url('@{url}group/u-group-7.png') no-repeat 0 0;}
.u-group-8{background:url('@{url}group/u-group-8.png') no-repeat 0 0;}
.u-group-9{background:url('@{url}group/u-group-9.png') no-repeat 0 0;}
.u-group-10{background:url('@{url}group/u-group-10.png') no-repeat 0 0;}
.u-group-11{background:url('@{url}group/u-group-11.png') no-repeat 0 0;}
.u-group-12{background:url('@{url}group/u-group-12.png') no-repeat 0 0;}
.u-group-13{background:url('@{url}group/u-group-13.png') no-repeat 0 0;}
.u-group-14{background:url('@{url}group/u-group-14.png') no-repeat 0 0;}
.u-group-15{background:url('@{url}group/u-group-15.png') no-repeat 0 0;}
.u-group-16{background:url('@{url}group/u-group-16.png') no-repeat 0 0;}
.u-group-17{background:url('@{url}group/u-group-17.png') no-repeat 0 0;}
.u-group-20{background:url('@{url}group/u-group-20.png') no-repeat 0 0;}
.u-group-22{background:url('@{url}group/u-group-22.gif') no-repeat 0 0;}
.u-group-24{background:url('@{url}group/u-group-24.png') no-repeat 0 0;}
.u-group-25{background:url('@{url}group/u-group-25.png') no-repeat 0 0;}
.u-group-26{background:url('@{url}group/u-group-26.png') no-repeat 0 0;}
.u-group-33{background:url('@{url}group/u-group-33.png') no-repeat 0 0;}
.u-group-34{background:url('@{url}group/u-group-34.png') no-repeat 0 0;}
.u-group-36{background:url('@{url}group/u-group-36.png') no-repeat 0 0;}






//充值
.u-btn-cre{
	width:73px;height:28px;.dbi;margin:0 2px;.y;
	background:url('@{url}user/credits.png') no-repeat 0 0;
	&:hover{
		background-position:0 -28px;
	}
}

//vip提示
.tobevip-tips{
	border:1px dashed #f0ea8e;
	padding:5px;
	margin:10px 0;
	background: #fffddf;
}

//vip图标
.tobevip{
	.dbi;.size(84px,16px);
	.indent;.y;
	top: 5px;margin: 0 3px;
	background: url('@{url}user/vip.gif') no-repeat 0 0;
}

//积分兑换
.user-icon-old{width:78px;height:24px;.dbi;margin:0 2px;.y;}
.user-icon-jifenduihuan{
	background:url('@{url}user/duihuan.png') no-repeat 0 0;
	.user-icon-old;
}
.user-icon-chongzhi{
	background:url('@{url}user/cre.png') no-repeat 0 0;
	.user-icon-old;
}
.user-icon-huiyuan{
	background:url('@{url}user/vipbt2.png') no-repeat 0 0;
	.user-icon-old;
}
.user-icon-nichen{
	background:url('@{url}user/editnic.png') no-repeat 0 0;
	.user-icon-old;
}

.icon-groupicon{
	width:84px;height:16px;.dbi;margin:0 2px;.y;
}


//购买按钮
//蓝色
.buy-cre{
	color:#fff;font-weight:bold;width: 82px;height:32px;line-height:32px;
	border: none;display: block;cursor:pointer;text-align: center;
	background:url('@{url}user/buy-cre.png') no-repeat 0 0;
	&:hover{
		background: url("@{url}user/buy-cre.png") no-repeat 0 -32px;
	}
}
.btn-cre-size2{
	color:#fff;width:87px;height:38px;line-height:38px;
	border:none;display: block;cursor:pointer;text-align: center;
}
.btn-red{
	.btn-cre-size2;
	background:url('@{url}user/btn-red.png') no-repeat 0 0;
	&:hover{
		background:url('@{url}user/btn-red.png') no-repeat 0 -38px;
	}
}
.btn-blue{
	.btn-cre-size2;
	background:url('@{url}user/btn-blue.png') no-repeat 0 0;
	&:hover{
		background:url('@{url}user/btn-blue.png') no-repeat 0 -38px;
	}
}