/*DOM 结构
---------------------------------------------------*/
body{
	min-width:1180px;
}
//内容区
.box {
    padding-top:@c-header-height;
    margin:0 !important;
}
//平铺背景层
.wrap {
}
//背景层
.main {
}
//中央控制包裹层
.wp {
    width:@wp;
   .auto(x);
}
.widthauto {
    .wp {
        width: 98%;
    }
}

//layout方案
//--------------------------------------------------------
.col2-ct {
    width: 960px;
}
.col2-sd {
    width: 200px;
}