/*
 * Template: *
 * Style: var.less
 * Description: 全局变量声明
 * Creat: iRuxu 2014
 * Update : iRuxu 2015.6.28
 */

//CDN image path
//--------------------------------------------------------
//@url: 'http://static.jx3pve.com/img/';
@url: 'http://img.jx3pve.com/img/';
@urls: 'http://static.jx3pve.com/static/image/';

//Color
//--------------------------------------------------------
@color:#444;        //默认字体颜色
@blue: #00ccff;     //天蓝
@bluex: #049abf;    //海青蓝
@basecolor:#0084ff; //蔚蓝
@dk-blue: #0064cd;  //深蓝
@bg-blue: #fafdff;  //浅蓝背景
@bo-blue: #cceafe;  //边框浅蓝
@pink: #f39;        //粉色
@pup: #93f;         //紫色
@yel:#f73;          //暗橙色     
@green:#008000;		//绿色


/*尺寸变量
---------------------------------------------------*/
@c-header-height: 38px;
@wp: 1180px;
@sd: 200px;
@primary: 960px;
@ct: @wp - @sd - 20px;

