#nv_home,.user-os-wechat,.user-container{

	//去掉中央边框
	.ct2_a, .ct3_a{border:none;background:none;}

	//与分页拉开间距
	.xld{margin-bottom:10px;}

	//头像设置
	.tfm{
		h2.xs2{
			.fz(12px,2) !important;border-bottom:1px dashed #ddd;margin-bottom:10px;.bold;
		}
	}
} 

.c-user-nicname{
	.tips(yel);
	margin-top:10px;
	.fz(12px,2);
	color:#c00;
	padding:5px;
}


.user-msg-nav{	//消息页面的图标隐藏
	margin-bottom:20px;
	li em{.none;}
}
