#nv_home{

	//去掉中央边框
	.ct2_a, .ct3_a{border:none;background:none;}

	//与分页拉开间距
	.xld{margin-bottom:10px;}

	//头像设置
	.tfm{
		h2.xs2{
			.fz(12px,2) !important;border-bottom:1px dashed #ddd;margin-bottom:10px;.bold;
		}
	}
} 
