<!-- jx3pve:分类导航 -->
<h2>分类导航</h2>
<ul class="m-tool-nav">
	<li><a class="key" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=315&orderby=dateline">按键辅助</a></li>
	<li><a class="tool" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=316&orderby=dateline">实用工具</a></li>
	<li><a class="role" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=317&orderby=dateline">配装辅助</a></li>
	<li><a class="plugin" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=318&orderby=dateline">游戏插件</a></li>
	<li><a class="pbook" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=319&orderby=dateline">插件教程</a></li>
	<li><a class="book" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=320&orderby=dateline">其他教程</a></li>
</ul>

<!-- jx3pve:工具名称搜索 -->
<h2>工具搜索</h2>
<div class="m-tool-search">
	<form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=321&amp;filter=sortid&amp;sortid=5">
	    <input type="text" name="searchoption[41][value]" size="15" class="px vm" value="">
	    <button type="submit" class="u-btn-toolsearch" name="searchsortsubmit"><em>搜索</em></button>
	</form>
</div>

<!-- jx3pve:常用工具 -->
<h2>常用工具</h2>
<div class="m-tool-common m-downlist">
	<ul>
		<li><a href="http://www.jx3pve.com/thread-6342-1-1.html" target="_blank">在线配装</a></li>
		<li><a href="http://www.jx3pve.com/thread-6601-1-1.html" target="_blank">抓宠助手</a></li>
		<li><a href="http://www.jx3pve.com/thread-9510-1-1.html" target="_blank">抓马助手</a></li>
		<li><a href="http://www.jx3pve.com/thread-7472-1-1.html" target="_blank">自动钓鱼</a></li>
		<li><a href="http://www.jx3pve.com/thread-6334-1-1.html" target="_blank">剑三蘑菇</a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=318" target="_blank">小雪读条皮肤</a></li>
	</ul>
</div>

<!-- jx3pve:帮助文档 -->
<h2>帮助文档</h2>
<div class="m-tool-help m-alist">
	<!--{block/1242}-->
</div>

<!-- jx3pve:发布按钮 -->
<!-- <a class="m-tool-pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=5&fid=321&cedit=yes&extra=" target="_blank">发布作品</a> -->

<div class="m-ad-sidebar">
	<!--{ad/custom_2}-->
</div>