<!-- jx3pve:分类导航 -->
<h2>分类导航</h2>
<ul class="m-tool-nav">
	<li><a class="key" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=315&orderby=lastedit">按键辅助</a></li>
	<li><a class="tool" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=316&orderby=lastedit">实用工具</a></li>
	<li><a class="role" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=317&orderby=lastedit">职业工具</a></li>
	<li><a class="plugin" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=318&orderby=lastedit">读条皮肤</a></li>
	<li><a class="pbook" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=319&orderby=lastedit">相关教程</a></li>
</ul>

<!-- jx3pve:工具名称搜索 -->
<h2>工具搜索</h2>
<div class="m-tool-search m-pve-search">
	<form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=321&amp;filter=sortid&amp;sortid=5">
	    <input type="text" name="searchoption[41][value]" size="15" class="px vm" value="">
	    <button type="submit" class="u-button-search" name="searchsortsubmit"><em>搜索</em></button>
	</form>
	<div class="hot">
        <h3>热搜：</h3>
        <!--{block/1290}-->
    </div>
    <a class="getanew" href="http://www.jx3pve.com/thread-10895-1-1.html" target="_blank"><i></i>没找到想要的？试试来提需求。</a>
</div>

<!-- jx3pve:帮助文档 -->
<h2>帮助文档</h2>
<div class="m-tool-help m-alist">
	<!--{block/1242}-->
</div>

<!-- jx3pve:任务 -->
<h2>任务奖励<a class="more" href="http://www.jx3pve.com/home.php?mod=task" target="_blank"></a></h2>
<div class="m-tool-task m-tasklist">
	<!--{block/1286}-->
</div>

<!-- jx3pve:广告 -->
<h2>广而告之<a class="u-tips-faq" href="http://www.jx3pve.com/misc.php?mod=faq&action=faq&id=1&messageid=116" target="_blank" title="这是什么？"></a></h2>
<div class="m-pve-sdad">
	<!--{subtemplate jx3pve/b_banner_b}-->
</div>