<div class="snow-primary">
	<div class="snow-base">
		<div class="information">
			<ul>
				<li><span>皮肤名称</span>{snow1_value}</li>
				<li><span>插件版本</span>{snow6_value}</li>
				<li><span>皮肤类型</span>{snowtype_value}</li>
				<li><span>皮肤色调</span>{snowcolor_value}</li>
				<li><span>作者名称</span>{chajian2311_value}</li>
			</ul>
		</div>
		<div class="go">
			<div class="download" id="mod-down">
				<a id="down1" class="down1 down" href="" target="_blank"></a>
				<a id="down2" class="down2 down" href="" target="_blank"></a>
				<em id="down_url_1" class="down_url">{downurl_value}</em>
				<em id="down_url_2" class="down_url">{downurl_value}</em>
			</div>
		</div>
	</div>
	<div class="Appearance">
		<h3>样式展示 <span>Appearance</span></h3>
		<div class="content">
			<img src="{snowshot_value}" alt="小雪皮肤预览图" />
		</div>
		<div class="bdsharebuttonbox snow-share">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
			<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</div>

	<div class="panel-list">
		<a class="top" href="home.php?mod=magic&amp;mid=stick&amp;idtype=tid&amp;id={vanfon_tid}" id="a_stick" onclick="showWindow(this.id, this.href)">置顶</a> | 
		<a class="color" href="home.php?mod=magic&amp;mid=highlight&amp;idtype=tid&amp;id={vanfon_tid}" id="a_stick" onclick="showWindow(this.id, this.href)">高亮</a>
	</div>

	<div class="snow-info">
		<h3>更多说明</h3>
	</div>
</div>