<div class="tool-info-primary">

	<div class="tool-info-base block">

		<div class="information">
			<ul>
				<li><span>工具名称</span>{chajian2111_value}</li>
				<li><span>工具类型</span>{toolscat_value}</li>
				<li><span>更新时间</span><em id="u-post-lastupdate"></em></li>
				<li><span>作者名称</span>{chajian2311_value}</li>
				<li class="tool_pwd"><span>网盘密码</span>{tool_pwd_value}</li>
			</ul>
		</div>

		<div class="go">
			<a id="tool-down-1" class="down1 tool-down" href="" target="_blank"></a>
			<a id="tool-down-2" class="down2 tool-down" href="" target="_blank"></a>
			<em id="down_url_1" class="down_url">{downurl_value}</em>
			<em id="down_url_2" class="down_url">{tool_down2_value}</em>
			<p class="count">
				<span>累计下载次数</span><em id="tool-down-count"></em>
			</p>
		</div>

	</div>

	<div class="introduction block">
		<h3>功能介绍 <span>Introduction</span></h3>
		<div class="content">
			{tool_function_value}
		</div>
		<div class="bdsharebuttonbox tool-share">
			<a href="#" class="bds_more" data-cmd="more"></a>
			<a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a>
			<a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
			<a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
			<a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a>
			<a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a>
		</div>
		<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
		</script>
	</div>

	<div class="tool-settings tool-frag  tool-info tool-check-info block">
		<h3>游戏设置要求</h3>
		<div class="content">
			{tool_setcriteria_value}
		</div>
	</div>
	<div class="tool-faq  tool-frag  tool-info tool-check-info block">
		<h3>常见问题答疑</h3>
		<div class="content">
			{tool_question_value}
		</div>
	</div>
	<div class="tool_log tool-info tool-check-info block">
		<h3>更新日志</h3>
		<div class="content">
			{tool_update_value}
		</div>
	</div>
	<div class="role-info-6 tool-info">
		<h3>更多说明</h3>
	</div>
</div>