
//主编推荐
<ul>
[loop]
<li class="u-list-{id}">
	<a href="{url}"{target}>
		<span class="short">
			<span class="img">
				<img src="http://cg.jx3pve.com/face/{id}.jpg" width="{picwidth}" height="{picheight}" alt="{title}" />
				<em class="til">{title}</em>
			</span>
		</span>
		<span class="info">
			<span class="author"><em>作者：</em>{author}</span>
			<span class="time"><em>发布：</em>{dateline}</span>
			<span class="recmd"><em>热度：</em>{heats}</span>
		</span>
	</a>
</li>
[/loop]
</ul>

//任务奖励
<ul>
[loop]
	<li class="{id}"><a href="{url}"{target}>{title}</a></li>
[/loop]
</ul>