/*
 * Name: u-list.less
 * HtmlTag: u-list-*
 * Description: 列表常用预设样式
 * Creator: iRuxu
 * Modify: iRuxu
 * Create: 2015-5-6
 * Update: 2015-5-20
 */
.u-list .first {
  margin-left: 0;
}
.u-list .last {
  margin-right: 0;
}
/* 通用列表a，浮动布局，指定格式
	--------------------------------------------------------
	1.html部分：div>ul>li*N
	2.函数应用：div
	3.参数说明：
		@item-width:列表项宽度,@item-spacing:列表项间距,@item-count:每行数目
		@item-padding:内补白总值;@item-border:边框总值
	--------------------------------------------------------*/
/*通用列表b，浮动布局，指定格式，自定义选择器
	--------------------------------------------------------
	1.html部分：div(outerwrapper)>自定义元素innerwrapper>自定义元素loopelement
	2.函数应用：div(outerwrapper)
	3.参数说明：
		@innerwrapper:内层包裹class名例如$-ul,@loopelement:循环单元class命例如$-li
		@item-width:列表项宽度,@item-spacing:列表项间距,@item-count:每行数目
		@item-padding:内补白总值;@item-border:边框总值
	--------------------------------------------------------*/
/* 通用列表c，内联块级布局，指定格式
	--------------------------------------------------------
	1.html部分：div>ul>li*N
	2.函数应用：div
	3.参数说明：
		@item-width:列表项宽度,@item-spacing:列表项间距,@item-count:每行数目
		@item-padding:内补白总值;@item-border:边框总值
	4.补充说明：布局方式不同于ab，无向下边距，总是不折行
	--------------------------------------------------------*/
/*通用列表d，内联块级布局，自定义选择器
	--------------------------------------------------------
	1.html部分：div(outerwrapper)>自定义元素innerwrapper>自定义元素loopelement
	2.函数应用：div(outerwrapper)
	3.参数说明：
		@innerwrapper:内层包裹class名例如$-ul,@loopelement:循环单元class命例如$-li
		@item-width:列表项宽度,@item-spacing:列表项间距,@item-count:每行数目
		@item-padding:内补白总值;@item-border:边框总值
	4.补充说明：布局方式不同于ab，无向下边距，总是不折行
	--------------------------------------------------------*/
