//自助解答
.pg_faq{
	#pt{.pr;}
	.m-faq-search{
		.pa;.rt(0,0);
		form{margin-top:0 !important;}
		.pn{
			width: 60px;
		  height: 24px;
		  line-height: 18px;
		}
	}

	#ct{
		border:none;background:none;
		.mn{
			.pr;overflow:visible;
			.bm .pns{.pa;top:-43px;right:0;.z(2);}
			h1{background-color:#f2f2f2;border-radius:24px;line-height:24px;font-size:12px;padding:0 10px;}
			//列表
			.lum{
				color:#555;
				h2{.bold;border-bottom:1px dotted #ddd;font-size:12px;line-height:24px;a{color:@bluex;}}
				ul{
					border-bottom:none;margin-bottom:10px;
					li{line-height:20px;list-style:square;}
				}
			}
			//详细
			.umh{
				h3{font-size:12px;color:@bluex;.bold;}
				&.umn{
					h3{color:#555;font-weight:normal;}
				}
			}
			.um{
				//transition:0.3s ease-in;
				border:1px dotted #ddd;padding:10px;
				background:#f7f7f7;
				line-height:24px;
				.acolor(@bluex,#cc0000);
				strong{font-weight:bold;}
				b{color:#cc0000;.bold;a{color:#cc0000;&:hover{text-decoration:underline;}}}
				img{
					max-width:960px;
					.db;
					padding:5px;
					border:1px solid #ddd;
					background-color:#fff;
				}
				table td{
					padding:2px 5px;
					border:1px solid #ddd;
				}
				code{
					font-family:Consolas,'微软雅黑';
					.fz(12px,2);
					.db;
					background-color:#fff;
					border:1px solid #ddd;
					border-radius:3px;
					margin:5px 0;
					padding:5px;
				}
			}
			.help-more{
				border-top:1px dashed #999;
				line-height:24px;.x(right);
				margin-top:5px;padding-top:5px;
			}
		}

		.appl{
			h2{.none;}
			li:before {
				content: '\e622';
				font-family: "iconfont";
				font-style: normal;
				display: inline-block;
				-webkit-font-smoothing: antialiased;
				-webkit-text-stroke-width: .2px;
				color: #777;
				font-size: 10px;
				position: absolute;
				line-height: 32px;
			}
			li:hover{
				&:before{color:@bluex;}
			}
			li.a{
				a{color:@bluex};.bold;
				&:before{color:@bluex;}
			}
			a{
				font-size:12px;
				padding-left:20px;
			}
		}
	}
}

//.mn .bm.bw0 .um table td{border:1px solid #bbb;padding:0 5px;}
