.feedback-post-tips{
	padding: 10px;
	line-height: 2;
	border: 1px dashed #ddd;
	background: #f7f7f7;
	li{
		list-style-position:inside;
	}
	b{.tips(grays);}
}

.m-feedback-common{
	.u-btn-green(a);
	.fzlh(13px,40px);
	margin-bottom:10px;
}