@import url("../../JX3PVE-Pub/css/import.less");

@import url("module/os/sidebar.less");

@import url("module/os/index.less");
@import url("module/os/index-active.less");
@import url("module/os/index-header.less");
@import url("module/os/index-primary.less");

@import url("module/os/record.less");	//记录
@import url("module/os/follow.less");	//广播
@import url("module/os/setting.less");	//设置
@import url("module/os/friend.less");	//好友
@import url("module/os/invite.less");	//邀请码
@import url("module/os/verif.less");	//认证
@import url("module/os/magic.less");	//道具
@import url("module/os/medal.less");	//勋章
@import url("module/os/guide.less");	//我的帖子
@import url("module/os/task.less");		//任务

@import url("module/os/space.less");	//个人空间

@import url("module/vip/pay.less");		//购买
@import url("module/vip/buy.less");		//充值
@import url("module/vip/vip.less");		//会员

.user-container{
	
} 
.user-os{
	
} 

#pt{
	.w(@wp);.auto(x);
	background: none;
	border: none;
	border-bottom: 1px dotted #ddd !important;
	padding:5px 0;
}
