.bbs-container{

	//background: url('http://ww4.sinaimg.cn/large/bcc700eegw1eunybduf0vj21hc0m8dsf.jpg') #f2f2f2 no-repeat center top;
	background-color:#f7f7f7;

	//头部
	.pve-header{
		.none;
		.tb(255,255,255,0.2);
		border-bottom:none;
	}

	.pve-sidebar{
		.none;
	}
	.pve-content{
		.w(auto);
		float:none;
	}

	.pve-primary, .pve-article{
		box-shadow:none;
	}
	
}