//版块页面
.system-discuz{
	padding:20px 0;
	//background:url('http://ww4.sinaimg.cn/large/bcc700eegw1eunybduf0vj21hc0m8dsf.jpg') no-repeat center top;
	background-color:#f7f7f7;

	#pt{
		margin-bottom:10px;
	}

	.mn{
		p{.none;}
		.xg2{.db;}
	}

	.fl_g{
		dd:last-child{
			.none;
		}
	}

	.fl_icn_g{
		.w(160px) !important;
		margin-right:20px;
	}
}