<!--{if $_GET['op'] == 'exchange'}-->
<div class="block">
	<h2 class="vip-pc-title">积分转换<span>Credit exchange &raquo;</span></h2>
	<div class="buy-pc-exchange">
		<!--{if $_G[setting][exchangestatus] && ($_G[setting][extcredits] || $_CACHE['creditsettings'])}-->
		<form id="exchangeform" name="exchangeform" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=credit&op=exchange&handlekey=credit" onsubmit="showWindow('credit', 'exchangeform', 'post');">
			<input type="hidden" name="formhash" value="{FORMHASH}" />
			<input type="hidden" name="operation" value="exchange" />
			<input type="hidden" name="exchangesubmit" value="true" />
			<input type="hidden" name="outi" value="" />
			<table cellspacing="0" cellpadding="0" class="tfm mtn">
				<tr>
					<th>{lang memcp_credits_exchange}</th>
					<td class="pns">
						<input type="text" id="exchangeamount" name="exchangeamount" class="px" size="5" style="width: auto;" value="0" onkeyup="exchangecalcredit()" />
						<select name="tocredits" id="tocredits" class="ps" onChange="exchangecalcredit()">
						<!--{loop $_G[setting][extcredits] $id $ecredits}-->
							<!--{if $ecredits[allowexchangein] && $ecredits[ratio]}-->
								<option value="$id" unit="$ecredits[unit]" title="$ecredits[title]" ratio="$ecredits[ratio]">$ecredits[title]</option>
							<!--{/if}-->
						<!--{/loop}-->
						<!--{eval $i=0;}-->

						<!--{loop $_CACHE['creditsettings'] $id $data}--><!--{eval $i++;}-->
							<!--{if $data[title]}-->
							<option value="$id" outi="$i">$data[title]</option>
							<!--{/if}-->
						<!--{/loop}-->
						</select>
						&nbsp;{lang credits_need}&nbsp;
						<input type="text" id="exchangedesamount" class="px" size="5" style="width: auto;" value="0" disabled="disabled" />
						<select name="fromcredits" id="fromcredits_0" class="ps" style="display: none" onChange="exchangecalcredit();">
						<!--{loop $_G[setting][extcredits] $id $credit}-->
							<!--{if $credit[allowexchangeout] && $credit[ratio]}-->
								<option value="$id" unit="$credit[unit]" title="$credit[title]" ratio="$credit[ratio]">$credit[title]</option>
							<!--{/if}-->
						<!--{/loop}-->
						</select>
						<!--{eval $i=0;}-->
						<!--{loop $_CACHE['creditsettings'] $id $data}--><!--{eval $i++;}-->
							<select name="fromcredits_$i" id="fromcredits_$i" class="ps" style="display: none" onChange="exchangecalcredit()">
							<!--{loop $data[creditsrc] $id $ratio}-->
								<option value="$id" unit="$_G['setting']['extcredits'][$id][unit]" title="$_G['setting']['extcredits'][$id][title]" ratiosrc="$data[ratiosrc][$id]" ratiodesc="$data[ratiodesc][$id]">$_G['setting']['extcredits'][$id][title]</option>
							<!--{/loop}-->
							</select>
						<!--{/loop}-->
						<script type="text/javascript">
							var tocredits = $('tocredits');
							var fromcredits = $('fromcredits_0');
							if(fromcredits.length > 1 && tocredits.value == fromcredits.value) {
								fromcredits.selectedIndex = tocredits.selectedIndex + 1;
							}
						</script>
					</td>
					<td width="300" class="d">
						<!--{if $_G[setting][exchangemincredits]}-->
							{lang memcp_credits_exchange_min_balance} $_G[setting][exchangemincredits]<br />
						<!--{/if}-->
						<span id="taxpercent">
						<!--{if intval($taxpercent) > 0}-->
							{lang credits_tax} $taxpercent
						<!--{/if}-->
						</span>
					</td>
				</tr>
				<tr>
					<th><span class="rq">*</span>{lang transfer_login_password}</th>
					<td colspan="2"><input type="password" name="password" class="px" value="" size="20" /></td>
				</tr>
				<tr>
					<th>&nbsp;</th>
					<td colspan="2">
						<button type="submit" name="exchangesubmit_btn" id="exchangesubmit_btn" class="pn" value="true" tabindex="2"><em>{lang memcp_credits_exchange}</em></button>
					</td>
				</tr>
			</table>
		</form>
		<script type="text/javascript">
			function exchangecalcredit() {
				with($('exchangeform')) {
					tocredit = tocredits[tocredits.selectedIndex];
					if(!tocredit) {
						return;
					}
					<!--{eval $i=0;}-->
					<!--{loop $_CACHE['creditsettings'] $id $data}--><!--{eval $i++;}-->
						$('fromcredits_$i').style.display = 'none';
					<!--{/loop}-->
					if(tocredit.getAttribute('outi')) {
						outi.value = tocredit.getAttribute('outi');
						fromcredit = $('fromcredits_' + tocredit.getAttribute('outi'));
						$('taxpercent').style.display = $('fromcredits_0').style.display = 'none';
						fromcredit.style.display = '';
						fromcredit = fromcredit[fromcredit.selectedIndex];
						$('exchangeamount').value = $('exchangeamount').value.toInt();
						if($('exchangeamount').value != 0) {
							$('exchangedesamount').value = Math.floor( fromcredit.getAttribute('ratiosrc') / fromcredit.getAttribute('ratiodesc') * $('exchangeamount').value);
						} else {
							$('exchangedesamount').value = '';
						}
					} else {
						outi.value = 0;
						$('taxpercent').style.display = $('fromcredits_0').style.display = '';
						fromcredit = fromcredits[fromcredits.selectedIndex];
						$('exchangeamount').value = $('exchangeamount').value.toInt();
						if(fromcredit.getAttribute('title') != tocredit.getAttribute('title') && $('exchangeamount').value != 0) {
							if(tocredit.getAttribute('ratio') < fromcredit.getAttribute('ratio')) {
								$('exchangedesamount').value = Math.ceil( tocredit.getAttribute('ratio') / fromcredit.getAttribute('ratio') * $('exchangeamount').value * (1 + $_G[setting][creditstax]));
							} else {
								$('exchangedesamount').value = Math.floor( tocredit.getAttribute('ratio') / fromcredit.getAttribute('ratio') * $('exchangeamount').value * (1 + $_G[setting][creditstax]));
							}
						} else {
							$('exchangedesamount').value = '';
						}
					}
				}
			}
			String.prototype.toInt = function() {
				var s = parseInt(this);
				return isNaN(s) ? 0 : s;
			}
			exchangecalcredit();
		</script>
		<!--{/if}-->
	</div>
</div>
<!--{/if}-->