<!--{if in_array($_GET['op'], array('base', 'buy', 'transfer', 'exchange', 'rule'))}-->
<h2 class="vip-pc-title">积分信息<span>Credit information &raquo;</span></h2>
<div class="vip-pc-status">
	<div class="avt">
		<a href="home.php" target="_blank"><!--{avatar($_G[uid],small)}--></a>
	</div>
	<div class="profile">
		<ul class="baseinfo">
			<li class="time">
				<a class="tab-btn" href="home.php?mod=spacecp&ac=credit&op=buy">积分充值</a>
				<a class="tab-btn" href="home.php?mod=spacecp&ac=credit&op=exchange">积分转换</a>
				<a class="tab-btn" href="home.php?mod=spacecp&ac=credit&op=transfer">积分转账</a>
				<a class="tab-btn" href="home.php?mod=spacecp&ac=credit&op=rule">积分规则</a>
				<a class="tab-btn" href="home.php?mod=spacecp&ac=credit&op=log">积分记录</a>
			</li>
		</ul>
		<ul class="rights">
			<li><em>积分：</em>$_G['member']['credits']</li>
		<!--{eval $creditid=0;}-->
			<!--{if $_GET['op'] == 'base' && $_G['setting']['creditstrans']}-->
				<!--{eval $creditid=$_G['setting']['creditstrans'];}-->
				<!--{if $_G['setting']['extcredits'][$creditid]}-->
					<!--{eval $credit=$_G['setting']['extcredits'][$creditid]; }-->
					<li>
						<em><!--{if $credit[img]}--> {$credit[img]}<!--{/if}--> {$credit[title]}: </em>
						<!--{echo getuserprofile('extcredits'.$creditid);}--> {$credit[unit]} &nbsp; 
					</li>
				<!--{/if}-->
			<!--{/if}-->

			<!--{loop $_G['setting']['extcredits'] $id $credit}-->
				<!--{if $id!=$creditid}-->
				<li><em><!--{if $credit[img]}--> {$credit[img]}<!--{/if}--> {$credit[title]}: </em><!--{echo getuserprofile('extcredits'.$id);}--> {$credit[unit]}</li>
				<!--{/if}-->
			<!--{/loop}-->
			
		<!--{hook/spacecp_credit_extra}-->
		</ul>
		<p class="credit">
			<label>{$_G[setting][extcredits][$_G[setting][creditstrans]][title]}：</label>
			<span>
				<i class="counts"></i>
				<b class="number"><!--{echo getuserprofile('extcredits4');}--></b>
				<a class="addcre" href="/vip" target="_blank">开通会员</a>
			</span>
		</p>
	</div>
</div>
<!--{/if}-->