<div class="user-os-primary">
<ul>
	<li><a class="magic" href="http://www.jx3pve.com/home.php?mod=magic"><i></i>道具中心</a></li>
	<li><a class="task" href="http://www.jx3pve.com/home.php?mod=task"><i></i>任务中心</a></li>
	<li><a class="medal" href="http://www.jx3pve.com/home.php?mod=medal"><i></i>勋章中心</a></li>
	<li><a class="code" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=invite"><i></i>激活码</a></li>
	<li><a class="vip" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=usergroup&do=list"><i></i>会员中心</a></li>
	<li><a class="gift" href="javascript:void(0)"><i></i>积分兑换</a></li>
</ul>
</div>