<!--{template common/header}-->
<script src="http://js.jx3pve.com/js/page/page-buy.js"></script>
<div class="user-container user-container-buy">
	<div id="pt" class="bm cl">
		<div class="z">
			<a href="./" class="nvhm" title="{lang homepage}">$_G['setting']['bbname']</a> <em>&rsaquo;</em>
			<a href="home.php">{lang useros}</a><em>&rsaquo;</em>
			<a href="./buy">充值</a>
		</div>
	</div>

	<div id="ct" class="ct2_a wp cl">
		<div class="mn">
			<div class="bm bw0">
				<!--{subtemplate home/vip_pc_nav}-->
			</div>

			<div class="vip-pc-container buy-pc-container">

				<!-- 1.充值头banner -->
				<div class="block">
					<div class="vip-pc-header">
						<!--{block/1512}-->
					</div>
				</div>

				<!-- 2.当前积分 -->
				<div class="block">
					<!--{subtemplate home/buy_pc_header}-->
				</div>

				<!-- 3.积分购买（充值）页面 -->
				<!--{subtemplate home/buy_pc_primary}-->
				
				<!-- 4.积分转换页面 -->
				<!--{subtemplate home/buy_pc_exchange}-->

				<!-- 5.积分转账页面 -->
				<!--{subtemplate home/buy_pc_transfer}-->

				<!-- 6.积分规则页面 -->
				<!--{subtemplate home/buy_pc_rule}-->
				
			</div>
		</div>
		<!--{subtemplate home/sidebar_l}-->
	</div>
</div>
<!--{template common/footer}-->