<div class="vip-pc-container">

	<!-- 会员头banner -->
	<div class="block">
		<div class="vip-pc-header">
			<!--{block/1269}-->
		</div>
	</div>

	<!-- 当前状态 -->
	<div class="block">
		<h2 class="vip-pc-title">会员信息<span>VIP information &raquo;</span></h2>
		<div class="vip-pc-status">
			<div class="avt">
				<a href="home.php" target="_blank"><!--{avatar($_G[uid],small)}--></a>
			</div>
			<div class="profile">
				<ul class="baseinfo">
					<li class="usergroup">
						<label>用户组：</label>
						<span>
							<a href="./vip">
								<img class="icon-groupicon" src=$groupicon />
								$_G[group][grouptitle]
							</a>
						</span>
					</li>
					<li class="time">
						
						<!-- BEGIN 此为静态占位调试，可移除 -->
						<label>VIP到期时间：</label>
						<span class="expiry">2016-08-08<em>（即将到期）</em></span>
						<!-- END 此为静态占位调试，可移除 -->

						<!--{loop $expirylist $groupid $group}-->
						<label>VIP到期时间：</label>
						<!-- 如果到期时间小于10天，则添加.expiry样式名 -->
						<span class="">$group[time]<em>（即将到期）</em></span>
						<!--{/loop}-->
					</li>
				</ul>
				<ul class="rights">
					<!-- 当满足时，给i添加true，不满足时，添加false样式名 -->
					<!-- 以下数字表示满足的groupid，其余组不满足 -->

					<!-- 22,24,25,26,33,34,36 -->
					<li>用户名高亮：<i class="true"></i></li>
					<!-- 22,26,1,2,3,17,34,33,36 -->
					<li>免回复隐藏：<i class="false"></i></li>
					<!-- 22,1,2,17 -->
					<li>免付费主题：<i class="true"></i></li>
					<!-- 22,1,2,17 -->
					<li>免付费下载：<i class="false"></i></li>
					<!-- 22 -->
					<li>泛广告屏蔽：<i class="true"></i></li>
					<!-- 22 -->
					<li>栏目特权：<i class="false"></i></li>
					<!-- 22 -->
					<li>道具折扣：<i class="false"></i></li>
				</ul>
				<p class="credit">
					<label>{$_G[setting][extcredits][$_G[setting][creditstrans]][title]}：</label>
					<span>
						<i class="counts"></i>
						<b class="number"><!--{echo getuserprofile('extcredits4');}--></b>
						<a class="addcre" href="./buy" target="_blank">+ 充值</a>
					</span>
				</p>
			</div>
		</div>
	</div>

	<!-- 开通会员 -->
	<div class="block">
		<h2 class="vip-pc-title">开通会员<span>Become a VIP member&raquo;</span></h2>
		<div class="vip-pc-buy">

			<!-- Step1.如果用户米币够，则不需要充值，只显示下方，开通后自动切换到VIP用户组 -->
			<div class="m-time">
				<h3 class="m-title">&raquo; 请选择开通/续费时间</h3>
				<div class="m-days">
					<form action="#">
						<label class="tovevip-3month" for="tovevip-3month">
							<input type="radio" id="tovevip-3month" name="days" value="90" />
							<span>
								<em class="time">3个月</em>
								<em class="credit"><i>2880米币</i></em>
							</span>
						</label>
						<label class="tovevip-6month" for="tovevip-6month">
							<input type="radio" id="tovevip-6month" name="days" value="180" />
							<span>
								<em class="time">6个月</em>
								<em class="credit"><i>5760米币</i></em>
							</span>
						</label>
						<!-- 当被选中时添加.on样式名 -->
						<label class="tovevip-12month on" for="tovevip-12month">
							<!-- 默认选中第3条 -->
							<input type="radio" id="tovevip-12month" name="days" value="360" checked="checked"/> 
							<span>
								<em class="time">12个月</em>
								<em class="credit"><i>11520米币</i><b>9216米币</b></em>
							</span>
						</label>
					</form>
				</div>
			</div>

				<!-- 以下是原始的购买表单.暂时none隐藏 -->
				<form class="none" id="buygroupform_{$groupid}" name="buygroupform_{$groupid}" method="post" autocomplete="off" action="home.php?mod=spacecp&ac=usergroup&do=$do&groupid=$groupid"{if !empty($_GET['inajax'])} onsubmit="ajaxpost('buygroupform_{$groupid}', 'return_$_GET['handlekey']', 'return_$_GET['handlekey']', 'onerror');return false;"{/if}>
					<input type="hidden" name="referer" value="{echo dreferer()}" />
					<input type="hidden" name="buysubmit" value="true" />
					<input type="hidden" name="gid" value="$_GET[gid]" />

					<!--{if $_G[inajax]}--><input type="hidden" name="handlekey" value="$_GET[handlekey]" /><!--{/if}-->
					<input type="hidden" name="formhash" value="{FORMHASH}" />
					<div class="c">
						<table class="list" cellspacing="0" cellpadding="0" style="width:300px">
						<!--{if $join}-->
							<!--{if $group['dailyprice']}-->
								<tr>
									<td>{lang memcp_usergroups_dailyprice}</td><td> $group[dailyprice] {$_G[setting][extcredits][$_G[setting][creditstrans]][unit]}{$_G[setting][extcredits][$_G[setting][creditstrans]][title]}</td>
								</tr>
								<tr>
									<td>{lang memcp_usergroups_credit}</td><td>$usermaxdays {lang days}</td>
								</tr>
								<tr>
									<td>{lang memcp_usergroups_span}</td><td><input type="text" size="2" name="days" value="$group[minspan]" class="px" onkeyup="change_credits_need(this.value)" /> {lang days}</td>
								</tr>
								<tr>
									<td>{lang credits_need}{$_G[setting][extcredits][$_G[setting][creditstrans]][title]}</td><td><span id="credits_need"></span> {$_G[setting][extcredits][$_G[setting][creditstrans]][unit]}
						<script language="javascript">
							var dailyprice = $group[dailyprice];
							function change_credits_need(daynum) {
								if(!isNaN(parseInt(daynum))) {
									$('credits_need').innerHTML = parseInt(daynum) * dailyprice;
								} else {
									$('credits_need').innerHTML = '0';
								}
							}
							change_credits_need($group[minspan]);
						</script></td>
								</tr>
								<tr>
									<td colspan="2">{lang memcp_usergroups_explain}:
										<!--{if $join}-->
											{lang memcp_usergroups_join_comment}
										<!--{else}-->
											{lang memcp_usergroups_exit_comment}
										<!--{/if}-->
									</td>
								</tr>
							<!--{else}-->
								<tr>
									<td colspan="2">{lang memcp_usergroups_explain}: {lang memcp_usergroups_free_comment}</td>
								</tr>
							<!--{/if}-->
						<!--{else}-->
							<tr>
								<td colspan="2">{lang memcp_usergroups_explain}:
								<!--{if $group[type] != 'special' || $group[system]=='private'}-->
									{lang memcp_usergroups_admin_exit_comment}
								<!--{elseif $group['dailyprice']}-->
									{lang memcp_usergroups_exit_comment}
								<!--{else}-->
									{lang memcp_usergroups_open_exit_comment}
								<!--{/if}-->
								</td>
							</tr>
						<!--{/if}-->
						</table>
					</div>
					<p class="o pns">
						<button type="submit" name="editsubmit_btn" id="editsubmit_btn" value="true" class="pn pnc"><strong>{lang submit}</strong></button>
					</p>
				</form>

			<!-- Step2.点击开通按钮 -->
			<button class="m-gobutton"  type="submit" name="editsubmit_btn" id="editsubmit_btn" value="true"><strong>开通/续费会员</strong></button>

			<!-- Step3.如果米币不够，提示先充值 -->
			<div class="m-msg">
				<p class="u-tips">
					<i class="warning"></i>您当前的米币为<b><!--{echo getuserprofile('extcredits4');}--></b>，余额不足，请先<i class="credit"></i><a href="http://www.jx3pve.com/buy" target="_blank">充值</a>。
					<a class="skip" href="http://www.jx3pve.com/misc.php?mod=faq&action=faq&id=1&messageid=30" target="_blank">（如何赚米币？）</a>
				</p>
				<a class="u-crebtn" href="./buy" target="_blank">充值</a>
			</div>

		</div>
	</div>

	<!-- 会员简介 -->
	<div class="block">
		<h2 class="vip-pc-title">尊贵特权<span>Honorable privilege &raquo;</span></h2>
		<ul class="vip-pc-intro"></ul>
	</div>

	<!-- 会员权利 -->
	<div class="block">
		<h2 class="vip-pc-title">全部特权<span>All VIP privileges &raquo;</span></h2>
		<div class="vip-pc-details">
			<!--{block/475}-->
		</div>
	</div>
</div>