.book-container{
	//背景
	//background:url('http://ww2.sinaimg.cn/large/bcc700eegw1ev0a5qex97j21hc0ou115.jpg') #eee repeat-x center top;
	//background:url('@{url}book/bg.jpg') #eee0b9 no-repeat center top;
	//background:url('@{url}book/bg3.jpg') #fcf6cc no-repeat center top;
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1evgex70q7kj21hc0u0n2r.jpg') #fcf6cc no-repeat center top;

	//头
	.pvx-header{
		.m-logo{
			background:url('@{url}book/logo.png') no-repeat center center;
		}
	}
	
	//底
	.pvx-footer{

	}

}
/*
.body-390{
	.box{background-color:#F7ECCE;}
	.c-nav{background-color: #EEE0B9;border-bottom:1px solid #CBBB99;}
	.c-nav .nav-list li a span{color:#775D38;}
}*/