 <div class="row m-fwq">
    <span class="label">服务器:</span>
    <select name="raid_fuwuqi" id="raid_fuwuqi_select">
        <option value="-1">选择服务器</option>
        <option value="0">电信一区</option>
        <option value="1">电信二区</option>
        <option value="2">电信三区</option>
        <option value="3">电信四区</option>
        <option value="4">电信五区</option>
        <option value="5">电信六区</option>
        <option value="6">电信七区</option>
        <option value="7">电信八区</option>
        <option value="8">网通一二区</option>
        <option value="9">网通三区</option>
    </select>
    <div class="raid-fuwuqi-list" id="raid-fuwuqi-list">
        <p class="raid-fuwuqi-tips" id="raid-fuwuqi-tips"><i></i>以下只显示合服后目标服务器</p>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=1" class="xi2">长安城</a>
                <em>长安城  扬州城  巴陵县  南屏山  洛道  洛阳城  龙门荒漠  萍踪侠影  独步天下</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=2" class="xi2">龙争虎斗</a>
                <em>龙争虎斗  幽雨坪  枫华谷  逍遥林  翠烟山  义薄云天  晴昼海  昆仑  金水镇  海誓山盟  神龙摆尾</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=3" class="xi2">白帝城</a>
                <em>白帝城  三才阵  无盐岛  紫微山  英雄擂  演武场  侠骨丹心  肝胆相照  浮光掠影  枫林如火  逍遥游  壮志凌云</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=4" class="xi2">荻花宫</a>
                <em>荻花宫  步莲台  天子峰  落星湖  傲视天地  空雾峰  天工坊  灵霄峡  日轮山城  云湖天池  上陵苑  追风蹑景  华清池  群英汇</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=35" class="xi2">风花雪月</a>
                <em>风花雪月</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=6" class="xi2">秦王殿</a>
                <em>秦王殿  天王殿  大雄宝殿  敬德楼  战魂劫  太极广场  纯阳宫  达摩院  凌烟阁  血龙出渊  鹤舞九霄  双狼之战  出神入化</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=7" class="xi2">金蛇漫舞</a>
                <em>金蛇漫舞  忆盈楼  落雁峰  青萝山  无极道场  三星望月  飞星遁影  忆青春</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=33" class="xi2">比翼双飞</a>
                <em>比翼双飞</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=8" class="xi2">日月明尊</a>
                <em>日月明尊  饮马川  午阳岗  藏经阁  轩辕台  知节殿  战江湖  飞骏谷  燕子坞  思过崖  论剑峰  少室山  千机阁  虎牢关  六祖台  惊鸿游龙  龙腾虎跃  潜龙勿用  登萍渡水</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=9" class="xi2">蝶恋花</a>
                <em>蝶恋花  叱咤风云  策马江湖  厉兵秣马  初心不泯</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=11" class="xi2">梦江南</a>
                <em>梦江南  如梦令  枫泾古镇</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=12" class="xi2">乾坤一掷</a>
                <em>乾坤一掷  华山论剑</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=13" class="xi2">幽月轮</a>
                <em>幽月轮  圣墓山  笑傲江湖  山雨欲来</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=14" class="xi2">唯我独尊</a>
                <em>唯我独尊  满江红  侠客行</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=15" class="xi2">剑胆琴心</a>
                <em>剑胆琴心</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=16" class="xi2">斗转星移</a>
                <em>斗转星移  金戈铁马  风雨同舟</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=36" class="xi2">金榜题名</a>
                <em>金榜题名</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=17" class="xi2">红尘寻梦</a>
                <em>红尘寻梦  天佑中华  烈日斩  国色天香  倾国倾城  英雄结义  天女散花  鹰击长空  众志成城  气吞山河  天马行空</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=18" class="xi2">名动江湖</a>
                <em>名动江湖  剑指龙城</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=37" class="xi2">春和景明</a>
                <em>春和景明</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=20" class="xi2">雪月天枪</a>
                <em>雪月天枪  乱世长安  恋青春  光明顶  圣火令  不归海  快意恩仇  破茧成蝶</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=21" class="xi2">情深似海</a>
                <em>情深似海</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=22" class="xi2">亢龙有悔</a>
                <em>亢龙有悔  大明宫  双龙取水  见龙在田</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=23" class="xi2">绝代天骄</a>
                <em>绝代天骄  梦回大唐  龙飞凤舞</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=24" class="xi2">战无不胜</a>
                <em>战无不胜  致青春  侠骨柔情</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=26" class="xi2">叶芷青</a>
                <em>叶芷青  杨宁  叶孟秋  于睿  僧一行  东方宇轩  歃血为盟  暴雨梨花  天罗地网  点墨山河  情深意重  银蛇献瑞  荡气回肠  铁血丹心  无悔江湖</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=27" class="xi2">李忘生</a>
                <em>李忘生  吕洞宾  公孙幽  孟浩然  唐简  七侠五义  卧虎藏龙  玄正  柳风骨  王维  林白轩  高绛婷  王昌龄  谁与争锋  李承恩  谢云流  李白  杜甫  飞凤涅磐  登峰造极</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=28" class="xi2">飞龙在天</a>
                <em>飞龙在天  醉舞狂歌  万马奔腾  金风飒飒  往生涧  龙战于野  君山岛  黑云压城  西京烟雨  跃马扬鞭  银枪暮雪  赞青春</em>
            </li>
        </ul>
        <ul>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=29" class="xi2">天鹅坪</a>
                <em>天鹅坪  纵横江湖  步月登云  时乘六龙  碧血忠魂  攻无不克  君子如风  侠肝义胆</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=30" class="xi2">破阵子</a>
                <em>破阵子  念奴娇  行云流水</em>
            </li>
            <li>
                <a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&fuwuqi=41" class="xi2">鱼跃龙门</a>
                <em>鱼跃龙门</em>
            </li>
        </ul>
    </div>
</div>