<a href="http://www.jx3pve.com/raid" class="pvx-header-logo">招募</a>
<div class="m-raid-nav pvx-header-nav">
	<ul>
		<li><a href="http://www.jx3pve.com/raid">团队首页<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">团队招募<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13">演员应聘<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=12">捷报中心<i></i></a></li>
		<li><a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=profile&op=verify" target="_blank">认证中心<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365" target="_blank">投诉举报<i></i></a></li>
		<li><a class="pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=67">发布通道<i></i></a></li>
	</ul>
</div>