<div class="m-raid-index">
	<h2 class="m-title-team">
		最新团队招募
		<a class="more" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9" target="_blank">更多>></a>
	</h2>
	<div class="m-raid-index-list">
		<!--{block/1281}-->
	</div>

	<h2 class="m-title-person">
		最新求职演员
		<a class="more" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13" target="_blank">更多>></a>
	</h2>
	<div class="m-raid-index-list">
		<!--{block/1282}-->
	</div>

	<h2 class="m-title-biz">
		最新开团信息
		<a class="more" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=23" target="_blank">更多>></a>
	</h2>
	<div class="m-raid-index-list">
		<!--{block/1283}-->
	</div>

</div>

<!--{subtemplate jx3pve/w_index_tg}-->