//列表
<div class="m-raid-list">
	<ul>
	[loop]
		<li class="m-raid-unit m-raid-unit-person">
			<em class="none failtime">{failtime_value}</em>
			<span class="c-raidavt">
				<img src="http://www.jx3pve.com/uc_server/avatar.php?uid={authorid}&size=middle" width="80px" height="80px"/>
				<i class="verif"><span>{author_verify}</span></i>
			</span>
			<span class="personinfo">
				<span class="tr"><span class="name">{author}</span></span>
				<span class="tr"><span class="key">{fuwuqi_value}</span></span>
				<span class="tr"><em class="label">可选职业：</em><span class="key">{myrole_value}</span></span>
			</span>
			<a class="link" href="{subject_url}" target="_blank"></a>
			<span class="control">{modcheck}</span>
		</li>
	[/loop]
	</ul>
</div>

//单页
<div class="m-raid-primary-1 m-raid-team  m-raid-yanyuan">
	<div class="m-avt">
		<div class="c-raidavt">
			<img class="m-raid-avatar" src="http://static.jx3pve.com/uc_server/avatar.php?uid={vanfon_uid}&size=middle" width="80px" height="80px" />
			<!-- 认证状态 -->
			<i class="verif"><span>{vanfon_verify}</span></i>
		</div>
		<!-- 短消息留言 -->
		<a class="m-msg" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=pm&op=showmsg&handlekey=showmsg_{vanfon_uid}&touid={vanfon_uid}&pmid=0&daterange=1&pid={vanfon_pid}&tid={vanfon_tid}" onclick="showWindow('sendpm', this.href);" title="发消息"><i></i>发消息</a>
	</div>
	<!-- 字段 -->
	<div class="m-details">
		<ul>
			<li><span>服务器</span><em>{fuwuqi_value}</em></li>
			<li><span>职业</span><em>{myrole_value}</em></li>
			<li><span>可选日</span><em>{raidtime_value}</em></li>
			<li><span>时间段</span><em>{raidtimefull_value}</em></li>
			<li><span>联系YY</span><em>{baotuan4_value}</em></li>
		</ul>
	</div>
	<!-- 个人简介 -->
	<div class="m-intro">
		<h2 class="m-title">个人简介</h2>
		<p class="words">
			{raidintro2_value}
		</p>
		<!-- 操作 -->
		<p class="m-control">
			<a class="edit none" href="forum.php?mod=post&action=edit&fid={vanfon_fid}&tid={vanfon_tid}&pid={vanfon_pid}"><i></i>编辑</a>
			<a class="magic showmenu" href="javascript:;" id="mgc_post_{vanfon_pid}" onmouseover="showMenu(this.id)" initialized="true"><i></i>道具</a>
		</p>
		<!-- 分享 -->
		<div class="m-share">
			<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		</div>
	</div>
</div>