<div class="m-raid-nav">
	<a class="u-btn-raid" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">我要找团<span>查看团队招募</span><em>Join a team</em></a>
	<a class="u-btn-per" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13">我要招人<span>查看个人找团</span><em>Recruiting new members</em></a>
	<a class="u-btn-pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=9&fid=67&cedit=yes&extra=">发布信息<span>发布信息</span><em>Post my information</em></a>
</div>
<p class="m-raid-mkp-tips"><!--{block/1270}--></p>