<h2>分类导航<a class="u-btn-pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=67" target="_blank">快速发布</a></h2>
<ul class="m-raid-sort">
    <li><a class="team" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9"><i></i>团队招募<em>Join a team</em></a></li>
    <li><a class="person" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13"><i></i>演员应聘<em>Recruit a member</em></a></li>
    <li><a class="jiebao" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=12"><i></i>五甲捷报<em>FD of raid</em></a></li>
    <li><a class="biz" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=23"><i></i>开团信息<em>Team Events</em></a></li>
</ul>

<h2>团队搜索</h2>
<div class="m-raid-search w-sortnav">
    <div class="w-sortnav-font">
        <div id="fontsearch">
           <!--{subtemplate forum/fwq}-->
        </div>
    </div>
    <div class="w-sortnav-form">
        <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">
            <span class="label">团队名称:</span>
            <input class="px vm" type="text" name="searchoption[76][value]" size="15" value="">
            <button class="u-button-search" type="submit" name="searchsortsubmit">搜索</button>
        </form>
    </div>
</div>

<h2>最新捷报<a class="u-btn-pub2" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=12&fid=67" target="_blank"><i></i>更多</a></h2>
<div class="m-raid-jiebao m-pvx-table" id="m-raid-jiebao">
    <!--{block/1013}-->
</div>

<h2>推荐团长<a class="u-tips-faq" href="http://www.jx3pve.com/misc.php?mod=faq&action=faq&id=56&messageid=106" target="_blank" title="如何获得推荐团长？"></a></h2>
<div class="m-pvx-table m-raid-leader">
    <!--{block/890}-->
</div>

<h2>任务奖励<a class="more" href="http://www.jx3pve.com/home.php?mod=task" target="_blank">更多</a></h2>
<div class="m-raid-tasklist m-pvx-tasklist">
    <!--{block/1277}-->
</div>