<!-- 快速发布 -->
<a class="m-btn-raidpub u-btn-pvxpub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=67">快速发布<span>Post your infomation</span>
</a>

<h2>团队搜索</h2>
<div class="m-raid-sortnav">
    <div class="w-sortnav">
        <div class="w-sortnav-font">
            <div id="fontsearch">
               <!--{subtemplate forum/fwq}-->

                <div class="row m-sex">
                    <span class="label">团队性质:</span>
                    <div class="itembox">
                        <ul class="cl">
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidnature=all" class="xi2">不限</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidnature=1" class="xi2">GKP</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidnature=2" class="xi2">DKP</a></li>
                            <li class="mkp"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidnature=3" class="xi2">MKP
                            <span class="m-raid-mkp-tips"><!--{block/1270}--></span>
                            </a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidnature=4" class="xi2">ROLL</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row m-progress">
                    <span class="label">团队类型:</span>
                    <div class="itembox">
                        <ul class="cl">
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=all" class="xi2">不限</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=1" class="xi2">开荒进度团</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=2" class="xi2">有开荒金团</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=3" class="xi2">专业金团</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=4" class="xi2">亲友休闲团</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=5" class="xi2">散人娱乐团</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidsex=6" class="xi2">其他</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row m-week">
                    <span class="label">开团日:</span>
                    <div class="itembox">
                        <ul class="cl">
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=all" class="xi2">不限</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=1" class="xi2">每天</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=2" class="xi2">星期一</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=3" class="xi2">星期二</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=4" class="xi2">星期三</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=5" class="xi2">星期四</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=6" class="xi2">星期五</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=7" class="xi2">星期六</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=8" class="xi2">星期日</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtime=9" class="xi2">不定</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row m-times">
                    <span class="label">时间段:</span>
                    <div class="itembox">
                        <ul class="cl">
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=all" class="xi2">不限</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=1" class="xi2">上午</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=2" class="xi2">中午</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=3" class="xi2">下午</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=4" class="xi2">晚上</a></li>
                            <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9&searchsort=1&raidtimefull=5" class="xi2">午夜</a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-sortnav-form">
            <form method="post" autocomplete="off" name="searhsort" id="searhsort" class="bm_c pns mfm cl" action="forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">
                <span class="label">团队名称:</span>
                <input class="px vm" type="text" name="searchoption[76][value]" size="15" value="">
                <button class="u-button-search" type="submit" name="searchsortsubmit">搜索</button>
            </form>
        </div>
    </div>
</div>

<h2>推荐团长<a class="m-raid-leader-tips" href="http://www.jx3pve.com/misc.php?mod=faq&action=faq&id=56&messageid=106" target="_blank" title="如何获得推荐团长？"></a></h2>
<div class="m-raid-leader">
    <!--{block/890}-->
</div>

<h2>最新捷报<a class="m-raid-jbpub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=12&fid=67" target="_blank"><i></i>发布</a></h2>
<div class="m-raid-jiebao" id="m-raid-jiebao">
    <!--{block/1013}-->
</div>