.c-float-help{//.none;
	.fixed(rb,0,40px);
	background-color:#fff;
	padding: 10px 2px 3px 2px;
  	border-radius: 3px 0 0 3px;
	ul{
		li{
			.size(32px);.fz(12px,32px);.x;
			margin-bottom:5px;
		}
		a{
			background:url('@{url}footer/float.png') no-repeat;
			.db;.size(24px);
			.indent(-300%);
			.auto(x);
		}
		.wx{.mixbg(-25px,0,0,0);}
		.ask{.mixbg(-125px,0,-100px,0);}
		.feedback{.mixbg(-75px,0,-50px,0);}
		.gotop{.w(21px);.mixbg(-172px,0,-150px,0);}
	}
	.wxcode{
		.none;
		.pa;.rt(42px,0);
		img{border-radius:4px;}
	}
	.close{
		.pointer;
		.db;.pa;.rt(0,-26px);
		i{
			.db;.size(20px);
			background:url('http://static.jx3pve.com/static/image/common/cls.gif') no-repeat 0 0;
			&:hover{
				background-position:0 -20px;
			}
		}
		em{
			.none;
		}
	}
}



.user-help{
	position:fixed;.z(81);
	height:140px;width:100px;
	right:0;top:50%;margin-top:-70px;
	a{.db;}
	.girl{
		width:100px;height:108px;
		background:url('@{url}/user/help/help.png') no-repeat 0 0;
	}
	p{
		.x;
		a{
			background-color:#fff;border:1px solid #ccc;margin:5px 0;
			padding:2px 5px;color:#555;border-radius:4px;box-shadow:0 0 4px #ddd;
			&:hover{color:@bluex;}
		}
	}
}