@keyframes goUp{
    49%{transform:translateY(-100%)}
    50%{opacity:.3;transform:translateY(40%)}
    51%{opacity:1}
}

//搜索
.mod-search(@width:200px,@height:28px){
	.pa;top:5px;right:0;.clip;height:@height;padding:0;line-height:28px;width:auto;
	&:hover{
		.bdcs-search-form-submit{animation:goUp 0.3s ease-in forwards;}
		.bdcs-search-form-input{width:250px;}
	}
	.bdcs-search-form-input{
		width:@width;height:@height;line-height:@height;
		padding:4px 30px 4px 5px;transition:width 0.3s ease-in;
		border:none;border-radius:4px;box-sizing:border-box;
		&:focus{
			border:none;outline:0;
			box-shadow:0 0 8px rgba(0,204,255,0.8) inset;
			border:1px solid rgb(0,204,255);
		}
	}
	.bdcs-search-form-submit{
		.pa;right:0;top:0;width:30px;height:28px;cursor:pointer;background:none;border:none;.db;
		background:url('@{url}system/header/sprite.png') no-repeat 0 -118px;
	}
}

.search(whites){
	.pr;
	overflow:hidden;
	&:hover{
		.bdcs-search-form-submit{animation:goUp 0.3s ease-in forwards;}
	}
	.bdcs-search-form-input{
		.w(100%);box-sizing:border-box;
		background:#fff;
		border:1px solid #ccc;
		border-radius:3px;
		padding:3px 5px;
		box-shadow: 0 0 2px #ddd inset;
		transition:0.2s ease-in-out;
		&:focus{
			box-shadow: 0 0 2px #C4FFAB inset;
 			 border: 1px solid #80C728;
		}
	}
	.bdcs-search-form-submit{
		.pa;right:0;top:0;width:30px;height:100%;cursor:pointer;background:none;border:none;.db;
		background:url('@{url}system/header/sprite.png') no-repeat 0 -118px;
	}
}