//心法导航
.m-macro-nav{
	.w(100%);.clip;

	ul{
		.clearfix;
		width:220px;
		padding:10px 5px;
		background:none;
	}

	li{
		.fl;width:100px;margin-bottom:5px;.pr;
		
		a{.db;.full;}
		a:hover{color:#333;font-weight:bold;span{font-weight:normal;}}
		.new{
			color:#c00;.bold;
			&:hover{color:#900;}
		}

		span{color:#888;padding-left:5px;}
		i{
			height:28px; width:35px;.dbi;.y;
			background-image:url('@{url}role/xinfa.png');
			background-repeat: no-repeat;
			&.ty{background-position:0 -561px;}

			&.bx{background-position:0 0}
			&.hj{background-position: 0 -28px;}
			&.dj{background-position: 0 -56px;}

			&.axzy{background-position: 0 -84px;}
			&.fysj{background-position: 0 -112px;}
			&.yj{background-position: 0 -140px;}

			&.qc{background-position: 0 -168px;}
			&.jc{background-position: 0 -196px;}
			&.tl{background-position: 0 -224px;}
			&.jy{background-position: 0 -252px;}
			&.cj{background-position: 0 -280px;}
			&.gb{background-position: 0 -308px;}
			&.cyj{background-position: 0 -336px;}

			&.ys,&.nx{background-position: 0 -364px;}
			&.nh{background-position: 0 -392px;}
			&.nd{background-position: 0 -420px;}

			&.tll{background-position: 0 -448px;}
			&.mjt{background-position: 0 -476px;}
			&.xs{background-position: 0 -504px;}
			&.tgy{background-position: 0 -532px;}

			&.mw{background:url('@{url}role/cgm.png') no-repeat 0 0;}
			&.xz{background:url('@{url}role/cgm.png') no-repeat 0 -28px;}
		}
		
	}
}

.m-macro-search{
	
}

.m-macro-task{
	.u-list-1{
		background:url('@{url}medal/macro_1.gif') no-repeat 0 center;
	}
	.u-list-2{
		background:url('@{url}medal/macro_2.gif') no-repeat 0 center;
	}
	.u-list-3{
		background:url('@{url}medal/macro_3.gif') no-repeat 0 center;
	}
}

.m-macro-help{
	
}

.macro-postpage .u-macro-book{
	.u-btn-blue(b);.db;.x;
	.fzlh(13px,32px);
	margin:10px auto;
}