/*.macro-container{
	//隐藏侧边栏
	#postlist{
		//侧边隐藏
		.pls{
			.none;
		}
		//底部边框
		&>div{
			border:none;
		}
		.plc{
			.pob{
				.showmenu{
					
				}
			}
		}
	}
	//信息条
	.pi{
		border:none;background-color:#eee;border-radius:24px;padding:0 5px;height:28px;line-height:28px;
		strong a{border:none;padding:0px 6px;margin-top:0;&:hover{border:none;}}
		#fj{
			label{height: 100%;line-height: inherit;}
			input{height:auto;line-height:1;.pr;top:5px;}
		}
	}
	.bbsview-author-avt{.y;.dbi;img{width:20px;height:20px;border-radius:4px;.y;.pr;top:-2px;}}
	.bbsview-author-name{}
	.bbsview-author-verf{margin-top:-4px;}

	//相关帖子隐藏
	.mtw.mbw{.none;}

}*/
