/*.macro-title{
	.fz(14px,2.5);font-family:"微软雅黑";font-weight:bold;//text-indent:20px;
	width:100%;.nobreak;margin-bottom:10px;
	border-bottom:1px dashed #ddd;
	span{font-weight:normal;font-family:"宋体";font-size:12px;}
}*/

.macro-share{
	.pa;right:20px;top:20px;//.none;
}

.macro-info-primary{
	margin-top:10px;
	color:#555;line-height:24px;font-size:12px;.pr;
	div{margin-bottom:20px;}
	.span-mod{.dbi;width:70px; height:24px; border-radius:24px;background-color:#eee;.x;}
	.macro-h3{.dbi;width:70px; height:24px; border-radius:24px;background-color:#0084ff;.x;color:#fff;}
	.macro-info-base{
		ul{
			.clearfix;
			li{
				.fl; 
				width:46%;.fz(12px,24px);padding:8px 12px;.clip;height:26px;
				border:1px solid #eee;margin-left:-1px; margin-top:-1px;
				span{
					margin-right:15px;
					.span-mod;
				}
				.down{
					height: 28px;
					display: inline-block;
					padding-left: 28px;
					background:url('@{url}icon/icon-down-cloud.png') no-repeat 0 0;
				}
			}
		}
	}
	.important{
		.pr;
		h3{
			color:#aba6a6;letter-spacing:1px;
			span{margin-left:10px;font-family:Verdana;}
		}
		.content{
			background:#f7f7f7;border-radius:4px;
			border:1px solid #ddd;
			margin:10px 0 0 0;
			padding:10px;
		}
		.macro-share{
			.pa;right:0;top:0;
		}
	}
	.role-info{
		.pr;
		&:before{content:'';.db;width:90%;height:1px;background-color:#ddd;.pa;right:0;top:10px;}
		h3{
			.span-mod;
		}
		.content{
			.min-height(60);padding:10px;
		}
	}
	.macro-frag{
		.pr;
		&:before{content:'';.db;width:90%;height:1px;border-bottom:1px dotted #ddd;.pa;right:0;top:10px;}
		h3{
			.macro-h3;
		}
		#macro-copy-tips{
			border-radius:4px;color:#fff;
			background-color: #88E36F;//opacity:0.5;
			padding: 3px;position: relative;
			/*&.hover{
				animation:copytips 0.5s 2s;
			}*/
		}
		.macro-ct{
			ol{
				padding: 1px 1px 0 40px;
				background: #eee;
				border-radius: 8px;
				margin-top: 10px;
			}
			li{
				border-bottom:1px solid #eee;
				padding-left:10px;
				background-color:#fff;
			}
		}
	}
}

.macro-format-tips{
	.none;
	background: url('@{url}icon/icon-report-16.png') #f7f7f7 no-repeat 5px center;
	border: 1px solid #f0ea8e;
  	background-color: #fffddf;
	padding: 0 5px 0 28px;
	border-radius: 3px;
	color: #b05;
	a{text-decoration:underline;}
	.color(#b05,#369,#111);
}
.ie8 .macro-format-tips{.db;}

.macro-container{
	.m-only{
		.none;
	}
}

.macro-info-base{
	.u-weibo-win{
		.dbi;.y;
	}
}