.macro-container{
	.m-only{
		.none;
	}
}


//侧边栏设置最小高度占位
.m-macro-help{
	min-height:180px;
}

.m-macro-sideadd{
	min-height: 200px;
}

//隐藏分类信息
.w-category-nav{
	.none;
}

.macro-info-primary{
	margin-top:10px;
}
