<!-- 首页内容 -->
<div class="c-index m-about-index">
	<div class="banner"><!--{block/1302}--></div>

	<h2>网站简介</h2>
	<div class="m-intro">
		<!--{block/1297}-->
	</div>

	<h2>网站大事记</h2>
	<div class="m-timelist">
		<ul>
			<li>
				<strong>2013-10-18</strong><i></i>
				<a href="javascript:void(0)">超级宏官网筹备</a>
				<span>首期开发人员iRuxu、Techvicky、AntChen，产品人员yyl，主要产品为超级宏及作者作品。</span>
			</li>
			<li>
				<strong>2013-11-18</strong><i></i>
				<a href="javascript:void(0)">网站正式上线，启用yylmacro.com域名</a>
				<span>加入一大批优秀作者，如无色幽明，楚玄枫等。诸多知名作者联合撰写超级宏官方教程。</span>
			</li>
			<li>
				<strong>2013-12-28</strong><i></i>
				<a href="javascript:void(0)">网站备案完成，正式启用jx3pve.com域名</a>
				<span>启用论坛，开启门户之旅。先后有浮烟独家首发团队监控高级教程，泠落等一批优秀作者独家首发相关作品。管理团队新增夜TOT，寒舍四娘等主力管理。</span>
			</li>
			<li>
				<strong>2014-03-22</strong><i></i>
				<a href="javascript:void(0)">网站第四版，主打副本元素</a>
				<span>网站大面积全面改版，管理团队加入二尘和诸多知名团长，主力撰文独家首发各副本开荒攻略，打造了数个广受好评的副本专题。</span>
			</li>
			<li>
				<strong>2014-04-20</strong><i></i>
				<a href="javascript:void(0)">小雪读条官网</a>
				<span>小雪加入产品团队，二度开发小雪读条插件，网站新开专版，诸多作者参与皮肤制作。</span>
			</li>
			<li>
				<strong>2014-07-20</strong><i></i>
				<a href="javascript:void(0)">多元化发展</a>
				<span>超级宏和谐，网站新开捏脸、宠物、视频等PVX系列栏目，小生煎等加入开发团队。</span>
			</li>
			<li>
				<strong>2015-07-05</strong><i></i>
				<a href="javascript:void(0)">正式更名剑网3精品资料站</a>
				<span>网站第六版改版上线，诸多开发正在进行中。</span>
			</li>
		</ul>
	</div>
</div>
<!-- 首页默认列表开关 -->
<!--{subtemplate jx3pve/w_index_tg}-->