<div class="m-timelist">
    <ul>
    [loop]
	 	<li>
		<strong>{log_date_value}</strong>
		<i></i>
		<a href="{subject_url}">{subject}</a>
		<span>
			{log_summary_value}
			<a class="more" href="{subject_url}">查看详情</a>
		</span>
	</li>
    [/loop]
    </ul>
</div>


 