<div class="m-about-logo">
	<a class="m-logo" href="http://www.jx3pve.com/about">关于</a>
</div>
<div class="m-about-nav">
    <ul>
        <li><a href="http://www.jx3pve.com/about"><b>网站简介</b><span>Introduction</span></a></li>
        <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=25"> <b>管理团队</b><span>Team Members</span></a></li>
        <li><a href="http://www.jx3pve.com/portal.php?mod=topic&topicid=64"> <b>签约作者</b><span>Signed Authors</span></a></li>
        <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=26"> <b>成员招募</b><span>Join US</span></a></li>
        <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=392&filter=sortid&sortid=24"> <b>更新日志</b><span>Update Logs</span></a></li>
        <li><a href="http://www.jx3pve.com/portal.php?mod=topic&topicid=65"><b>合作联系</b><span>Union & Contact</span></a></li>
    </ul>
</div>