<div class="m-book-list">
	<ul>
		[loop]
			<li class="e-book e-book-shadow">
				<a class="book type-{typeid}" href="{subject_url}" target="_blank">
					<img class="img" src="{book_img_value}" alt="{subject}">
					<span class="til">{book_name_value}</span>
					<i class="layout"></i>
					<i class="mark">
						<em class="views">{views}</em>
						<em class="pubtime">{dateline}</em>
						<em class="digest">{digest}</em>
					</i>
				</a>
			</li>
		[/loop]
	</ul>
</div>