<div class="m-book-view">
	<div class="u-custombg" id="u-custombg">
		<span id="u-custombg-url">{raidbanner_value}</span>
		<span id="u-custombg-repeat">{raidbannerrpt_value}</span>
		<span id="u-custombg-color">{raidbannerbg_value}</span>
	</div>
	<div class="e-book">
		<a class="book type-{typeid}" href="{subject_url}">
			<img class="img" src="{book_img_value}" alt="{subject}">
			<span class="til">{book_name_value}</span>
			<i class="layout"></i>
			<i class="mark">
				<em class="digest">{digest}</em>
				<em class="views">{views}</em>
				<em class="cmds">{recommends}</em>
			</i>
		</a>
	</div>
	<div class="name">{book_name_value}</div>
	<div class="author">
		<span class="label">作者：</span>
		<span class="text">{book_author_value}</span>
	</div>
	<div class="weibo">
		<em class="u-weibo" id="w-weibo">{author_wb_value}</em>
		<span class="u-weibo-win" id="w-weibo-win"><iframe src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=136&amp;height=24&amp;uid={author_wb_value}&amp;style=1&amp;btn=red" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="117" height="24"></iframe></span>
	</div>
	<div class="bookdown">
		<span id="isdownload">{book_isdown_value}</span>
		<a class="btn" href="{book_download_value}">全本下载</a>
		<p class="tips">消耗<b>10</b>米币积分</p>
	</div>
	
	<div class="m-star">
		<!-- 收藏点赞 -->
	</div>
	<div class="ac">
		<!--{block/1311}-->
	</div>
</div>