<!-- jx3pve:蒙版 -->
<div class="u-dialog-mask e-mask" id="u-mask" style="display:none"></div>
<!-- jx3pve:警告 -->
<div id="w-dialog-important" style="display:none"><!--{block/985}--></div>
<!-- jx3pve:默认对话框 -->
<div class="w-dialog" id="w-dialog" style="display:none">
	<div class="m-primary">
		<h2 class="m-til">提示</h2>
		<span class="u-close" id="w-dialog-close">关闭</span>
		<div class="m-content" id="w-dialog-content">

			<!-- 1.default -->
			<div id="w-dialog-content-default" class="w-dialog-content">
				
			</div>
	
			<!-- 2.download -->
			<div id="w-dialog-content-vip" style='display:none' class="w-dialog-content">
				<div class="m-vip-btn">
					<a class="btn1" title="购买会员" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=usergroup&do=list" target="_blank"><i></i></a>
					<a class="btn2" title="立即充值" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=credit&op=buy"  target="_blank"><i></i></a>
				</div>
				<div class="m-vip-des">
					<div class="dialog-vip-buy">成为
						<a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=usergroup&do=list" target="_blank">VIP会员</a>
						即可享有众多特权,免下载限制。
					</div>
					<div class="dialog-vip-more">本附件需要回复可见，回复后需要刷新页面。</div>
				</div>
			</div>

			<!-- 3.append elements -->
			<div id="w-dialog-content-other" class="w-dialog-content">
				
			</div>
		</div>
	</div>
</div>
