<div class="c-float-help" id="c-float-help">
	<ul>
		<li><a id="c-float-wx-tg" class="wx" href="javascript:void(0)" title="扫一扫添加微信公众号·微信看帖更方便">微信二维码</a></li>
		<li><a class="ask" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=2&extra=" target="_blank" title="遇到难题？"><i></i>提问</a></li>
		<li><a class="feedback" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365" target="_blank" title="反馈中心"><i></i>反馈</a></li>
		<li><a id="c-float-gotop" class="gotop" href="javascript:void(0)" title="回到顶部">回到顶部</a></li>
	</ul>
	<p class="wxcode" id="c-float-wx-code" title="打开微信,点击右上角+号进行扫一扫">
		<img src="http://static.jx3pve.com/img/header/wx-128.png" alt="">
	</p>
	<span class="close" id="c-float-close"><i></i><em>关闭</em></span>
</div>