<div class="c-header-menu e-mask" id="c-header-fmenu">
	<div class="wp">
		<div class="m-menu">
			<ul class="menu-list">
				<li><a href="http://www.jx3pve.com">首页</a></li>
				<li class="pipe">|</li>
				<li><a href="http://www.jx3pve.com/forum-294-1.html">宏库</a></li>
				<li><a href="http://www.jx3pve.com/forum-321-1.html">工具</a></li>
				<li><a href="http://www.jx3pve.com/forum-384-1.html">职业</a></li>
				<li><a href="http://www.jx3pve.com/forum-369-1.html">副本</a></li>
				<li><a href="http://www.jx3pve.com/forum-67-1.html">团队</a></li>
				<li><a href="http://www.jx3pve.com/group.php">群组</a></li>
				<li class="pipe">|</li>
				<li><a href="http://www.jx3pve.com/forum-92-1.html">捏脸</a></li>
				<li><a href="http://www.jx3pve.com/forum-283-1.html">宠物</a></li>
				<li><a href="http://www.jx3pve.com/book">茶馆</a></li>
				<li><a href="http://www.jx3pve.com/video">视频</a></li>
				<li class="pipe">|</li>
				<li><a href="http://www.jx3pve.com/forum-2-1.html">论坛</a></li>
				<li><a href="http://www.jx3pve.com/misc.php?mod=faq">帮助</a></li>
				<li><a href="http://www.jx3pve.com/about">关于</a></li>
				<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365">反馈</a></li>
			</ul>
		</div>
		<div class="m-search">
			<!--{block/999}-->
		</div>
	</div>
</div>