<div class="c-nav">
	<div class="wp">
		<h1 class="logo" title="JX3PVE.COM - 首页" href="{if $_G['setting']['domain']['app']['default']}http://{$_G['setting']['domain']['app']['default']}/{else}./{/if}" title="$_G['setting']['bbname']"><a href="http://www.jx3pve.com">JX3PVE.COM</a></h1>

		<ul class="nav-list" id="c-header-nav">
			<li class="u-index"><a href="http://www.jx3pve.com">首页<span>Index</span></a></li>
			<li class="u-macro"><a href="http://www.jx3pve.com/macro">宏库<span>Macro</span></a></li>
			<li class="u-tool"><a href="http://www.jx3pve.com/tool">工具<span>Tool</span></a></li>
			<li class="u-role"><a href="http://www.jx3pve.com/role">职业<span>Role</span></a></li>
			<li class="u-fam"><a href="http://www.jx3pve.com/fam">副本<span>Fam</span></a></li>
			<li class="u-raid"><a href="http://www.jx3pve.com/raid">团队<span>Raid</span></a></li>
			<!-- <li class="u-group"><a href="http://www.jx3pve.com/group.php">群组<span>Group</span></a></li> -->
			<!-- <li class="u-biz"><a href="http://www.jx3pve.com/biz">交易<span>Biz</span></a></li> -->
			<li class="u-face"><a href="http://www.jx3pve.com/face">捏脸<span>Face</span></a></li>
			<li class="u-book"><a href="http://www.jx3pve.com/book">茶馆<span>Book</span></a></li>
			<li class="u-pet"><a href="http://www.jx3pve.com/pet">宠物<span>Pet</span></a></li>
			<li class="u-video"><a href="http://www.jx3pve.com/video">视频<span>Video</span></a></li>
			<li class="u-bbs"><a href="http://www.jx3pve.com/bbs">论坛<span>Forum</span></a></li>
		</ul>
	</div>
</div>