<div class="m-os" id="c-header-os">
	<a class="invitecode" href="home.php?mod=spacecp&ac=invite"><i></i>邀请码</a>
	<p class="buy">
		<a href="home.php?mod=spacecp&ac=credit&op=buy"><i></i>充值</a>
		<span>|</span>
		<a href="home.php?mod=spacecp&ac=usergroup&do=list">开通会员</a>
	</p>
	<div class="os-list">
		<ul>
			<li><a class="os" href="home.php"><em><i></i></em><span>个人中心</span></a></li>
			<li><a class="my" href="forum.php?mod=guide&view=my"><em><i></i></em><span>我的帖子</span></a></li>
			<li><a class="fav" href="home.php?mod=space&do=favorite&view=me"><em><i></i></em><span>我的收藏</span></a></li>
		</ul>
	</div>
</div>