.about-contact-page{
	.pvx-content h2{
		.fz(16px,2);
		.bold;
		//border-bottom:1px solid #ccc;
		margin-bottom:10px;
	}	
}
.m-about-union,.m-about-support{
	ul{
		.clearfix;
		li{
			.dbi;
			margin-right:20px;
			margin-bottom:20px;
			a{
				padding:5px;
				border:1px solid #ddd;
				background-color:#fff;
				.db;
				img{
					max-width:200px;
				}
			}
		}
	}
}


.m-about-union{

}
.m-about-support{

}
.m-about-contact{
	.clearfix;
	a{
		.db;.x(right);
		.fz(13px,80px);
		padding:0 20px 0 120px;
		border-radius:10px;
		margin-right:60px;
		.fl;
		border:1px solid #ddd;
		transition:0.2s ease-in-out;
		&:hover{
			box-shadow:0 0 2px #ddd inset;
			color:#c00;
			background-position:30px center;
		}
	}
	.email{
		background:url('@{url}about/email.png') #fff no-repeat 20px center;
	}
	.sms{
		background:url('@{url}about/sms.png') #fff no-repeat 20px center;
	}
	.qq{
		background:url('@{url}about/qq.png') #fff no-repeat 20px center;
	}
}