.about-container{
	.w-filter-box{
		.clearfix;
		.label{
			.none;
		}
		.value{
			.fl;.db;.ps;
			border:none;
			padding:0;
			margin:0;
		}
		margin-bottom:20px;
	}
}

.m-about-join{
	ul{
		.db;
	}
	li{
		.db;.clearfix;
		border-bottom:1px solid #ddd;
		&:hover{
			background-color:#fff;
		}
		&.on{
			.details{
				.db;
			}
		}
	}
	.default{
		.fzlh(12px,40px);
		*{
			.db;.fl;.w(1/6*100%);
			.indent(10px);
		}
	}
	.th{
		background-color:#f5f5f5;
		border-top:1px solid #ddd;
	}
	.default{
		.db;.full(x);.h(auto);
		.clearfix;
	}
	.details{
		.db;
		border-top:1px dotted #ddd;
		.fz(12px,2.5);
		padding:10px;
		.none;
	}
	.go{
		.x;
	}
	a{
		.color(@bluex,#c00);
	}
}