.about-container{
	.w-index-tg,.w-index-list{
		.none;
	}
}

.m-about-index{
	h2{
		.fz(16px,2);.bold;
		margin:10px 0;
	}
	.m-intro{
		.fz(12px,2);
		.indent(24px);
		padding:10px;
		color:#555;
	}

	.m-timelist{
		span:after{
			.none;
		}
	}
}