.m-about-log{
  padding:20px 0;
}
.m-timelist{
    ul{
        padding:0 0 0 140px;
        li{
            .pr;
            .db;padding-bottom:30px;
            border-left:3px solid #dedede;
            &:hover{
                i{transform:scale(1);}
                span{color:#666;}
            }
            a{
                .db;padding:0 30px;
                .fzlh(16px,40px);
            }
            i{
                .db;.pa;.lt(-7px,9px);
                .size(10px, 20px);
                background: url("@{url}about/log.png") center #f7f7f7 no-repeat;
                transform:scale(0.8);
                transition:0.2s ease-in-out;
            }
            strong{
                .pa;.lt(-120px,0);
                .size(100px,40px);overflow:hidden;
                .fz(16px, 40px);
                .color(#666);
                .x;
                //font-family:Helvetica,Tahoma,Consolas;
            }
            span{
                .db;padding:0 30px;
                color:#777;
                transition:0.2s ease-in-out;
                .fz(12px,2);
                .pr;
                 &:after{
                    content:'';
                    .db;
                    //.pa;.rb(45px,5px);
                    //.w(30%);
                    margin:10px 10px 5px 0;
                    .h(1px);
                    border-bottom:1px dotted #ddd;
                }
            }
            .more{
                .pa;.rb(0,-6px);padding:0;
                .dbi;.size(40px,12px);.indent;
                background:url('@{url}icon/more.png') no-repeat 0 0; 
                &:hover{
                    background-position:0 -12px;
                }
            }
            
        }
    }
}

.about-viewpage{
    .pvx-title{
        .only,.goto,.m-info{.none;}
    }
    .banner{
        .none;
    }
    .c-fli-pvx-first{
        .m-author{.none;}
        .m-content{
            float:none;
            .w(auto);
        }
    }

    .pvx-content{
        .w(820px);
        padding:20px;
        .r(6px);
        background-color:#fff;
    }
}