/* 发宏单页
-------------------------------------------------------------- */
	.share-main{background: url("http://static.jx3pve.com/cssjsimg/img/bg4.png") repeat top left;}
	.share{}
	#share-top{height:330px;border-bottom:1px solid #ccc;}
	#share-top-content{width:1040px;margin:0 auto;position:relative;height:330px;}
	#share-ac{color:#333;font-family:宋体;line-height:24px;text-align:right;font-size:12px;position:absolute;right:0;top:40px}
	#share-logo{color:#ca0606;font-family:Arial;font-size:80px;position:absolute;left:20px;top:120px;}
	#share-info{color:#000;font-family:Arial;font-size:60px;position:absolute;left:20px;top:220px;word-spacing:6px;}
	#share-info a{color:#000;}
	#share-info a:hover{color:#ff0000;}
	#share-sub a{display:block;background:url("http://static.jx3pve.com/cssjsimg/img/pub.png") no-repeat top left;width:249px;height:95px;right:40px;top:200px;position:absolute;}
	#share-center{background:url("http://static.jx3pve.com/cssjsimg/img/share-ex.jpg") no-repeat center center;background-color:#fff;height:500px;border-bottom:1px solid #ccc;}
	#share-doc{padding-bottom:20px;}
	#share-doc-content{width:1040px;margin:0 auto;position:relative;}
	#share-doc-button{background:url("http://static.jx3pve.com/cssjsimg/img/share-docbg.png") no-repeat top left;width:179px;height:179px;position:absolute;left:0;top:30px;color:#fff;text-align:center;}
	#share-text-doc{font-family:Arial;font-size:60px;display:block;margin-top:10px;}
	#share-text-sub{font-family:"Microsoft Yahei";font-size:30px;}
	#share-doc-table{padding-top:30px;font-size:12px !important;font-family:宋体;width: 830px !important;
	padding-left: 208px;}
	#share-doc-table table {background:#fff;}
	#share-doc-table table td{border:1px solid #ccc;line-height:24px;padding:5px;}
	#share-doc-table #article {width:830px !important;padding-left:208px;}
	#share-doc-table table a{color:#00ccff;}
	#share-doc-table table a:hover{color:#ff0000;}
