/* 书架栏目
-------------------------------------------------------------- */
	.tech-page{font-family:宋体 !important;font-size:12px !important;line-height:24px;}
	.tech-page a:hover{color:#cc0000;}
	.tech-page a{color:rgb(15,66,59);}
	#tech-content{background-color:#fff;border:1px solid #ccc;font-size:12px;font-family:宋体;padding:20px;text-shadow:rgba(255,255,255,.5) 0 1px 0;}
	.tech-content{padding:0 20px;}
	#tech-view{margin-bottom:10px;text-align:center;background-color:#f9f9f9;border:1px solid #ccc;line-height:30px;height:30px;font-size:12px;padding:0 10px;position:relative;}
	#view-pre{font-weight:bold;position:absolute;left:0;top:0;padding-left:20px;width:100px;}
	#view-next{font-weight:bold;position:absolute;right:0;top:0;padding-right:20px;width:100px;}
	#tech-content2{position:relative;font-family:宋体 !important;font-size:12px !important;}
	#tech-bak{position:absolute;right:10px;top:10px;}
	#tech-content h2{margin-top:10px;height:35px;line-height:35px;font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dotted #ccc;text-indent:45px;background:url("http://static.jx3pve.com/cssjsimg/img/h2.jpg") no-repeat center left;}
	#tech-content li{font-size:12px;height:24px;line-height:24px;letter-spacing:1px;list-style-type:circle !important;border-bottom:1px dashed #ccc;display:block;}
	#tech-content ul{padding:0 20px;}
	#page-comment{}
	#page-comment a{display:block;min-height:100px;min-width:200px;}
	#tech-content2 table{width:98%;margin:10px auto;font-size:12px !important;font-family:宋体 !important;}
	#tech-content2 td{border:1px solid #ccc;font-size:12px !important;padding:0 5px;font-family:宋体 !important;}
	#tech-list-title{text-align:center;font-size:14px;padding:10px 0;}

	#shelfbg{background:url("http://static.jx3pve.com/cssjsimg/img/shelf-bg.jpg") repeat center center;}
	#study-content{padding:20px;}
	#study-content ul{background:url("http://static.jx3pve.com/cssjsimg/img/shelf-c.png") no-repeat bottom left;width:1000px;height:256px;padding:0 60px;margin:0 auto;}
	#study-content ul li{list-style:none;float:left;width:162px;height:208px;margin-right:36px;}
	#study-content ul li a,#study-content ul li a:hover{display:block;width:162px;height:208px;}
	#book-cjh{background:url("http://static.jx3pve.com/cssjsimg/img/book-cjh.png") no-repeat top left;}
	#book-tdjk{background:url("http://static.jx3pve.com/cssjsimg/img/book-tdjk.png") no-repeat top left;}
	#study-content p{color:#888;width:340px;height:25px;line-height:25px;background-color:#f9f9f9;border:1px dashed #ccc;font-size:12px;margin:20px auto;}


	#bookbg{min-height:799px;margin:0 auto;background:url("http://static.jx3pve.com/cssjsimg/img/book-1.png") no-repeat top center;}
	.tech-page-book{text-shadow:rgba(255,255,255,.5) 0 1px 0;font-size:12px;font-family:宋体;line-height:24px !important;width:1180px;margin:0 auto;position:relative;}
	.tech-list-title-book{color:#990000;font-size:16px;line-height:30px;font-family:微软雅黑;font-weight:bold;text-align:center;border-bottom:1px solid #ccc;margin:0 auto 10px auto;}
	.tech-list-title-book2{text-align:center;position:relative;text-transform:uppercase;border-bottom:1px solid #ccc;font-size:12px;line-height:30px;font-family:Verdana;color:#777;}
	#tech-content-book1{min-height:700px;overflow:hidden !important;}
	.entry-content-left{position:absolute;left:80px;top:30px;width:478px;height:567px;overflow-y:auto;}
	.entry-content-right{position:absolute;right:90px;top:30px;width:468px;height:595px;overflow-y:auto;}
	.entry-content-right li{display:block;border-bottom:1px dashed #ccc;border-collapse:collapse;}
	.tech-page-book a:hover{color:#ff0000;}
	.tech-page-book h1{font-size:14px;font-weight:bold;}
	.tech-page-book h2,.tech-page-book h3,.tech-page-book h4,.tech-page-book h5,.tech-page-book h6{font-size:12px;font-weight:bold;}
	#book-meta{position:absolute;left:180px;bottom:55px;color:#6e5c57;}

	#bookbg2{min-height:799px;margin:0 auto;background:url("http://static.jx3pve.com/cssjsimg/img/book-1.png") no-repeat top center;}
	#book2-content-right{height:548px;overflow-y:auto;}
	#book-2-right{overflow:hidden !important;}
