/*
* 旧版超级宏
* By iRuxu
*/
.iframe-header{
	.wp{
		.w(1180px);
	}
}
.old-yylmacro{
	.header{
		.h(134px);
		overflow:hidden;
	}
}


/* 分页插件样式
-------------------------------------------------------------- */
.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a, .wp-pagenavi span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
}



//修改过的
.macrotg{
	.main{
		.wp{
			.content{
				h1{font-weight: normal; padding-top:20px;}
				ul{
					padding:20px;
					li{
						font-size: 12px;list-style: square;height: 32px;line-height: 32px;border-bottom: 1px dashed #ccc;
						a{
							.db;color:#444;
							&:hover{color: #f00;}
						}
					}
				}
				.macro-pages{
					color: #444;margin: 28px 20px 20px 20px; .x;
					.wp-pagenavi{.dbi;}
				}
			}
		}
	}
}




//body
.yylmacro{
	background-color:#f2f2f2;font-size:12px;
	&.box{padding:20px 0;}
}























/* 搜宏栏目
-------------------------------------------------------------- */
.souhong{width:1140px;margin: 0 auto 20px auto;padding: 0;
-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
-moz-border-radius-bottomright: 8px;
-moz-border-radius-bottomleft: 8px;
border-bottom-right-radius: 8px;
border-bottom-left-radius: 8px;}
.cat-macro-list{margin: 20px auto;width:1140px;}

#mihong-content1{position:relative;}
.somacro-1,.somacro-2,.somacro-3{float:left;}
.somacro-1 {width:120px;}
.somacro-2 {width:750px;height:80px;border:1px solid #ccc;}
.somacro-3 {width:220px;}
#text-9{padding:0;list-style:none;}
#mihong-choose{position:absolute;top:0;right:0;}
#share-button{width:180px;height:58px;background:url("img/share-button.png") no-repeat top center;}
#share-button a{display:block;width:210px;height:58px;}

#mihong-cat{margin-bottom:20px;}
#search-ingame{display:inline-block;}
.macronav{float:left;}
#catmenpai-ingame{width:1000px;}
#catmenpai-ingame li{display:block;float:left;width:128px;text-align:center;height:25px;line-height:25px;font-size:12px;margin:0 10px 10px 0;}
#catmenpai-ingame li a{display:block;}
#catmenpai-ingame li a:hover{display:block;}

#cat-table{}
.cat-table{font-size:12px;}
#cat-macro-list-title{color:#999;border-bottom: 1px dotted #ccc; }
.cat-macro-list-td1,.cat-macro-list-td{display:inline-block;}
#cat-macro-list-tr{position:relative;}
#cat-macro-list-tr a{display:block;font-size:12px !important;line-height:24px;margin:8px 0;cursor:pointer;background-color:#fff;border:1px solid #ccc;height:21px;padding-right:20px;border-radius:20px;}
#cat-macro-list-tr a:hover{background-color:#fff;color:#ff0000;border:1px solid #bbb;border-radius:20px;}


#list-sidebar{font-size:12px;font-family:宋体;padding:5px 5px 0 0;}
#list-sidebar a{color:#777 !important;line-height:24px;}
#list-sidebar a:hover{color:#990000  !important;border-bottom:1px dotted #ccc;}
#categories-2{margin-right:10px;}
#search-2{height:26px;}
#categories-2 h3,#categories-2 .widget-title {display:normal !important;}
#catlist-table{margin-top:10px;}
#macro-list-page,.macro-list ul li a{color:#444;padding:28px 20px 20px 20px;font-size:12px !important;}
.cat-title{position:relative;padding-bottom:20px;}
.cat-macro-title{font-size:24px;font-family:"Microsoft Yahei";position:relative;padding-bottom:5px;}
#category-description {z-index:99999;position:absolute;top:10px;left:88px;width:90px;height:28px;font-size:12px !important;color:#ccc;font-family:宋体;word-spacing:2px;font-weight:normal !important;line-height:24px;}
#pow_widget-2{padding:0 !important;} /*排序*/
#category-description a{color:#000;}
#category-description a:hover{color:#ff0000;}
#category-description p{display:inline;}

/*云端ID*/
.cat-macro-list-td,.cat-macro-list-td1{padding:0 10px;}
#cat-cloudid2{background-color:#222;height:24px;width:40px;line-height:24px;color:#ff0000;line-height:24px;text-align:center;font-weight:bold;
	-moz-border-radius:20px;
	-moz-border-radius:20px;/* Gecko browsers */        
	-webkit-border-radius:20px;
	-webkit-border-radius:20px;/* Webkit browsers */
	border-radius:20px;
	border-radius:20px;/* W3C syntax */
}

#cat-cloudid {position:absolute;left:0;top:0;border:1px solid #ccc;font-weight:bold;width:40px;background-color:#777;color:#fff;height:22px;line-height:24px;text-align:center;
	-moz-border-radius:20px;
	-moz-border-radius:20px;/* Gecko browsers */        
	-webkit-border-radius:20px;
	-webkit-border-radius:20px;/* Webkit browsers */
	border-radius:20px;
	border-radius:20px;/* W3C syntax */}
#cat-cloudid a:hover{background-color:#222;}

/*更新时间*/
#cat-time{width:75px;text-align:left;position:absolute;left:68px;top:0; }
#cat-time2{width:75px;}
#cat-macrologo{width:24px;}
#cat-version{width:120px;text-align:left;}

/*标题*/
#cat-title1{width:680px;white-space:nowrap;overflow:hidden;position:absolute;left:168px;top:0; }
#cat-title1 a{color:#006699; }
#cat-title1 a:hover{color:#ff0000;}
#cat-title2{width:520px;}

/*作者*/
#cat-author{text-align:left;width:90px !important;overflow:hidden !important;position:absolute;left:898px;top:0; }
#cat-author2{padding-left:200px;}

/*勋章*/
#cat-xunzhang{width:150px;position:absolute;top:7px;left:780px;}
#cat-xunzhang2{width:150px;}
#cat-xunzhang-img img{width:18px;height:18px;}



/* 归档页
-------------------------------------------------------------- */
#authorsay{font-size:12px;color:#777;padding:10px 20px;}
.macro-list ul{padding:20px;}
.macro-list ul li,.macro-list ul li a {font-size:12px;list-style:square;height:32px;line-height:32px;border-bottom:1px dashed #ccc;} 
.macro-list ul a:hover,.macro-list ul li a:hover{color:#ff0000 !important;} 
.help-page img{ background-color:#fff;padding:5px;border:1px solid #ccc;}



/* 下载栏目
-------------------------------------------------------------- */
.download-page{position:relative;font-family:宋体;}
#download-content{padding:20px 0;float:left;}
.down-yylmacro{margin:0 auto;}
.downlist,.downlist a{float:left;width:300px;height:100px;display:block;}
#down-cn a{background:url("img/download-cn.png") no-repeat center center;}
#down-big5 a {background:url("img/download-cnbig5.png") no-repeat center center;}
#down-gxq a{background:url("img/download-gxq.png") no-repeat center center;}
.down-yylmacro-info{padding:0;margin:0 auto;}
.downlist-info{float:left;width:300px;display:block;text-align:center;font-size:12px;}
#changelogs {width:838px;margin:50px 0 0 0px;padding-left:40px;font-size:12px;line-height:24px;position:relative;}
#weibo_add{position:absolute;right:240px;top:5px;z-index:9999;}
#changelogs h1{width:830px;background:url("img/changelogs-icon1.png") no-repeat top left;height:32px;text-indent:40px;line-height:32px;
font-size:14px;font-family:"Microsoft Yahei";margin-bottom:10px;color:#5f9e21;border-bottom:1px dotted #ccc;font-weight:bold;margin:0;position:relative;}
#all-change-logs{position:absolute;top:0;right:0;font-size:12px;font-weight:normal;font-family:宋体;color:#999;}
#all-change-logs a{color:#999;}
.down-help-list{width:820px;margin:0 0 0 40px !important;}
#help-list{margin:0 auto;max-width:1120px;border:1px solid #ccc;height:60px;background-color:#eee;font-size:12px;font-weight:bold;}
#help-list ul{margin:0 auto;width:720px;}
#help-list ul li {float:left;padding:0 24px;text-align:center;line-height:60px;list-style:none;}
#help-list ul li a{color:#cd3d1b;}
#help-list ul li a:hover{color:#88cd1b;}
.help-page{}
.help-content{width:1080px;margin:20px auto;background-color:#f9f9f9;border:1px solid #ccc;padding:20px;}
#help-icon,#help-icon a{display:block;background:url("img/help.png") no-repeat center left;width:121px;min-height:60px;padding:0 !important;}
#logs-page{background:url("img/bg5.png") repeat top left;width:100%;}
#list-yylmacro{width:95%;height:50px;line-height:50px;background-color:#fff;}
/*下载页侧边栏：sidebar-6*/
#downpage-sidebar{float:right;width:240px;min-height:400px;border:1px solid #ccc;background-color: #fff;border-radius:6px;font-size:12px;font-family:Tahoma,宋体;line-height:24px;
background:url("http://static.yylmacro.com/img/sidebar-top.png") no-repeat 0 0 #f9f9f9;padding:100px 0 0 0;} 
#text-12{padding:5px 5px 20px 5px;text-align:center !important;}
#text-12 a{color:#1e3796;}
#text-13 p {padding-left:18px;font-size:14px;font-family:"Microsoft Yahei";font-weight:bold;color:#000;}
#text-13 p span{color:blue;padding-left:20px;}
#text-14 {padding-left:10px;}

/* 书架栏目
-------------------------------------------------------------- */
.tech-page{font-family:宋体 !important;font-size:12px !important;line-height:24px;}
.tech-page a:hover{color:#cc0000;}
.tech-page a{color:rgb(15,66,59);}
#tech-content{background-color:#fff;border:1px solid #ccc;font-size:12px;font-family:宋体;padding:20px;text-shadow:rgba(255,255,255,.5) 0 1px 0;}
.tech-content{padding:0 20px;}
#tech-view{margin-bottom:10px;text-align:center;background-color:#f9f9f9;border:1px solid #ccc;line-height:30px;height:30px;font-size:12px;padding:0 10px;position:relative;}
#view-pre{font-weight:bold;position:absolute;left:0;top:0;padding-left:20px;width:100px;}
#view-next{font-weight:bold;position:absolute;right:0;top:0;padding-right:20px;width:100px;}
#tech-content2{position:relative;font-family:宋体 !important;font-size:12px !important;}
#tech-bak{position:absolute;right:10px;top:10px;}
#tech-content h2{margin-top:10px;height:35px;line-height:35px;font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dotted #ccc;text-indent:45px;background:url("img/h2.jpg") no-repeat center left;}
#tech-content li{font-size:12px;height:24px;line-height:24px;letter-spacing:1px;list-style-type:circle !important;border-bottom:1px dashed #ccc;display:block;}
#tech-content ul{padding:0 20px;}
#page-comment{}
#page-comment a{display:block;min-height:100px;min-width:200px;}
#tech-content2 table{width:98%;margin:10px auto;font-size:12px !important;font-family:宋体 !important;}
#tech-content2 td{border:1px solid #ccc;font-size:12px !important;padding:0 5px;font-family:宋体 !important;}
#tech-list-title{text-align:center;font-size:14px;padding:10px 0;}

#shelfbg{background:url("img/shelf-bg.jpg") repeat center center;}
#study-content{padding:20px;}
#study-content ul{background:url("img/shelf-c.png") no-repeat bottom left;width:1000px;height:256px;padding:0 60px;margin:0 auto;}
#study-content ul li{list-style:none;float:left;width:162px;height:208px;margin-right:36px;}
#study-content ul li a,#study-content ul li a:hover{display:block;width:162px;height:208px;}
#book-cjh{background:url("img/book-cjh.png") no-repeat top left;}
#book-tdjk{background:url("img/book-tdjk.png") no-repeat top left;}
#study-content p{color:#888;width:340px;height:25px;line-height:25px;background-color:#f9f9f9;border:1px dashed #ccc;font-size:12px;margin:20px auto;}


#bookbg{min-height:799px;margin:0 auto;background:url("img/book-1.png") no-repeat top center;}
.tech-page-book{text-shadow:rgba(255,255,255,.5) 0 1px 0;font-size:12px;font-family:宋体;line-height:24px !important;width:1180px;margin:0 auto;position:relative;}
.tech-list-title-book{color:#990000;font-size:16px;line-height:30px;font-family:微软雅黑;font-weight:bold;text-align:center;border-bottom:1px solid #ccc;margin:0 auto 10px auto;}
.tech-list-title-book2{text-align:center;position:relative;text-transform:uppercase;border-bottom:1px solid #ccc;font-size:12px;line-height:30px;font-family:Verdana;color:#777;}
#tech-content-book1{min-height:700px;overflow:hidden !important;}
.entry-content-left{position:absolute;left:80px;top:50px;width:478px;height:567px;overflow-y:auto;}
.entry-content-right{position:absolute;right:90px;top:50px;width:468px;height:595px;overflow-y:auto;}
.entry-content-right li{display:block;border-bottom:1px dashed #ccc;border-collapse:collapse;}
.tech-page-book a:hover{color:#ff0000;}
.tech-page-book h1{font-size:14px;font-weight:bold;}
.tech-page-book h2,.tech-page-book h3,.tech-page-book h4,.tech-page-book h5,.tech-page-book h6{font-size:12px;font-weight:bold;}
#book-meta{position:absolute;left:180px;bottom:35px;color:#6e5c57;}

#bookbg2{min-height:799px;margin:0 auto;background:url("img/book-1.png") no-repeat top center;}
#book2-content-right{height:548px;overflow-y:auto;}
#book-2-right{overflow:hidden !important;}

/* 分享栏目
-------------------------------------------------------------- */
.share-main{}
.share{}
#share-top{height:330px;border-bottom:1px solid #ccc;}
#share-top-content{width:1040px;margin:0 auto;position:relative;height:330px;}
#share-ac{color:#333;font-family:宋体;line-height:24px;text-align:right;font-size:12px;position:absolute;right:0;top:40px}
#share-logo{color:#ca0606;font-family:Arial;font-size:80px;position:absolute;left:20px;top:120px;}
#share-info{color:#000;font-family:Arial;font-size:60px;position:absolute;left:20px;top:220px;word-spacing:6px;}
#share-info a{color:#000;}
#share-info a:hover{color:#ff0000;}
#share-sub a{display:block;background:url("img/pub.png") no-repeat top left;width:249px;height:95px;right:40px;top:200px;position:absolute;}
#share-center{background:url("img/share-ex.jpg") no-repeat center center;background-color:#fff;height:500px;border-bottom:1px solid #ccc;}
#share-doc{padding-bottom:20px;}
#share-doc-content{width:1040px;margin:0 auto;position:relative;}
#share-doc-button{background:url("img/share-docbg.png") no-repeat top left;width:179px;height:179px;position:absolute;left:0;top:30px;color:#fff;text-align:center;}
#share-text-doc{font-family:Arial;font-size:60px;display:block;margin-top:30px;}
#share-text-sub{font-family:"Microsoft Yahei";font-size:30px;}
#share-doc-table{padding-top:30px;font-size:12px !important;font-family:宋体;}
#share-doc-table #article {width:830px !important;padding-left:208px;}
#share-doc-table table a{color:#00ccff;}
#share-doc-table table a:hover{color:#ff0000;}


/* 作者团队页
-------------------------------------------------------------- */
#allauthors{margin:0 auto;max-width:945px;}
#allauthors ul{padding:0 !important;margin:0 !important;border-left:1px solid #ccc;border-top:1px solid #ccc;background-color:#fff;width:945px;}
#allauthors li{list-style:none;width:188px;float:left;border-bottom:1px solid #ccc;border-right:1px solid #ccc;height:30px;line-height:30px;text-align:center;font-size:12px;}
#allauthors li a{display:block;}
#allauthors li a:hover{background-color:#00ccff;font-weight:bold;color:#fff;}
#allauthors-title{text-align:center;font-weight:bold;color:#99cc00;background-color:#fff;height:30px;line-height:30px;font-size:12px;width:944px;border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #ccc;}
#allauthors-title span{color:#999;padding-left:10px;text-align:right;font-weight:normal;}
#qytable{margin:0 auto;max-width:945px;}
.author-page a:hover{color:#00ccff;font-weight:bold;border-bottom:1px dotted #00ccff;}
#qianyuelist {margin:20px 0;}
#qianyuelist ul li {list-style:none;float:left;font-size:12px;text-align:center;margin-bottom:6px;}

/* 超级宏教程页
-------------------------------------------------------------- */
.doc-content{width:880px;padding:0 20px;font-family:宋体;font-size:12px;background-color:#f9f9f9;border:1px solid #ccc;text-shadow: rgba(255,255,255,.5) 0 1px 0;}
.doc-content h1{color:#990000;}
.doc-content h2{}
.doc-content a{color:#2b87c1 !important;}
.doc-content a:hover{color:#cc0000 !important;}
.doc-title{font-size:18px;font-family:"Microsoft Yahei";display:block;line-height:18px;margin-bottom:20px;padding:20px 0;color:#000 !important;border-bottom:1px solid #bbb;}
#doc-content table {width:98% !important;}
#doc-content{float:left;}
.doc-content img{background-color:#fff;padding:5px;border:1px solid #ccc;}

#doc-sidebar{float:right;width:240px;font-size:12px;line-height:24px;}
.doc-meta h1{font-size:12px;line-height:24px;font-weight:bold;border-bottom:1px dashed #ccc;color:#990000;}
.doc-meta{font-size:12px;margin-bottom:20px;line-height:24px;}
.doc-meta-time{color:#999;}

#doc-help{background:url("img/help-ask.png") no-repeat top center;margin:0 auto;height:70px;}
#doc-help a{display:block;width:240px;height:70px;}

#doc-pages{	}
.page-links{clear: both;display: block;padding:10px;margin: 20px 0;font-size:12px;}
.page-links a {border:1px solid #03ccf7;background-color:#bce6fb;color: #0099ff;margin: 0;padding: 5px 10px;text-decoration: none;margin-left:6px;}
.page-links a:hover,.page-links span.current {border:1px solid #f700b4;color: #f700b4;background-color:#fea1e5;}
.page-links span {margin-right: 6px;border:1px solid #70b10b;background-color:#cffa8c;padding: 5px 10px;color:#fff;color:#70b10b;}

#doc-nav{}
.main_nav{font-size:12px; line-height:1.8; background:url("img/bg7.png") repeat top left; width:200px;border:1px solid #ccc; padding:19px 15px 19px 20px; overflow:hidden;}
.main_nav a:link,.main_nav a:visited{ color:#933; white-space:nowrap; width:148px; overflow:hidden; display:block;}
.main_nav a:hover{ text-decoration:underline; color:#e00;}
.main_nav .menu > .menu-item{ background:url(img/folder.gif) no-repeat left 3px; padding-left:25px;}
.main_nav .menu > .menu-item-has-children{ background:url(img/folderopen.gif) no-repeat left 3px; padding-left:25px;}
.sub-menu li{ background:url(img/page.gif) no-repeat left 3px; padding-left:20px; margin:5px 0;}
.sub-menu .sub-menu{ margin-left:-20px;}


/* 微信APP
-------------------------------------------------------------- */
div.webapp {/*background-color:#eee;*/font-size:12px;line-height:20px;}
.webapp-content{width:1000px;min-height:500px;margin:0 auto;padding:80px 0;background:url("img/webapp-bg.png") no-repeat ;}
.webapp-content ul{padding:80px 0 0 620px;}
.app-list {padding:20px 0px 50px 0;}
.app-list span{font-weight:bold;}
.app-list span a{color:#000000;}
.app-list span a:hover{color:#ff0000;}
#app-list-item-ios{padding-top:5px !Important;}
#otherpages {background:url("img/bg9.png") repeat top left;}



/* 文章内部编辑器格式
-------------------------------------------------------------- */
/*.entry-content h1,.entry-content h2,.entry-content h3,.entry-content h4,.entry-content h5,.entry-content h6 {margin: 10px 0;line-height: 24px;}
.entry-content h1{font-size:16px;font-weight:bold;font-family:"Microsoft Yahei";padding:5px 0;}
.entry-content h2{font-size:14px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dotted #ccc;text-indent:45px;background:url("img/h2.jpg") no-repeat center left;}
.entry-content h3{font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dashed #ccc;width:92%;margin-left:2%;text-indent:25px;background:url("img/h3.jpg") no-repeat center left;}
.entry-content h4{font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dashed #ccc;width:92%;margin-left:4%;text-indent:35px;background:url("img/h4.jpg") no-repeat center left;}
.entry-content h5 {font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dashed #ccc;width:92%;margin-left:4%;text-indent:35px;background:url("img/h5.jpg") no-repeat center left;}
.entry-content h6{font-size:12px;font-weight:bold;font-family:宋体;padding:5px 0;border-bottom:1px dashed #ccc;width:92%;margin-left:4%;text-indent:35px;background:url("img/h6.jpg") no-repeat center left;}

.entry-content ul ul,.entry-content ol ol,.entry-content ul ol,.entry-content ol ul{margin-bottom: 0;}
.entry-content ul {list-style: disc outside;}
.entry-content ol {list-style: decimal outside;}
.entry-content blockquote {margin: 10px 0;padding: 10px;font-size:12px;color:#777;border:1px solid #ccc;background-color:#fff;}
.entry-content blockquote p:last-child{margin-bottom: 0;}
.entry-content code {font-family: Consolas, Monaco, Lucida Console, monospace;font-size: 12px;font-size: 0.857142857rem;line-height: 2;}

.entry-content abbr,.entry-content dfn,.entry-content acronym {border-bottom: 1px dotted #666;cursor: help;}
.entry-content address {display: block;line-height: 1.714285714;margin: 0 0 24px;margin: 0 0 1.714285714rem;}

img.alignleft {margin: 12px 24px 12px 0;margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;}
img.alignright{margin: 12px 0 12px 24px;margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;}
img.aligncenter{clear: both;margin-top: 12px;margin-top: 0.857142857rem;margin-bottom: 12px;margin-bottom: 0.857142857rem;}

.entry-content embed,.entry-content iframe,.entry-content object,.entry-content video {margin-bottom: 24px;margin-bottom: 1.714285714rem;}
.entry-content dl {margin: 0 24px;margin: 0 1.714285714rem;}
.entry-content dt {font-weight: bold;line-height: 1.714285714;}
.entry-content dd {line-height: 1.714285714;margin-bottom: 24px;margin-bottom: 1.714285714rem;}

.site-content article {padding-bottom: 24px;padding-bottom: 1.714285714rem;word-wrap: break-word;-webkit-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}
.single-author .entry-meta .by-author {display: none;}*/

/* 游戏内搜宏页面
-------------------------------------------------------------- */
/*#search-yylmacro{}
.yylmacro-ingame{width:717px;height:437px;}
#header-ingame{background-color:#4e6962;height:48px;}
#logo-ingame{display:inline-block;width:220px;text-decoration:none;color:#fff;line-height:48px;font-size:22px;font-family:Times New Roman;text-indent:20px;}

#list-ingame{font-size:12px !important;line-height:24px;}
.list-ingame-table{}
#list-ingame-table-title{background-color:#f9f9f9;border-bottom:1px solid #ccc;height:30px;line-height:30px;}
.list-ingame-td1{display:inline-block;}
#list-ingame-tr,#list-ingame-tr a{display:block;border-bottom:1px dotted #ccc;}
#list-ingame-tr a:hover{background-color:#f9f9f9;color:#296e07;font-weight:bold;}
.list-ingame-td{display:inline-block;height:24px;line-height:24px;}
#ingamecat-cloudid{min-width:30px;padding:0 10px;}
#ingamecat-title{width:300px;height:26px !important;overflow:hidden;white-space:nowrap;padding:0 10px;}
#ingamecat-author{width:120px;padding:0 10px;overflow:hidden;white-space:nowrap;}
#ingamecat-xunzhang{position:relative;width:100px;}
#ingamecat-xunzhang-img{position:absolute;top:5px;}
#ingamecat-users{width:68px;text-align:left;}*/




/* =Plugins
----------------------------------------------- */

/*img#wpstats {
	display: block;
	margin: 0 auto;
	margin: 0 auto;
}


	.author-avatar {
		float: left;
		margin-top: 8px;
		margin-top: 0.571428571rem;
	}
	.author-description {
		float: right;
		width: 80%;
	}
	.site {
		margin: 0 auto;
		overflow: hidden;
	}
	.site-content {
	}
	body.template-front-page .site-content,
	body.attachment .site-content,
	body.full-width .site-content {
		width: 100%;
	}
	.widget-area {
		float: right;
		width: 26.041666667%;
	}
	.site-header h1,
	.site-header h2 {
		text-align: left;
	}
	.site-header h1 {
		font-size: 26px;
		font-size: 1.857142857rem;
		line-height: 1.846153846;
		margin-bottom: 0;
	}*/


/* =Single image attachment view
-------------------------------------------------------------- */

.article.attachment {overflow: hidden;}
.image-attachment div.attachment {text-align: center;}
.image-attachment div.attachment p {text-align: center;}
.image-attachment div.attachment img {display: block;height: auto;margin: 0 auto;max-width: 100%;}
.image-attachment .entry-caption {margin-top: 8px;margin-top: 0.571428571rem;}






