<a class="til" href="http://www.jx3pve.com/forum-67-1.html">JX3 RAID</a>
<div class="m-btn-group">
    <a class="u-btn-feedback" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365">投诉举报</a>
    <a class="u-btn-verif" href="http://www.jx3pve.com/home.php?mod=spacecp&ac=profile&op=verify" target="_blank">认证中心</a>
</div>
<div class="route">
    <a href="./">首页</a>$navigation
</div>

<div class="m-raid-nav">
    <a class="u-btn-raid" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">我要找团<span>查看团队招募</span><em>Join a team</em></a>
    <a class="u-btn-per" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13">我要招人<span>查看个人找团</span><em>Recruiting new members</em></a>
    <a class="u-btn-pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=9&fid=67">发布信息<span>发布信息</span><em>Post my information</em></a>
</div>


<div class="banner">
	<!--{block/977}-->
	<!--{ad/custom_1}-->
</div>

