<div class="m-face-view">
	<div class="m-default">
		<div class="m-short">
			<span class="img"><img src="{faceshot_value}" alt=""></span>
		</div>
		<div class="m-info">
			<div class="m-details">
				<p class="item"><em>脸型作者：</em><span>{faceauthor_value}</span></p>
				<p class="item"><em>作者微博：</em>
					<em class="u-face-weibo" id="w-weibo">{author_wb_value}</em>
					<span class="u-face-weibo-win" id="w-weibo-win"><iframe src="http://widget.weibo.com/relationship/followbutton.php?language=zh_cn&amp;width=136&amp;height=24&amp;uid={author_wb_value}&amp;style=1&amp;btn=red" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" width="117" height="24"></iframe></span>
				</p>
			</div>
			<div class="m-star"></div>
			<div class="m-down">
				<a class="u-btn-facedown" href="{facedown_value}">点击下载</a>
				<span class="counts"><em>累计下载次数：</em><span>{facedown_downloads}</span></span>
				<span class="tips">消耗<b>2</b>米币积分</span>
			</div>
			<div class="m-share">
				<span class="label">分享：</span>
				<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_tieba" data-cmd="tieba" title="分享到百度贴吧"></a><a href="#" class="bds_copy" data-cmd="copy" title="分享到复制网址"></a><a href="#" class="bds_print" data-cmd="print" title="分享到打印"></a></div>
				<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
			</div>
		</div>
	</div>
	<div class="m-extend">
		<div class="m-til"><h3>多角度</h3></div>
		<ul class="minipic">
			<li class="img">
				<span>正面影像</span>
				<img src="{face_shot1_value}">
			</li>
			<li class="img">
				<span>侧面影像</span>
				<img src="{face_shot2_value}">
			</li>
			<li class="img">
				<span>俯视影像</span>
				<img src="{face_shot3_value}">
			</li>
		</ul>
	</div>
</div>
<div class="m-til"><h3>作者说明</h3></div>