<a href="http://www.jx3pve.com/raid" class="pvx-header-logo">招募</a>
<div class="m-raid-nav pvx-header-nav">
	<ul>
		<li><a class="on" href="http://www.jx3pve.com/raid">团队首页<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">团队招募<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13">个人找团<i></i></a></li>
		<li><a href="#">捷报中心<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=9&fid=67">发布招募<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&sortid=13&fid=67">发布找团<i></i></a></li>
		<li><a href="">发布捷报<i></i></a></li>
		<li><a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=profile&op=verify" target="_blank">认证中心<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365" target="_blank">投诉举报<i></i></a></li>
	</ul>
</div>