<a href="http://www.jx3pve.com/face" class="logo">捏脸</a>
<div class="none m-face-nav pvx-header-nav">
	<ul>
		<li><a class="on" href="http://www.jx3pve.com/face">捏脸首页<i></i></a></li>
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=digest&digest=1">主编推荐<i></i></a></li>
		<!-- <li><a href="#">作者专辑<i></i></a></li> -->
		<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=heat&orderby=heats">热门排行<i></i></a></li>
		<li><a href="http://www.jx3pve.com/article-894-1.html" target="_blank">数据使用<i></i></a></li>
		<li><a class="pub" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=92">发布捏脸<i></i></a></li>
	</ul>
</div>