<ul class="w-category-nav ttp bm cl" id="thread_types">
<li id="ttp_all"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortall&amp;sortall=1">全部</a></li>
<li class="xw1 a"><a href="http://www.jx3pve.com/forum-67-1.html">团队招募信息<span class="xg1 num">346</span></a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=13">个人找团信息<span class="xg1 num">144</span></a></li>
</ul>

<div class="w-sortnav">
    <div class="w-sortnav-font ptn pbn mbm">
    <div id="fontsearch" class="tsm cl">
        
<div class="row">
<span class="label">服务器:</span>
            <div class="itembox">
                <ul class="cl">
                    <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=all" class="xi2">不限</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=1" class="xi2">电一|长安城</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=2" class="xi2">电一|龙争虎斗</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=3" class="xi2">电二|白帝城</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=4" class="xi2">电二|荻花宫</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=35" class="xi2">电二|风花雪月</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=6" class="xi2">电三|秦王殿</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=7" class="xi2">电三|金蛇漫舞</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=33" class="xi2">电三|比翼双飞</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=8" class="xi2">电四|日月明尊</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=9" class="xi2">电四|蝶恋花</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=11" class="xi2">电五|梦江南</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=12" class="xi2">电五|乾坤一掷</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=13" class="xi2">电五|幽月轮</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=14" class="xi2">电五|唯我独尊</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=15" class="xi2">电五|剑胆琴心</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=16" class="xi2">电五|斗转星移</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=36" class="xi2">电五|金榜题名</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=17" class="xi2">电六|红尘寻梦</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=18" class="xi2">电六|名动江湖</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=37" class="xi2">电六|春和景明</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=20" class="xi2">电七|雪月天枪</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=21" class="xi2">电七|情深似海</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=22" class="xi2">电八|亢龙有悔</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=23" class="xi2">电八|绝代天骄</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=24" class="xi2">电八|战无不胜</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=26" class="xi2">网一/二|叶芷青</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=27" class="xi2">网一/二|李忘生</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=28" class="xi2">网一/二|飞龙在天</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=29" class="xi2">网三|天鹅坪</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=30" class="xi2">网三|破阵子</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;fuwuqi=41" class="xi2">网三|鱼跃龙门</a></li>

                </ul>
            </div>
</div>

<div class="row">
<span class="label">团队性质:</span>
            <div class="itembox">
                <ul class="cl">
                    <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidnature=all" class="xi2">不限</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidnature=1" class="xi2">GKP</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidnature=2" class="xi2">DKP</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidnature=3" class="xi2">MKP</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidnature=4" class="xi2">ROLL</a></li>

                </ul>
            </div>
</div>

<div class="row">
<span class="label">团队类型:</span>
            <div class="itembox">
                <ul class="cl">
                    <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=all" class="xi2">不限</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=1" class="xi2">开荒进度团</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=2" class="xi2">有开荒金团</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=3" class="xi2">专业金团</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=4" class="xi2">亲友休闲团</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidsex=5" class="xi2">散人娱乐团</a></li>

                </ul>
            </div>
</div>

<div class="row">
<span class="label">时间（星期）:</span>
            <div class="itembox">
                <ul class="cl">
                    <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=all" class="xi2">不限</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=1" class="xi2">星期一</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=2" class="xi2">星期二</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=3" class="xi2">星期三</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=4" class="xi2">星期四</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=5" class="xi2">星期五</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=6" class="xi2">星期六</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtime=7" class="xi2">星期日</a></li>

                </ul>
            </div>
</div>

<div class="row">
<span class="label">时间（时间）:</span>
            <div class="itembox">
                <ul class="cl">
                    <li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=all" class="xi2">不限</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=1" class="xi2">上午</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=2" class="xi2">中午</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=3" class="xi2">下午</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=4" class="xi2">晚上</a></li>
<li><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9&amp;searchsort=1&amp;raidtimefull=5" class="xi2">午夜</a></li>

                </ul>
            </div>
</div>
    </div>
    </div>
<div class="w-sortnav-form">
    <form method="post" autocomplete="off" name="searhsort" id="searhsort" class="bm_c pns mfm cl" action="forum.php?mod=forumdisplay&amp;fid=67&amp;filter=sortid&amp;sortid=9">
        <input type="hidden" name="formhash" value="b2dd0c1a">
        
            <div class="row" style="float: left;width: 48%;height: 30px; overflow: hidden;">
                <span class="label">团队名称:</span>
                
                    
                        <input type="text" name="searchoption[76][value]" size="15" class="px vm" value="">
                    
                
            </div>
                    <div class="u-btnbox"><button type="submit" class="u-button-search" name="searchsortsubmit">搜索</button></div>
    </form>
    </div>
</div>