<!-- jx3pve:分类导航 -->
<ul class="m-face-nav">
	<li class="bg1"><a class="woman" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=212">御姐</a></li>
	<li class="bg2"><a class="girl" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=213">萝莉</a></li>
	<li class="bg3"><a class="man" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=211">成男</a></li>
	<li class="bg4"><a class="boy" href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=92&filter=typeid&typeid=214">正太</a></li>
</ul>

<!-- jx3pve:工具名称搜索 -->
<h2>作者作品搜索</h2>
<div class="m-face-search">
	<form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&amp;fid=92&amp;filter=sortid&amp;sortid=15">
		<input type="text" name="searchoption[101][value]" size="15" class="px vm" value="">
		<button type="submit" class="u-button-search" name="searchsortsubmit">搜索</button>
	</form>
	<div class="hot">
		<h3>热搜：</h3>
		<!--{block/1272}-->
	</div>
</div>

<!-- jx3pve:帮助文档 -->
<h2>帮助文档</h2>
<div class="m-face-help m-alist">
	<!--{block/1273}-->
</div>


<!-- jx3pve:帮助文档 -->
<h2>主编推荐</h2>
<div class="m-face-recommond m-downlist">
	<!--{block/1274}-->
</div>


<!-- jx3pve:帮助文档 -->
<h2>本周排行</h2>
<div class="m-face-toplist m-downlist">
	<!--{block/1275}-->
</div>