<ul id="jx3pve-map" class="filetree c-map">
	<li><span class="folder">综合</span>
		<ul>
			<li><span class="file"><a href="http://www.jx3pve.com" target="_blank">首页</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/bbs">论坛</a></span></li>
		</ul>
	</li>
	<li><span class="folder"><a href="">PVE</a></span>
		<ul>
			<li><span class="file"><a href="http://www.jx3pve.com/macro" target="_blank">官方宏</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/tool" target="_blank">工具区</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/role" target="_blank">职业专栏</a></span></li>
			<li><span class="folder">副本区</span>
				<ul id="folder21">
					<li><span class="file"><a href="http://www.jx3pve.com/fam" target="_blank">副本论坛</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/fb" target="_blank">副本专题</a></span></li>
				</ul>
			</li>
			<li><span class="file"><a href="http://www.jx3pve.com/raid" target="_blank">团队招募</a></span></li>
		</ul>
	</li>
	<li><span class="folder"><a href="">PVX</a></span>
		<ul>
			<li><span class="file"><a href="http://www.jx3pve.com/face" target="_blank">捏脸专栏</a></span></li>
			<li><span class="file fails">茶馆专栏</span></li>
			<li><span class="file fails">交易专栏</span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/pet" target="_blank">宠物专栏</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/video" target="_blank">视频专栏</a></span></li>
		</ul>
	</li>
	<li><span class="folder"><a href="">纪念堂</a></span>
		<ul>
			<li class="closed"><span class="folder">超级宏</span>
				<ul id="folder21">
					<li><span class="file"><a href="http://www.jx3pve.com/cloud" target="_blank">云端宏</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/forum-85-1.html" target="_blank">超级宏论坛</a></span></li>
				</ul>
			</li>
			<li><span class="file fails"><a href="http://www.jx3pve.com/forum.php?mod=forumdisplay&fid=321&filter=typeid&typeid=318&orderby=dateline" target="_blank">小雪读条</a></span></li>
			<li><span class="file fails"><a href="http://www.jx3pve.com/group.php" target="_blank">群组专栏</a></span></li>
		</ul>
	</li>
	<li><span class="folder">用户中心</span>
		<ul>
			<li class="closed"><span class="folder">个人中心</span>
				<ul id="folder21">
					<li><span class="file"><a href="http://www.jx3pve.com/home.php?mod=magic" target="_blank">道具中心</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/home.php?mod=task" target="_blank">任务中心</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/home.php?mod=medal" target="_blank">勋章中心</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=invite" target="_blank">激活码</a></span></li>
					<li><span class="file"><a href="http://www.jx3pve.com/home.php?mod=spacecp&ac=usergroup&do=list" target="_blank">VIP会员中心</a></span></li>
					<li><span class="file fails">积分兑换</span></li>
				</ul>
			</li>
			<li><span class="file"><a href="http://www.jx3pve.com/faq">帮助</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/feedback">反馈</a></span></li>
			<li><span class="file"><a href="http://www.jx3pve.com/portal.php?mod=portalcp&ac=article&catid=1&op=simple">推送头条</a></span></li>
		</ul>
	</li>
</ul>