<div class="pvx-title">
	<div class="m-title">
		<span class="sp">
		<!--{if $_G['forum_thread'][displayorder] == -2}-->({lang moderating})
		<!--{elseif $_G['forum_thread'][displayorder] == -3}-->({lang have_ignored})
		<!--{elseif $_G['forum_thread'][displayorder] == -4}-->({lang draft})
			<!--{if $post['first'] && $post['invisible'] == -3}-->
				<a class="psave" href="forum.php?mod=misc&action=pubsave&tid=$_G[tid]">{lang published}</a>
			<!--{/if}-->
		<!--{/if}-->
		</span>
		<a href="forum.php?mod=viewthread&tid=$_G[tid]$fromuid">$_G[forum_thread][subject]</a>
	</div>
	<div class="m-info">
		<span class="sort"><em>分类：</em>
			<!--{if $_G['forum_thread']['typeid'] && $_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}-->
			<!--{if !IS_ROBOT && ($_G['forum']['threadtypes']['listable'] || $_G['forum']['status'] == 3)}-->
					<a class="u-type" href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=typeid&typeid=$_G[forum_thread][typeid]">{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}
					</a>
				<!--{else}-->
					{$_G['forum']['threadtypes']['types'][$_G['forum_thread']['typeid']]}
				<!--{/if}-->
			<!--{/if}-->
			<!--{if $threadsorts && $_G['forum_thread']['sortid']}-->
				<a  class="u-sort" href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_G[forum_thread][sortid]">{$_G['forum']['threadsorts']['types'][$_G['forum_thread']['sortid']]}
				</a>
			<!--{/if}-->
		</span>
		<span class="author">
			<em>作者：</em>
			<img class="avt" src="http://www.jx3pve.com/uc_server/avatar.php?uid=$thread[authorid]&size=small" />
			<a class="name" href="home.php?mod=space&uid=$thread[authorid]" c="1"{if $groupcolor[$thread[authorid]]} style="color: $groupcolor[$thread[authorid]];"{/if}>
				$_G[forum_thread][author]
			</a>
		</span>
		<span class="time"><em>发布时间：</em><b class="e-time">$thread[dateline]</b></span>
		<span class="lastedit"><em>最后更新：</em><b class="e-time">$thread[lastedit]</b></span>
		<span class="views"><em>查看数：</em>$_G[forum_thread][views]</span>

		<!-- 只看作者 -->
		<!--{if $post['invisible'] == 0}-->
			<!--{if !IS_ROBOT && !$_GET['authorid'] && !$_G['forum_thread']['archiveid']}-->
				<a class="only" href="forum.php?mod=viewthread&tid=$post[tid]&page=$page&authorid=$post[authorid]" rel="nofollow">{lang thread_show_author}</a>
			<!--{elseif !$_G['forum_thread']['archiveid']}-->
				<a class="only" href="forum.php?mod=viewthread&tid=$post[tid]&page=$page" rel="nofollow">{lang thread_show_all}</a>
			<!--{/if}-->
		<!--{/if}-->

		<div id="fj" class="goto">
			<label class="z">{lang thread_redirect_postno}</label>
			<input type="text" class="px p_fre z" size="2" onkeyup="$('fj_btn').href='forum.php?mod=redirect&ptid=$_G[tid]&authorid=$_GET[authorid]&postno='+this.value" onkeydown="if(event.keyCode==13) {window.location=$('fj_btn').href;return false;}" title="{lang thread_redirect_postno_tips}" />
			<a href="javascript:;" id="fj_btn" class="z" title="{lang thread_redirect_postno_tips}"><img src="{IMGDIR}/fj_btn.png" alt="{lang thread_redirect_postno_tips}" class="vm" /></a>
		</div>
		
	</div>
</div>