<!-- PVX版回复信息卡 -->
<div class="c-replyer-pvx">

	<!-- 头像 -->
	<a class="avatar" href="home.php?mod=space&uid=$post[authorid]" target="_blank">$post[avatar]</a>

	<!-- 用户名 -->
	<a class="name" href="home.php?mod=space&uid=$post[authorid]" target="_blank" class="xi2"{if $post[groupcolor]} style="color: $post[groupcolor]"{/if}>$post[author]</a>

	<!-- 认证 -->
	<span class="verif">$authorverifys</span>

	<!-- 用户组 -->
	<a class="usergroup u-group u-group-$post[groupid]" href="home.php?mod=spacecp&ac=usergroup&gid=$post[groupid]"><em id="u-usergroup-id">$post[groupid]</em></a>

	<!-- 发布时间 -->
	<span class="time"><em>POST ON</em>$post[dateline]</span>

	<!-- 用户操作 -->
	<!--{if ($_G['group']['allowedituser'] || $_G['group']['allowbanuser'] || ($_G['forum']['ismoderator'] && $_G['group']['allowviewip'])) && !getstatus($post['status'], 5)}-->
		<p class="manage">
			<!--{if $_G['forum']['ismoderator'] && $_G['group']['allowviewip']}-->
				<a href="forum.php?mod=topicadmin&action=getip&fid=$_G[fid]&tid=$_G[tid]&pid=$post[pid]{if $_G['forum_auditstatuson']}&modthreadkey=$_GET[modthreadkey]{/if}" onclick="ajaxmenu(this, 0, 0, 2);doane(event)">IP</a>
			<!--{/if}-->
			<!--{if $_G['group']['allowedituser']}-->
				<a href="{if $_G['adminid'] == 1}admin.php?frames=yes&action=members&operation=search&uid=$post[authorid]&submit=yes{else}forum.php?mod=modcp&action=member&op=edit&uid=$post[authorid]{/if}" target="_blank">{lang edit}</a>
			<!--{/if}-->
			<!--{if $_G['group']['allowbanuser']}-->
				<!--{if $_G['adminid'] == 1}-->
					<a href="admin.php?action=members&operation=ban&username=$post[usernameenc]&frames=yes" target="_blank">{lang ban_member}</a>
				<!--{else}-->
					<a href="forum.php?mod=modcp&action=member&op=ban&uid=$post[authorid]" target="_blank">{lang ban_member}</a>
				<!--{/if}-->
			<!--{/if}-->
			<a href="forum.php?mod=modcp&action=thread&op=post&do=search&searchsubmit=1&users=$post[usernameenc]" target="_blank">{lang posts}</a>
			<!--{if $_G['adminid'] == 1}-->
				<a href="forum.php?mod=ajax&action=quickclear&uid=$post[authorid]" onclick="showWindow('qclear_$post[authorid]', this.href, 'get', 0)">{lang clear}</a>
			<!--{/if}-->
		</p>
	<!--{/if}-->
</div>