<!-- 评分 -->
<div class="c-star">
	<!--{if !IS_ROBOT && $post['first'] && !$_G['forum_thread']['archiveid']}-->
	<!--{if $post['invisible'] == 0}-->
		<div id="p_btn">

			<!-- 收藏 -->
			<a class="fav" href="home.php?mod=spacecp&ac=favorite&type=thread&id=$_G[tid]&formhash={FORMHASH}" id="k_favorite" onclick="showWindow(this.id, this.href, 'get', 0);" onmouseover="this.title = $('favoritenumber').innerHTML + ' {lang activity_member_unit}{lang thread_favorite}'" title="{lang fav_thread}">
				<i></i>
				<em>收藏</em>
				<span id="favoritenumber"{if !$_G['forum_thread']['favtimes']} style="display:none"{/if}>
					$_G['forum_thread']['favtimes']
				</span>
			</a>

			<!--{if ($_G['group']['allowrecommend'] || !$_G['uid']) && $_G['setting']['recommendthread']['status']}-->
			<!-- 点赞 -->
				<!--{if !empty($_G['setting']['recommendthread']['addtext'])}-->
				<a class="zan" id="recommend_add" href="forum.php?mod=misc&action=recommend&do=add&tid=$_G[tid]&hash={FORMHASH}" {if $_G['uid']}onclick="ajaxmenu(this, 3000, 1, 0, '43', 'recommendupdate({$_G['group']['allowrecommend']})');return false;"{else} onclick="showWindow('login', this.href)"{/if} onmouseover="this.title = $('recommendv_add').innerHTML + ' {lang activity_member_unit}$_G[setting][recommendthread][addtext]'" title="{lang maketoponce}">
					<i></i>
					<em>赞</em>
					<span id="recommendv_add"{if !$_G['forum_thread']['recommend_add']} style="display:none"{/if}>
						$_G[forum_thread][recommend_add]</span>
					</a>
				<!--{/if}-->

			<!-- 点踩 -->
				<!--{if !empty($_G['setting']['recommendthread']['subtracttext'])}-->
				<!-- <a class="cai" id="recommend_subtract" href="forum.php?mod=misc&action=recommend&do=subtract&tid=$_G[tid]&hash={FORMHASH}" {if $_G['uid']}onclick="ajaxmenu(this, 3000, 1, 0, '43', 'recommendupdate(-{$_G['group']['allowrecommend']})');return false;"{else} onclick="showWindow('login', this.href)"{/if} onmouseover="this.title = $('recommendv_subtract').innerHTML + ' {lang activity_member_unit}$_G[setting][recommendthread][subtracttext]'" title="{lang makebottomonce}">
					<i></i>
					<em>踩</em>
					<span id="recommendv_subtract"{if !$_G['forum_thread']['recommend_sub']} style="display:none"{/if}>
						$_G[forum_thread][recommend_sub]
					</span>
				</a> -->
				<!--{/if}-->
			<!--{/if}-->

			<!-- 加分 -->
			<!--{if $_G['group']['raterange'] && $post['authorid']}-->
				<a class="rate" href="javascript:;" id="ak_rate" onclick="showWindow('rate', 'forum.php?mod=misc&action=rate&tid=$_G[tid]&pid=$post[pid]', 'get', -1);return false;" title="{lang rate_position}">
					<i></i>
					<em>加分</em>
				</a>
			<!--{/if}-->

			<!--{hook/viewthread_useraction}-->
		</div>
	<!--{/if}-->
	<!--{/if}-->
	<!--{hook/viewthread_postsightmlafter $postcount}-->
	<!--{ad/thread/a_pb/1/$postcount}-->
</div>