<div id="pgt" class="w-pages w-pages-top bm bw0 pgs cl">
	<span id="fd_page_top">$multipage</span>
	<span class="pgb y" {if $_G[setting][visitedforums]}id="visitedforums" onmouseover="$('visitedforums').id = 'visitedforumstmp';this.id = 'visitedforums';showMenu({'ctrlid':this.id,'pos':'34'})"{/if} ><a href="forum.php">{lang return_index}</a></span>
	<!--{if !$_GET['archiveid']}-->
	<a class="u-btn-publish" href="javascript:;" id="newspecial" onmouseover="$('newspecial').id = 'newspecialtmp';this.id = 'newspecial';showMenu({'ctrlid':this.id})"{if !$_G['forum']['allowspecialonly'] && empty($_G['forum']['picstyle']) && !$_G['forum']['threadsorts']['required']} onclick="showWindow('newthread', 'forum.php?mod=post&action=newthread&fid=$_G[fid]')"{else} onclick="location.href='forum.php?mod=post&action=newthread&fid=$_G[fid]';return false;"{/if} title="{lang send_posts}">
		<span>发布作品</span>
		<img src="{IMGDIR}/pn_post.png" alt="{lang send_posts}" />
	</a><!--{/if}-->
	<a class="u-btn-ask" href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=2&extra=" target="_blank">交流讨论</a>
	<!--{hook/forumdisplay_postbutton_top}-->
</div>