<!-- jx3pve:w-route (forumdisplay.htm) -->
<div id="pt" class="w-route w-route-forumdisplay bm cl">
	<div class="route z">
		<a href="./" class="nvhm" title="{lang homepage}">$_G[setting][bbname]</a>$navigation
	</div>

	<div class="extend">
		<ul>
			<li><a href="javascript:void(0)" id="w-route-bztg">本版主编</a></li>
			<li><a href="http://www.jx3pve.com/misc.php?mod=faq" target="_blank" id="w-route-help">帮助指南</a></li>
			<li><a href="http://www.jx3pve.com/forum.php?mod=post&action=newthread&fid=365" target="_blank">建议投诉</a></li>
			<li><a href="javascript:void(0)" id="w-route-join">应聘版主</a></li>
		</ul>
		<div class="bzbox" id="w-route-bzbox">
			$moderatedby
		</div>
	</div>
</div>