.fb-comment{
	#comment{
		&.bm{
			border:none;
		}
		.bm_h{
			.none;
		}
	}	
}

.c-cmt{
	.c-cmt-header{

	}

	.c-cmt-top{
		.pr;padding:0;
		.clearfix;
		.c-cmt-avt{
			.pa;.lt(0,0);.size(auto);
			margin-right:20px;
			a{
				.db;
				img{
					.size(60px);
					padding:2px;
					border:1px solid #ddd;
					.r(4px);
					margin:0;
				}
			}
		}
		.c-cmt-textarea{
			float:none;
			margin-left:60px + 20px;
			.w(auto);
			border:1px solid #ddd;
			.h(80px);
			.area{
				padding:5px;
				textarea{
					border:none;
					.w(100%);
					.h(80px - 10px);
				}
			}
		}

		.ptn{padding:0 !important;}
		.c-cmt-pub{
			margin:10px 0;
			.size(100px,32px);
			.r(4px);.x;
			.normal;
			.fz(14px,32px);
			.fr;
			color:#fff;
			//background:url('@{url}fb/cmtbtn.png') no-repeat 0 0;
			background:#0084ff;
			border:none;
			&:hover{
				-webkit-filter:brightness(120%);
			}
		}
	}

	.c-cmt-content{
		.color(#555,#369,#c00);
	}
}

.portal-cmt-libox{
	.pr;
	.portal-cmtliavt{
		.pa;.lt(0,10px);
		img{
			.r(48px);
			padding:2px;
			border:1px solid #eee;
		}
	}
	.portal-cmtli{
		margin-left:58px;
		.mbm{
			margin-bottom:0px !important;
		}
		.portal-cmt-licontent{
			padding:5px 0;
			.quote{
				padding: 5px;
				border: 1px dashed #ddd;
				background: #f9f9f9;
			}
		}
		.portal-cmt-rplbt{
			.color(#999,#999,#c00);
		}
	}
}