.fb-header{
	@h:120px;
	.size(100%,@h);
	.pr;

	.m-fb-logo{
		.pa;.lt(0,0);
		.h(100%);
		//padding:0 20px;
		.x;
		.til{
			.db;.fl;
			.fz(52px,@h);
			.size(240px,100%);
			white-space:nowrap;
		}
		.name{
			.db;.fl;
			.fz(24px);
			em{.db;}
		}
	}

	.m-fb-nav{
		.fr;
		background-color:#fff;
		border:1px solid #eee;
		.r(2px);
		.h(100px);padding:10px 10px;

		ul{.clearfix;}
		li{.fl;margin:0 10px;}
		a{
			.db;
			.boss{
				background-repeat:no-repeat;
				background-position:0 0;
				.db;.size(@fb-boss-size);
				border:2px solid #eee;
				box-shadow:0 0 2px #ddd;
				.shark();
			}
			&.goback{
				i{
					.db;.h(80px);
				}
			}
			&.goback-1{
				i{
					border:2px solid #FDC205;
					.size(160px,80px);
				}
				span{color:#222;}
			}
			&.goback-2{
				i{
					border:2px solid #eee;
					background:url('@{url}fb/fb.png') no-repeat 0 0;
					.size(@fb-boss-size);
				}
			}
			span{
				.db;.x;
				.fz(13px,2);.bold;
				transition:0.1s ease-in-out;
			}
			&:hover,&.on{
				.boss,.sc{
					border-color:#FDC205;
				}
				span{
					color:#c00;
				}
				-webkit-filter:saturate(200%);
			}
		}

		.bossnav(@n,@i:1) when (@i =< @n) {
			.boss-@{i} i{
				background-position:-@fb-boss-size*(@i - 1) 0;
			}
			.bossnav(@n,(@i + 1));
		}
		.bossnav(20);
	}

}