@fb-boss-size:80px;
@fb-logo-w:220px;

.fb-container{
	background-color:#f7f7f7;
	padding:20px 0;
	.clearfix;
	a:hover{color:#c00;}
}

.fb-header{
	margin-bottom:20px;
}

.fb-sidebar{
	.fl;.w(@fb-logo-w);
	margin-right:20px;
	background-color:#fff;
	min-height:200px;
	.r(4px);
	padding:0 10px 10px 10px;
}

.fb-content{
	.fl;.w(@wp - @fb-logo-w - 20px - 20px);
	//background-color:#fff;
	min-height:200px;
}