//夜守孤城
.fb-yeshou{
	.fb-header .goback-1 i{
		background:url('@{url}fb/yeshou/yeshou.png') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/yeshou/boss.png');
	}
	.fb-header .m-fb-logo{
		.til{
			color:#fff;
		}
		.name{
			color:#fff;
			padding-left:30px;
			padding-top:20px;
		}
	}
}

.fb-yeshou-1{
	//background:url('@{url}fb/yeshou/1.jpg') #000 no-repeat center top;
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1evihvbwopzj21hc18gdr9.jpg') #000 no-repeat center top;
}
.fb-yeshou-2{
	//background:url('@{url}fb/yeshou/2.jpg') #893d13 no-repeat center top;
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1evip8m8r3mj21hc17w1kx.jpg') #000 no-repeat center top;
}
.fb-yeshou-3{
	//background:url('@{url}fb/yeshou/3.jpg') #01140e no-repeat center top;
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1evihvsktf0j21hc17wkif.jpg') #01140e no-repeat center top;
}



//逐虎驱狼
.fb-zhuhu{
	.fb-header .goback-1 i{
		background:url('@{url}fb/zhuhu/zhuhu.png') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/zhuhu/boss.png');
	}
	.fb-header .m-fb-logo{
		.til{
			color:#fff;
		}
		.name{
			color:#fff;
			padding-left:30px;
			padding-top:20px;
		}
	}
}

.fb-zhuhu-1{
	//background:url('@{url}fb/zhuhu/1.jpg') #ebc9d9 no-repeat center top;
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1evihvw5qptj21hc1jk14e.jpg') #ebc9d9 no-repeat center top;
}
.fb-zhuhu-2{
	//background:url('@{url}fb/zhuhu/2.jpg') #893d13 no-repeat center top;
	background:url('http://ww2.sinaimg.cn/large/bcc700eegw1evihw02flpj21hc15oncg.jpg') #893d13 no-repeat center top;
}
.fb-zhuhu-3{
	//background:url('@{url}fb/zhuhu/3.jpg') #2b2316 no-repeat center top;
	background:url('http://ww2.sinaimg.cn/large/bcc700eegw1evihw4b0q8j21hc15otlh.jpg') #2b2316 no-repeat center top;
}
.fb-zhuhu-4{
	//background:url('@{url}fb/zhuhu/4.jpg') #e68219 no-repeat center top;
	background:url('http://ww2.sinaimg.cn/large/bcc700eegw1evihwggvjnj21hc15ou0x.jpg') #e68219 no-repeat center top;
}