.fb-yeshou{

	background:url('@{url}fb/yeshou/bg.jpg') #000 no-repeat center top;
	background-size:100% auto;

	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/yeshou/boss.png');
	}

}

.fb-zhuhu{
	//background:url('@{url}fb/zhuhu/bg.jpg') #000 no-repeat center top;
	//background-size:100% auto;
	background-color:#000;

	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/zhuhu/boss.png');
	}
}