//五人副本
.fb-jdqx{
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/jdqx/bossnav.png');
	}
	.fb-header .m-fb-logo{
		.name{.none;}
	} 
}
.fb-jdqx-1{
	.fb-header .m-fb-logo .til{color:#fff;}
}


//仙侣庭院
.fb-xlty{
	.fb-header .goback-1 i{
		//background:url('@{url}fb/zhuhu/zhuhu.png') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/xlty/boss.png');
	}
	.fb-header .m-fb-logo{
		.til{.w(320px);}
		.name{.none;}
	} 
}


//花月别院
.fb-hyby{
	.fb-header .goback-1 i{
		//background:url('@{url}fb/zhuhu/zhuhu.png') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/hyby/boss2.png');
	}
}

.fb-jdqx-1{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1ewjrlczibij21hc15oe81.jpg') #6E4B25 no-repeat 0 0;
}
.fb-jdqx-2{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1ewjrllmibrj21hc15o7wh.jpg') #26351E no-repeat 0 0;
}
.fb-jdqx-3{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1ewjrl31d3fj21hc15o1bv.jpg') #E39FD0 no-repeat 0 0;
}
.fb-jdqx-4{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1ewjrkrmdfej21hc15o1kx.jpg') #5BCBF9 no-repeat 0 0;
}
.fb-jdqx-5{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1ewjrkxs23fj21hc15o1fu.jpg') #7DAD59 no-repeat 0 0;
}
