//五人副本
.fb-jdqx{
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/jdqx/bossnav.png');
	}
	.fb-header .m-fb-logo{
		.name{.none;}
	} 
}
.fb-jdqx-1{
	.fb-header .m-fb-logo .til{color:#fff;}
}


.fb-jdqx-1{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1ewjrlczibij21hc15oe81.jpg') #6E4B25 no-repeat top center;
}
.fb-jdqx-2{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1ewjrllmibrj21hc15o7wh.jpg') #26351E no-repeat top center;
}
.fb-jdqx-3{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1ewjrl31d3fj21hc15o1bv.jpg') #E39FD0 no-repeat top center;
}
.fb-jdqx-4{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1ewjrkrmdfej21hc15o1kx.jpg') #5BCBF9 no-repeat top center;
}
.fb-jdqx-5{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1ewjrkxs23fj21hc15o1fu.jpg') #7DAD59 no-repeat top center;
}



//仙侣庭院
.fb-xlty{
	.fb-header .goback-1 i{
		background:url('@{url}fb/xlty/all.jpg') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/xlty/boss.jpg');
	}
	.fb-header .m-fb-logo{
		.name{.none;}
	} 
}
.fb-xlty-1{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1exdnt7anicj21hc17w1bl.jpg') #50abac no-repeat top center;
}
.fb-xlty-2{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1exdnta13u2j21hc17wtu6.jpg') #127a93 no-repeat top center;
}
.fb-xlty-3{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1exdntdh3ivj21hc17wu06.jpg') #eac4af no-repeat top center;
}
.fb-xlty-4{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1exdntg1h0vj21hc17wnfr.jpg') #6797a5 no-repeat top center;
}
.fb-xlty-5{
	background:url('http://ww2.sinaimg.cn/large/bcc700eegw1exdntjkposj21hc17whcd.jpg') #e9c5ab no-repeat top center;
}


//花月别院
.fb-hyby{
	.fb-header .goback-1 i{
		background:url('@{url}fb/hyby/all.jpg') no-repeat 0 0;
	}
	.fb-header .m-fb-nav a .boss{
		background-image: url('@{url}fb/hyby/boss2.jpg');
	}
}

.fb-hyby-1{
	background:url('http://ww4.sinaimg.cn/large/bcc700eegw1exdo4aqq6kj21hc17wtzl.jpg') #f3d6aa no-repeat top center;
}
.fb-hyby-2{
	background:url('http://ww3.sinaimg.cn/large/bcc700eegw1exdo4d6ummj21hc17wtv8.jpg') #185a3f no-repeat top center;
}
.fb-hyby-3{
	background:url('http://ww1.sinaimg.cn/large/bcc700eegw1exdo4g4k1lj21hc17wb05.jpg') #eab686 no-repeat top center;
}


.fb-xlty,.fb-hyby{
	.fb-content .m-fb-news .m-news{.none;}
	.fb-content .m-fb-news .m-jieshuo{float:none;.w(auto);}
}