.fb-index{
	background: url("http://ww3.sinaimg.cn/large/bcc700eegw1ei8mys68hcj21hc10idnp.jpg") no-repeat #000 top center;
	.clearfix;

	.m-fb-inews{
		background:url('@{url}fb/zt/fb_news_bg2.png') no-repeat 0 0;
		height: 304px;
		width: 587px;
		margin-bottom:40px;
		.pr;
		.more{
			.pa;.rt(10px,40px);
			.color(#ae8710,#e0b32b);
		}
		ul{
			padding:90px 10px 20px 40px;
			li{
				a{
					.db;.fz(12px,2);
					.color(#ae8710,#e0b32b);
					em{
						.color(#999);
						.fr;
					}
					&:hover{
						//border-bottom:1px dotted #e0b32b;
						em{color:#ccc;}
					}
				}
			}
		}
	}

	.m-fb-iblock{
		.fl;
		.iblock{
			ul{
				padding-left:100px;
				padding-top:100px;
			}
			li{
				margin-bottom:68px;
			}
			a{
				.db;.size(491px,159px);
				transition:0.2s ease-in-out;
				&:hover{
					-webkit-filter:brightness(120%);
				}
			}
		}
		.iblock-95{
			background:url('@{url}fb/zt/95.png') no-repeat 0 0;
		}
		.iblock-90{
			background:url('@{url}fb/zt/90.png') no-repeat 0 0;
		}
		.iblock-80{
			background:url('@{url}fb/zt/80.png') no-repeat 0 0;
		}
		.iblock-70{
			background:url('@{url}fb/zt/70.png') no-repeat 0 0;
		}
	}

	.m-fb-izlp{
		.fl;
		.w(530px);
		margin-left:50px;
		margin-top:100px;
		ul{
			//padding-top:100px;
		}
		li{
			padding-left:50px;
			background:url('@{url}fb/zt/time.png') no-repeat 0 0;
		}
		.time-0{
			.h(50px);
			min-height:50px;
			padding-left:50px;
			background:url('@{url}fb/zt/timex.png') no-repeat 0 0;
		}
		.time-jdqx{padding-bottom:450px;}
		.time-cx{padding-bottom:250px;}
		.time-zy{padding-bottom:600px}
		.time-xz{padding-bottom:0;}
		.time-as{padding-bottom:220px;}
		.time-ry{padding-bottom:280px;}
		.time-eh{padding-bottom:0;}
		.time-zh{padding-bottom:50px;}
		.time-yd{padding-bottom:180px;}
	}
}