<!--{template common/header}-->
<div class="zlp-container zlp-jdqx">
	<div class="wp">
		<div class="zlp-main">
			<!-- 头部 -->
			<div class="zlp-header">
				<a class="m-logo" href="http://www.jx3pve.com/jdqx">
					剑胆琴心
				</a>
				<div class="m-nav">
					<h1>【剑胆琴心】</h1>
					<ul>
						<li><a class="" href="javascript:void(0)">独家福利</a></li>
						<li><a class="" href="javascript:void(0)">长歌门</a></li>
						<li><a class="" href="javascript:void(0)">PVE</a></li>
						<li><a class="" href="javascript:void(0)">PVX</a></li>
						<li><a class="" href="javascript:void(0)">PVP</a></li>
						<li><a class="" href="http://zt.jx3.xoyo.com/zt/2015/09/15/exp/index.html" target="_blank">体服资格</a></li>
						<li><a class="" href="http://xw.jx3.xoyo.com/cs/" target="_blank">体服下载</a></li>
					</ul>
				</div>
			</div>
			<!-- 内容区 -->
			<div class="zlp-content">
				<div class="m-block">
					<h2>独家福利<span>独家专稿 不定期活动 全方位前瞻</span><i class="folder"></i></h2>
					<div class="m-ct m-tabbox">
						<ul class="navbox">
							<li class="on">最新资讯</li>
							<li>独家壁纸</li>
						</ul>
						<div class="ctbox">
							<div class="ctbox-item">
								<div class="m-video"><!--{block/1421}--></div>
								<div class="m-active"><!--{block/1415}--></div>
							</div>
							<div class="ctbox-item" style="display:none"><!--{block/1416}--></div>
						</div>
					</div>
				</div>
				<div class="m-block">
					<h2>长歌门<span>95新门派 一大波小号党来袭</span><i class="folder"></i></h2>
					<div class="m-ct">
						<!--{block/1417}-->
					</div>
				</div>
				<div class="m-block">
					<h2>PVE<span>新副本、职业改动、新宏、新辅助工具 齐齐上阵</span><i class="folder"></i></h2>
					<div class="m-ct">
						<!--{block/1418}-->
					</div>
				</div>
				<div class="m-block">
					<h2>PVX<span>新宠 新马 新挂件 新玩意 统统都到碗里来</span><i class="folder"></i></h2>
					<div class="m-ct">
						<!--{block/1419}-->
					</div>
				</div>
				<div class="m-block">
					<h2>PVP<span>新赛季 新据点 新玩法 全面备战</span><i class="folder"></i></h2>
					<div class="m-ct">
						<!--{block/1420}-->
					</div>
				</div>
				<div class="m-block">
					<h2>讨论补充<span>来说两句吧</span><i class="folder"></i></h2>
					<div class="m-ct">
						<!--{subtemplate jx3pve/c_sdk_cmt}-->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="http://js.jx3pve.com/js/page/page-zlp.js"></script>
<!--{template common/footer}-->