.zlp-jdqx{
	padding:20px 0;
	background:url('http://ww2.sinaimg.cn/large/bcc700eegw1ew8wxstezoj21hc0nz16c.jpg') #f5f5f8 no-repeat center top;

.zlp-main{
	.w(920px);
}
.zlp-header{
	.m-logo{
			.db;
			.indent;
			.h(146px);
			background:url('@{url}zlp/jdqx/jdqxlogo.png') no-repeat 0 0;
	}
	.m-nav{
		.fzlh(15px,44px);
		background-color:#063a4a;
		.clearfix;
		h1{.fl;background-color:#990000;}
		ul{.fl;}
		li{.fl;}
		a{.db;padding:0 10px;}
		.color(#eee,#eee,#06f7f7);
		.r(3px);
		margin-bottom:20px;
	}
}
.zlp-content{
	.m-block{
		border:1px solid #ddd;
		.clear;
		background-color:#fff;
		.r(4px);
		margin-bottom:20px;

		&.folder{
			h2{
				.r(4px);
			}
			h2 i{
				background-position:0 0;
			}
			.m-ct{
				.none;
			}
		}
	}

	h2{
		.pr;
		.fz(13px,3);.bold;
		padding:0 10px;
		border-bottom:1px solid #ddd;
		background-color:#f7f7f7;
		.r(4px 4px 0 0);
		span{
			color:#888;
			.fz(12px);
			margin-left:10px;
			.normal;
		}
		i{
			.pa;.rt(10px,5px);
			.size(24px);
			.db;
			background:url('@{url}fb/arrow.png') no-repeat 0 -24px;
			.pointer;
			user-select:none;
		}
	}

	.m-ct{
		padding:10px;
		.color(#666,#555,@bluex);
		.fz(12px,2);
		min-height:100px;
		.clearfix;
	}

	h3{
		color:#444;
	}

	h3 i{
		.size(16px);.dbi;.y(-3px);margin-right:3px;
	}

	.m-tabbox{
		.navbox{
			.clearfix;
			border:1px solid #ddd;
			li{
				.fl;border-right:1px solid #ddd;
				padding:3px 8px;.pointer;
				&.on,&:hover{
					background-color:#f2f2f2;
					.bold;
				}
				&.on{
					color:#444;
					&:hover{
						color:#444;
					}
				}
				&:hover{
					color:#c00;
				}
				user-select:none;
			}
		}
		.ctbox{
			.ctbox-item{
				padding:10px;
				strong{.bold;line-height:2.5;.db;color:#369;}
			}
		}
	}

	table{
		color:#555;
		width:100%;
		margin-bottom:10px;
		td,th{
			.fz(12px,2.2);
			padding:2px 5px;
			border:1px solid #ccc;
			min-width:80px;
		}
	}
}

.c-cmt{border:none;}
.c-cmt-header{.none;}

.m-active{
	margin-right:420px;
	ul li a{
		.pr;
		.db;
		.fzlh(12px,2.2);
		border-bottom:1px dashed #ddd;
		em{
			.pa;.rt(0,0);
			color:#999;
		}
		&:hover{
			background-color:#f7f7f7;
			em{color:@yel;}
		}
	}
}
.m-video{
	.fr;
	.w(400px);
}
.c-wall{
	a{.h(158px);.clip;}
}


}